@if (Model != null)
{
    <InputSelect class="medium color-selector" @bind-Value=Value>
        <option value="">Select a color...</option>
        @foreach (var color in Model)
        {
            <option value="@color.Value">
                @color.Key
            </option>
        }
    </InputSelect>
}

@code {
    IDictionary<string, string>? Model;
    [Parameter] public required Kit Kit { get; set; }
    private string? _value;
    [Parameter] public string? Value
    {
        get => _value;
        set
        {
            if (_value == value ) return;
            _value = value;
            ValueChanged.InvokeAsync(value);
        }
    }
    [Parameter] public EventCallback<string> ValueChanged { get; set; }

    protected override void OnInitialized()
    {
        Model = Kit.Current.Colors.ToDictionary(x => x.Name, x => x.Value.HexValue);
    }
}
