    <InputSelect @bind-Value=Value>
        <option value="">Select a weight...</option>
        @foreach (var weight in Font.ValidWeights)
        {
        <option value="@weight.Key">
            @weight.Value (@weight.Key)
        </option>
        }
</InputSelect>

@code {
    private string _value;
    [Parameter]
    public string Value
    {
        get => _value;
        set
        {
            if (_value == value) return;
            _value = value;
            ValueChanged.InvokeAsync(value);
        }
    }
    [Parameter] public EventCallback<string> ValueChanged { get; set; }
}
