@import "../../_variables.scss";

.page {
    background: $background;
    padding: 10px 80px 100px 80px;

    @media screen and (max-width: 780px) {
        padding: 0 40px 100px 40px;
    }

    @media screen and (max-width: 500px) {
        padding: 0 25px 100px 25px;
    }

    &__container {
        width: 100%;
        max-width: 1024px;
        margin: 0 auto;
        position: relative;
    }

    .title {
        font-size: 14px;
        line-height: 120%;
        letter-spacing: 0.02em;
        color: $primary500;
        padding-bottom: 6px;
    }

    p {
        max-width: 672px;
    }

    header {
        padding-bottom: 25px;

        p {
            color: $gray700;
            padding-top: 12px;
        }
    }

    .subheader {
        color: $gray700;
        max-width: 496px;
        font-size: 16px;
    }

    .button--save {
        color: $gray900;
        font-size: 16px;
        padding: 8px 16px;
        background: transparent;
        border: 1px solid $gray900;

        img, svg {
            margin-left: 10px;
            vertical-align: middle;
            margin-top: -2px;
        }

        svg path {
            fill: $gray900;
        }
    }

    label {
        font-size: 14px;
        line-height: 180%;
        color: $gray700;
    }

    input, select, textarea {
        margin: 0 30px 20px 0;
        background: $white;
        border: 1px solid $gray300;
        box-sizing: border-box;
        border-radius: 4px;
        padding: 8px 16px;
        display: block;
        margin: 0 30px 20px 0;
        font-size: 16px;
        line-height: 160%;
        height: 40px;
        color: $gray700;
        cursor: pointer;
    }

    textarea {
        min-height: 100px;
    }

    input {
        cursor: text;
    }

    pre {
        border-radius: 0px 0px 8px 8px;
        margin: 0px 0 50px 0;
        overflow: hidden;
        background: #282c34;
        padding: 0 0 0 20px;
        width: 100%;
        max-width: 1024px;
    }

    .section, section {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 40px;

        &-container {
            display: block;
        }

        .preview {
            max-width: 496px;
            width: 100%;
            min-height: 87px;
        }

        .large {
            width: 486px;
        }

        .medium {
            width: 302px
        }

        .small {
            width: 142px;
        }

        > div {
            display: flex;
        }
    }

    .content {
        padding-bottom: 100px;
/*
        p {
            margin: 0 0 32px;
        }*/
    }

    .preview-example {
        background: $white;
        border: 1px solid $white;
        box-sizing: border-box;
        border-radius: 8px 8px 0px 0px;
        color: $gray900;
        font-family: 'Inter';

        &--body {

            p {
                width: 100%;
            }

            .large {
                color: $gray900;
                font-size: 20px;
                line-height: 160%;
            }

            .medium {
                color: $gray900;
                font-size: 17px;
                line-height: 160%;
            }

            .small {
                color: $gray900;
                font-size: 14px;
                line-height: 160%;
            }
        }
    }

    .show-link {
        background: $white;
        padding: 8px 14px;
        border-radius: 6px;
        border: 1px solid $gray300;
        display: block;
        margin-top: 16px;
        font-size: 14px;
    }

    .delete {
        cursor: pointer;
        margin: -4px 0 0 15px;
        font-size: 19px;
        vertical-align: middle;
    }
}