@import "../../_variables.scss";

.page {
    background: $background;
    padding: 80px 80px 100px 80px;

    @media screen and (max-width: 780px) {
        padding: 0 40px 100px 40px;
    }

    @media screen and (max-width: 500px) {
        padding: 0 25px 100px 25px;
    }

    &__container {
        width: 100%;
        margin: 0 auto;
        position: relative;
    }

    header {
        &.page--header {
            padding-bottom: 100px;

            .title {
                font-family: 'QuantaGroteskPro';
                font-weight: 400;
                font-size: 14px;
                line-height: 120%;
                color: #CCCCCC;
            }

            h2 {
                margin-bottom: 20px;
                font-family: 'QuantaGroteskPro';
                font-weight: 700;
                font-size: 40px;
                line-height: 120%;
                color: $white;
            }

            p {
                padding-top: 0px;
                font-family: 'EncodeSans';
                font-weight: 400;
                font-size: 18px;
                line-height: 160%;
                color: $grey-300;
            }
        }
    }

    .subheader {
        font-family: 'EncodeSans';
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        color: $grey-300;
    }

    .content {
        padding-bottom: 100px;
    }

    section {
        padding-top: 40px;
        border-top: 1px solid rgba(200, 200, 200, 0.3);

        header {
            margin-bottom: 40px;
            color: $white;

            h3 {
                font-family: 'QuantaGroteskPro';
                font-weight: 500;
                font-size: 20px;
                line-height: 120%;
                color: $white;

                span {
                    margin-right: 6px;
                    vertical-align: middle;
                    font-size: 14px;
                    line-height: 100%;
                }
            }

            p {
                margin-top: 10px;
                font-family: 'EncodeSans';
                font-weight: 400;
                font-size: 16px;
                line-height: 160%;
                color: #F2F2F2;
            }
        }

        .inputs--wrapper {
            display: flex;
            gap: 20px;
            flex-wrap: wrap;
        }

        .preview-example {
            padding-bottom: 0px;

            label {
                font-family: 'EncodeSans_Expanded';
                font-weight: 300;
                font-size: 13px;
                line-height: 100%;
                color: rgba(255,255,255, 0.8);
                margin-bottom: 10px;
            }
        }

        h4 {
            margin-bottom: 10px;
            font-family: 'QuantaGroteskPro';
            font-weight: 500;
            font-size: 16px;
            line-height: 160%;
            color: $white;
        }
    }

    section, .subsection {
        width: 100%;
        padding-bottom: 100px;

        header {
            &.flex, .flex {
                display: flex;
                gap: 24px;

                span {
                    margin-right: 6px;
                    vertical-align: middle;
                    font-size: 14px;
                    line-height: 100%;
                }

                p {
                    margin-top: -2px;
                }
            }
        }

        &-container {
            display: block;
        }

        .preview {
            max-width: 496px;
            width: 100%;
            min-height: 87px;
        }
        /*.large {
        width: 486px;
    }

    .medium {
        width: 302px
    }

    .small {
        width: 142px;
    }*/
    }

    .button--save {
        color: $grey-900;
        font-size: 16px;
        padding: 8px 16px;
        background: transparent;
        border: 1px solid $grey-900;
        transition: transform 0.3s ease-in-out;

        img, svg {
            margin-left: 10px;
            vertical-align: middle;
            margin-top: -2px;
        }

        svg path {
            fill: $grey-900;
        }

        &:hover {
            transform: scale(1.05, 1.05);
        }
    }

    label {
        font-family: 'EncodeSans_Expanded';
        font-weight: 300;
        font-size: 13px;
    }

    input, select, textarea {
        padding: 5px 12px;
        border-radius: 4px;
        margin: 0;
        margin-bottom: 5px;
        background: #292929;
        border: none;
        font-family: 'EncodeSans';
        font-weight: 400;
        font-size: 14px;
        line-height: 160%;
        color: $white;

        &:focus {
            box-shadow: none;
        }
    }

    select {
        cursor: pointer;
    }

    textarea {
        min-height: 100px;
    }

    input {
        cursor: text;

        &.large {
            width: 100%;
        }
    }

    input[type=number] {
        max-width: 144px;
    }

    .preview-example-container {
        margin-top: 40px;

        .preview-example {
            padding: 44px;
            box-sizing: border-box;
            border: 1px solid rgba(255, 255, 255, 0.3);
            border-radius: 39px;
            color: $white;

            &-flex {
                display: flex;
                flex-wrap: wrap;

                > * {
                    margin: 0px 30px 30px 0;
                }
            }

            &--body {
                p {
                    width: 100%;
                }

                .large {
                    color: $white;
                    font-size: 20px;
                    line-height: 160%;
                }

                .medium {
                    color: $white;
                    font-size: 17px;
                    line-height: 160%;
                }

                .small {
                    color: $white;
                    font-size: 14px;
                    line-height: 160%;
                }
            }
        }

        .preview-info {
            margin-top: 20px;
            margin-bottom: 40px;
            font-family: 'EncodeSans';
            font-style: normal;
            font-weight: 200;
            font-size: 14px;
            line-height: 160%;
            color: $white;

            a {
                text-decoration: underline;
            }
        }

        pre {
            width: 100%;
            padding: 32px 0px 32px 44px;
            border: 1px solid rgba(255, 255, 255, 0.3);
            border-radius: 24px;
            overflow: hidden;
            background: #17171A;

            code {
                padding: 0px;
                padding-right: 44px;
                background: #17171A;
                max-height: 304px;
                overflow-x: hidden !important;
                overflow-y: auto;
                white-space: pre-wrap;
                font-family: 'FiraCode';
                font-weight: 400;
                font-size: 13px;
                line-height: 24px;
                color: #CA9100;
                /*&::-webkit-scrollbar {
            width: 0px;
        }*/

                .hljs-tag {
                    color: #979797;
                }

                .hljs-name {
                    color: #875BBF;
                }

                .hljs-attr {
                    color: #E46886;
                }

                .hljs-string {
                    color: #A3A60E;
                }
            }
        }
    }

    pre {
        width: 100%;
        padding: 32px 0px 32px 44px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 24px;
        overflow: hidden;
        background: #17171A;

        code {
            padding: 0px;
            padding-right: 44px;
            background: #17171A;
            max-height: 304px;
            overflow-x: hidden !important;
            overflow-y: auto;
            white-space: pre-wrap;
            font-family: 'FiraCode';
            font-weight: 400;
            font-size: 13px;
            line-height: 24px;
            color: #CA9100;
            /*&::-webkit-scrollbar {
            width: 0px;
        }*/

            .hljs-tag {
                color: #979797;
            }

            .hljs-name {
                color: #875BBF;
            }

            .hljs-attr {
                color: #E46886;
            }

            .hljs-string {
                color: #A3A60E;
            }
        }
    }

    .show-link {
        background: $white;
        padding: 8px 14px;
        border-radius: 6px;
        border: 1px solid $grey-300;
        display: block;
        margin-top: 16px;
        font-size: 14px;
    }

    .delete {
        cursor: pointer;
        margin: -4px 0 0 15px;
        font-size: 19px;
        vertical-align: middle;
    }
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translate(0px, 0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translate(0px, 0);
    }
}

.fadeInUp {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    animation-delay: 0.3s;
}