@import "../../_variables.scss";

.page {
    background: $background;
    padding: 10px 80px 100px 80px;
    font-family: 'Inter', sans-serif;


    @media screen and (max-width: 780px) {
        padding: 0 40px 100px 40px;
    }

    @media screen and (max-width: 500px) {
        padding: 0 25px 100px 25px;
    }

    &__container {
        width: 100%;
        max-width: 1024px;
        margin: 0 auto;
        position: relative;
    }

    .title {
        font-size: 14px;
        line-height: 120%;
        letter-spacing: 0.02em;
        color: $primary500;
        padding-bottom: 6px;
    }

    p {
        max-width: 672px;
        line-height: 160%;
        font-size: 18px;
    }

    h2 {
        font-weight: 700;
        font-size: 40px;
        line-height: 120%;
        color: $gray900;
        margin: 0;
    }

    h4 {
        font-weight: 400;
        font-size: 16px;
        line-height: 19.2px;
        color: $gray700;
    }

    header {
        padding-bottom: 25px;

        h2 {
            font-weight: 700;
        }

        p {
            font-size: 18px;
            color: $gray700;
            padding-top: 12px;
        }
    }

    .subheader {
        color: $gray700;
        max-width: 496px;
        font-size: 16px;
    }

    button {
        color: $gray900;
        font-weight: 500;
        font-size: 16px;
        line-height: 19.2px;
        border-radius: 4px;
        border: 1px solid $gray900;
        background: $background;
        padding: 8px 16px;
        margin-top: 20px;
        cursor: pointer;

        img {
            margin-left: 10px;
            vertical-align: middle;
            margin-top: -2px;
        }
    }

    label {
        font-size: 14px;
        line-height: 180%;
        color: $gray700;
    }

    input, select {
        background: $white;
        border: 1px solid $gray300;
        box-sizing: border-box;
        border-radius: 4px;
        padding: 8px 16px;
        display: block;
        margin: 0 30px 20px 0;
        font-size: 16px;
        line-height: 160%;
        height: 40px;
        color: $gray700;
        cursor: pointer;
    }

    input{
        cursor: text;
    }

    pre {
        border-radius: 0px 0px 8px 8px;
        margin: -20px 0 50px 0;
        overflow: hidden;
        background: #282c34;
        padding: 0 0 20px 20px;
    }

    .section, section {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 40px;

        &-container {
            display: block;
        }

        .preview {
            max-width: 496px;
            width: 100%;
            min-height: 87px;
        }

        textarea {
            font-family: 'Inter';
            max-width: 496px;
            width: 100%;
            min-height: 87px;
            padding: 10px 16px;
            box-sizing: border-box;
            background: $white;
            border: 1px solid $gray300;
            border-radius: 4px;
            display: block;
            margin: 0 30px 20px 0;
            font-size: 16px;
            line-height: 160%;
            color: $gray700;
        }

        .large {
            width: 486px;
        }

        .medium {
            width: 302px
        }

        .small {
            width: 142px;
        }

        > div {
            display: flex;
        }
    }

    .content {
        padding-bottom: 100px;

        h3 {
            margin-bottom: 8px;
            font-weight: 500;
            font-size: 20px;
        }

        p {
            font-size: 16px;
            color: $gray500;
            margin: 0 0 32px;
        }
    }

    .preview-example {
        background: $white;
        border: 1px solid $white;
        box-sizing: border-box;
        border-radius: 8px 8px 0px 0px;
        color: $gray900;
        font-family: 'Inter';

        h1 {
            font-weight: 400;
            font-size: 48px;
            line-height: 120%;
            padding: 0;
            margin: 0;
        }

        h2 {
            font-weight: 400;
            font-size: 39px;
            line-height: 120%;
            padding: 0;
            margin: 0;
        }

        h3 {
            font-weight: 400;
            font-size: 31px;
            line-height: 120%;
            padding: 0;
            margin: 0;
        }

        h4 {
            font-weight: 400;
            font-size: 25px;
            line-height: 120%;
            padding: 0;
            margin: 0;
        }

        h5 {
            font-weight: 400;
            font-size: 20px;
            line-height: 120%;
            padding: 0;
            margin: 0;
        }

        h6 {
            font-weight: 400;
            font-size: 16px;
            line-height: 120%;
            padding: 0;
            margin: 0;
        }

        label {
            font-size: 14px;
            line-height: 180%;
            color: $gray500;
            padding-bottom: 32px;
            font-family: 'Inter', sans-serif;
        }

        p {
            color: $gray900;
            font-family: Roboto Mono;
            font-weight: 400;
            font-size: 12px;
            line-height: 120%;
            padding: 0;
            margin: 0;
        }

        &--body {

            p {
                width: 100%;
            }

            .large {
                color: $gray900;
                font-size: 20px;
                line-height: 160%;
            }

            .medium {
                color: $gray900;
                font-size: 17px;
                line-height: 160%;
            }

            .small {
                color: $gray900;
                font-size: 14px;
                line-height: 160%;
            }
        }
    }

    .show-link {
        background: $white;
        padding: 8px 14px;
        border-radius: 6px;
        border: 1px solid $gray300;
        display: block;
        margin-top: 16px;
        font-size: 14px;
    }

    .delete {
        cursor: pointer;
        margin: -4px 0 0 15px;
        font-size: 19px;
        vertical-align: middle;
    }
}