@import "../../_variables.scss";

.switch {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 21px;
    margin-right: 14px;

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $background;
        border: 2px solid $gray400;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 20px;

        &:before {
            position: absolute;
            content: "";
            height: 13px;
            width: 13px;
            left: 3px;
            bottom: 2px;
            border-radius: 50%;
            background-color: $gray400;
            -webkit-transition: .4s;
            transition: .4s;
        }
    }

    input {
        opacity: 0;
        width: 0;
        height: 0;

        &:checked + .slider {
            background-color: $background;
            border: 2px solid $primary500;

            &:before {
                -webkit-transform: translateX(12px);
                -ms-transform: translateX(12px);
                transform: translateX(12px);
                background-color: $primary500;
            }
        }
    }
}
