//Primary Colors
$primary-100: #B3CDFF;
$primary-300: #80ACFF;
$primary-500: #0B5FFF;
$primary-700: #0053F0;
$primary-900: #004AD7;

//Secondary Colors
$secondary-100: #A1CBFF;
$secondary-300: #6DAEFF;
$secondary-500: #4B9BFF;
$secondary-700: #2782F4;
$secondary-900: #126FE4;

//Tertiary Colors
$tertiary-100: #FFDEC0;
$tertiary-300: #FFCC9C;
$tertiary-500: #FFB46E;
$tertiary-700: #F89B45;
$tertiary-900: #EB8629;
