@import "../../_variables";

.anchors {
    .preview-example {
        a {
            display: inline-block;
            margin: 16px;
        }
    }

    .section label {
        margin-right: 16px;
    }
}