@page  "/anchors"
@page  "/anchors/{kitId}"

<div class="anchors page">
    <div class="page__container">
        <header>
            <div class="title">Elements</div>
            <h2>Anchor Links</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus.
            </p>
        </header>
        <div class="content">
            <h3>Link Styling</h3>
            <p class="subheader">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus.
            </p>
            @if (kit != null)
            {
                <EditForm Model="@kit">
                    <div class="section">
                        <label>
                            Font Size
                            <input placeholder="16px"/>
                        </label>
                        <label>
                            Font Weight
                            <select>
                                <option>Light (300)</option>
                                <option selected>Regular (400)</option>
                                <option>Medium (500)</option>
                                <option>Bold (700)</option>
                            </select>
                        </label>
                    </div>
                    <h4>Link States</h4>
                    <div class="section">
                        <label>
                            Default
                            <input type="color" value="#17171A">
                        </label>
                        <label>
                            Hover
                            <input type="color" value="#0B5FFF">
                        </label>
                        <label>
                            Visited
                            <input type="color" value="#7FABFF">
                        </label>
                        <label>
                            Active
                            <input type="color" value="#00BFB2">
                        </label>
                    </div>
                    <div class="preview-example">
                        <a href="#">Default</a>
                        <a href="#" class="hover">Hover</a>
                        <a href="#" class="visited">Visited</a>
                        <a href="#" class="active">Active</a>
                    </div>
                    <div class="code-example">
                        <code>
 
                        </code>
                    </div>
                    <button @onclick="Submit">
                        Save & Continue
                        <img src="/images/eyecon.svg" />
                    </button>
                </EditForm>
            }
        </div>
    </div>
</div>

@code {
    private Kit kit = new Kit();
    [Parameter] public string kitId { get; set; }

    protected override void OnInitialized()
    {

    }

    private async Task Submit()
    {
        Nav.NavigateTo("/lists/" + kit.Id);
    }
}
