@import "../../wwwroot/CoreStyles/Core/Colors.scss";

.buttons {
    .preview-example {
        padding: 32px;
        display: block;

        button {
            background: $primary-500;
            border: 1px solid $primary-500;
            color: $white;
            font-weight: 500;
            font-size: 16px;
            line-height: 120%;
            padding: 8px 16px;
            border-radius: 4px;
            margin-top: 0;
            margin-bottom: 24px;
            /*&:hover {
                background: $primary-300;
                color: $white;
            }*/

            &:disabled {
                color: $grey-300;
                background: $grey-100;
                border: 1px solid $grey-100;
            }
        }

        button.secondary {
            color: $secondary-500;
            background: $white;
            border: 1px solid $secondary-500;
            /*&:hover {
                background: $secondary-100;
                border: 1px solid $secondary-300;
                color: $secondary-300;
            }*/

            &:disabled {
                background: $white;
                color: $grey-300;
                border: 1px solid $grey-300;
            }
        }
        //Do we want the Hover constantly active?
        .hover {
            background: $primary-300;
            color: $white;

            &-secondary {
                background: $secondary-100;
                border: 1px solid $secondary-300;
                color: $secondary-300;
            }
        }

        img {
            vertical-align: middle;
            margin: 0;
            margin-top: -2px;
        }
    }

    section {
        display: flex;
        flex-wrap: wrap;
    }
    //This is for the Switch Slider
    .switch {
        position: relative;
        display: inline-block;
        width: 45px;
        height: 24px;
        margin-right: 14px;

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: $grey-300;
            border: 2px solid $primary-500;
            -webkit-transition: .4s;
            transition: .4s;
            border-radius: 20px;

            &:before {
                position: absolute;
                content: "";
                height: 15px;
                width: 15px;
                left: 3px;
                bottom: 3px;
                border-radius: 50%;
                background-color: $primary-500;
                -webkit-transition: .4s;
                transition: .4s;
            }
        }

        input {
            opacity: 0;
            width: 0;
            height: 0;

            &:checked + .slider {
                background-color: $background;
                border: 2px solid $primary-500;

                &:before {
                    -webkit-transform: translateX(20px);
                    -ms-transform: translateX(20px);
                    transform: translateX(20px);
                }
            }

            &:focus + .slider {
                box-shadow: 0 0 1px $primary-500;
            }
        }
    }
}