@inherits HighlightPageBase
@page "/{kitId}/buttons"

<div class="buttons page">
    <div class="page__container">
        <header>
            <div class="title">Elements</div>
            <h2>Buttons</h2>
            <p>
                A clickable button. Most often for use in forms, to submit entered information.
            </p>
        </header>
        <div class="content">
            <h3>Core Buttons</h3>
            <p class="subheader">
                Primary and secondary button stylings are inherited from selected base style colors.
            </p>
            @if (Model != null)
            {
                <EditForm Model="@Model">
                    <div class="section">
                        <label>
                            Font Size (px)
                            <InputNumber @bind-Value="Model.FontSize" @oninput="Submit" min="1" class="small" />
                        </label>
                        <label>
                            Font Weight
                            <FontWeights @bind-Value="Model.FontWeight" @bind-Value:event="OnValueChanged" />
                        </label>
                        <label>
                            Vertical Padding (px)
                            <InputNumber @bind-Value="Model.VerticalPadding" @oninput="Submit" min="0" class="small" />
                        </label>
                        <label>
                            Horizontal Padding (px)
                            <InputNumber @bind-Value="Model.HorizontalPadding" @oninput="Submit" min="0" class="small" />
                        </label>
                        <label>
                            Corner Radius (px)
                            <InputNumber @bind-Value="Model.CornerRadius" @oninput="Submit" min="0" class="small" />
                        </label>
                        <label>
                            Border Width (px)
                            <InputNumber @bind-Value="Model.BorderWidth" @oninput="Submit" min="0" class="small" />
                        </label>
                        <label>
                            Icon Width (px)
                            <InputNumber @bind-Value="Model.IconWidth" @oninput="Submit" min="0" class="small" />
                        </label>
                        <label>
                            Icon Height (px)
                            <InputNumber @bind-Value="Model.IconHeight" @oninput="Submit" min="0" class="small" />
                        </label>
                    </div>

                    <label style="padding-bottom: 15px;">Secondary Button</label>
                    <div class="section">
                        <Switch @bind-Value=Model.RemoveSecondaryBorder Title="Remove Secondary Button Border" />
                    </div>

                    <Preview>
                        <button>Button</button>
                        <button>
                            <KodekitLogoSvg />
                            Button
                        </button>
                        <button>
                            Button
                            <KodekitLogoSvg />
                        </button>
                        <button>
                            <KodekitLogoSvg />
                        </button>
                        <button class="secondary">Button</button>
                        <button class="secondary">
                            <KodekitLogoSvg />
                            Button
                        </button>
                        <button class="secondary">
                            Button
                            <KodekitLogoSvg />
                        </button>
                        <button class="secondary">
                            <KodekitLogoSvg />
                        </button>
                    </Preview>
                    <pre>
                    <code>
    &lt;button&gt;Button Label&lt;/button&gt; &lt;!--default--&gt;
    &lt;!-- the button contents will adapt as you add labels, svgs, pngs or jpegs --&gt;
    &lt;button&gt;&lt;img src="icon_eye.svg" alt="Image of Kodekit Eye" /&gt;Button Label&lt;/button&gt;
    &lt;button&gt;Button Label &lt;img src="icon_eye" alt="Image of Kodekit Eye"&gt;&lt;/button&gt;
    &lt;button&gt;&lt;img src="icon_eye" alt="Image of Kodekit Eye" /&gt;&lt;/button&gt;
                            </code>
                        </pre>
                    <h3>Button Variations & States</h3>
                    <p class="subheader">
                        Hover styling is applied upon mouseover. Disabled styling is applied when a user cannot interact with the button. Icons may be added to buttons for further variation or illustrative purposes.
                    </p>
                    <div class="preview-example">
                        <div>
                            <button>Default</button>
                            <button>
                                Default
                                <KodekitLogoSvg />
                            </button>
                            <button class="hover">Hover</button>
                            <button class="hover">
                                Hover
                                <KodekitLogoSvg />
                            </button>
                            <button disabled="disabled">Disabled</button>
                            <button disabled="disabled">
                                Disabled
                                <KodekitLogoSvg />
                            </button>
                        </div>
                        <div>
                            <button class="secondary">Default</button>
                            <button class="secondary">
                                Default
                                <KodekitLogoSvg />
                            </button>
                            <button class="secondary hover">Hover</button>
                            <button class="secondary hover">
                                Hover
                                <KodekitLogoSvg />
                            </button>
                            <button class="secondary" disabled="disabled">Disabled</button>
                            <button class="secondary" disabled="disabled">
                                Disabled
                                <KodekitLogoSvg />
                            </button>
                        </div>
                    </div>
                    <pre>
                    <code>
    &lt;!-- control button state with html attributes --&gt;
    &lt;button&gt;Button Label&lt;/button&gt;  &lt;!--default--&gt;
    &lt;button disabled&gt;Button Label&lt;/button&gt;
    &lt;button class="secondary-btn"&gt;Button Label&lt;/button&gt;
    &lt;button class="secondary-btn" disabled&gt;Button Label&lt;/button&gt;
                            </code>
                        </pre>
                </EditForm>
            }
        </div>
    </div>
</div>

@code {
    [Parameter] public string kitId { get; set; }
    UpdateButtonsModel Model;

    protected override async Task OnInitializedAsync()
    {
        Model = await PublicApi().GetButtonsAsync(kitId);
    }

    private async Task Submit()
    {
        await PublicApi().UpdateButtonsAsync(Model);
    }
}
