@inherits HighlightPageBase<UpdateButtonsModel>
@page "/{kitId}/buttons"

<div class="buttons page">
    <div class="page__container">
        <header class="page--header fadeInUp">
            <div class="title">Elements</div>
            <h2>Buttons</h2>
            <p class="subheader">
                A clickable button. Most often for use in forms, to submit entered information.
            </p>
        </header>
        <div class="content">
            @if (Model != null)
            {
                <EditForm EditContext="@Context">
                    <section class="fadeInUp" style="animation-delay: 0.6s;">
                        <header class="flex">
                            <h3><span>01</span> Core Buttons</h3>
                            <p class="subheader">
                                Primary and secondary button stylings are inherited from selected base style colors.
                            </p>
                        </header>
                        <div class="inputs--wrapper fadeInUp" style="animation-delay: 0.9s;">
                            <label>
                                <InputNumber @bind-Value="Model.FontSize" min="1" />
                                Font Size (px)
                            </label>
                            <label>
                                <InputFontWeight @bind-Value="Model.FontWeight" />
                                Font Weight
                            </label>
                            <label>
                                <InputNumber @bind-Value="Model.VerticalPadding" min="0" />
                                Vertical Padding (px)
                            </label>
                            <label>
                                <InputNumber @bind-Value="Model.HorizontalPadding" min="0" />
                                Horizontal Padding (px)
                            </label>
                            <label>
                                <InputNumber @bind-Value="Model.CornerRadius" min="0" />
                                Corner Radius (px)
                            </label>
                            <label>
                                <InputNumber @bind-Value="Model.BorderWidth" min="0" />
                                Border Width (px)
                            </label>
                            <label>
                                <InputNumber @bind-Value="Model.IconWidth" min="0" />
                                Icon Size (px)
                            </label>
                        </div>
                        <div class="secondary-button fadeInUp" style="animation-delay: 1.2s;">
                            <Switch @bind-Value=Model.RemoveSecondaryBorder Title="Secondary Button" />
                        </div>
                        <div class="preview--wrapper fadeInUp" style="animation-delay: 1.5s;">
                            <Preview Kit=kit>
                                <button name="Preview Button">Button</button>
                                <button>
                                    <KodekitLogoSvg />
                                    Button
                                </button>
                                <button name="Preview Button">
                                    Button
                                    <KodekitLogoSvg />
                                </button>
                                <button name="Preview Button">
                                    <KodekitLogoSvg />
                                </button>
                                <button name="Preview Button" class="secondary">Button</button>
                                <button name="Preview Button" class="secondary">
                                    <KodekitLogoSvg />
                                    Button
                                </button>
                                <button name="Preview Button" class="secondary">
                                    Button
                                    <KodekitLogoSvg />
                                </button>
                                <button name="Preview Button" class="secondary">
                                    <KodekitLogoSvg />
                                </button>
                            </Preview>
                        </div>
                    </section>

                    <section class="fadeInUp" style="animation-delay: 1.5s;">
                        <header class="flex">
                            <h3><span>02</span> Button Variations & States</h3>
                            <p class="subheader">
                                Hover styling is applied upon mouseover. Disabled styling is applied when a user cannot interact with the button. Icons may be added to buttons for further variation or illustrative purposes.
                            </p>
                        </header>
                        <Preview Kit=kit ExampleAnimationDelay="1.8s" CodeAnimationDelay="2.1s">
                            <div>
                                <button name="Preview Button">Default</button>
                                <button>
                                    Default
                                    <KodekitLogoSvg />
                                </button>
                                <button name="Preview Button" class="hover">Hover</button>
                                <button name="Preview Button" class="hover">
                                    Hover
                                    <KodekitLogoSvg />
                                </button>
                                <button name="Preview Button" disabled="disabled">Disabled</button>
                                <button name="Preview Button" disabled="disabled">
                                    Disabled
                                    <KodekitLogoSvg />
                                </button>
                            </div>
                            <div>
                                <button name="Preview Button" class="secondary">Default</button>
                                <button name="Preview Button" class="secondary">
                                    Default
                                    <KodekitLogoSvg />
                                </button>
                                <button name="Preview Button" class="secondary hover">Hover</button>
                                <button name="Preview Button" class="secondary hover">
                                    Hover
                                    <KodekitLogoSvg />
                                </button>
                                <button name="Preview Button" class="secondary" disabled="disabled">Disabled</button>
                                <button name="Preview Button" class="secondary" disabled="disabled">
                                    Disabled
                                    <KodekitLogoSvg />
                                </button>
                            </div>
                        </Preview>
                    </section>
                </EditForm>
            }
        </div>
    </div>
</div>

@code {
    protected override async Task<UpdateButtonsModel> GetAsync()
    {
        return await PublicApi().GetButtonsAsync(kitId);
    }

    protected override async Task<Kit> UpdateAsync()
    {
        return await PublicApi().UpdateButtonsAsync(Model);
    }
}
