@inherits HighlightPageBase
@page "/{kitId}/buttons"

<div class="buttons page">
    <div class="page__container">
        <header>
            <div class="title">Elements</div>
            <h2>Buttons</h2>
            <p>
                A clickable button. Most often for use in forms, to submit entered information.
            </p>
        </header>
        <div class="content">
            <h3>Core Buttons</h3>
            <p class="subheader">
                Primary and secondary button stylings are inherited from selected base style colors.
            </p>
            @if (Model != null)
            {
                <EditForm EditContext="@Context">
                    <div class="section">
                        <label>
                            Font Size (px)
                            <InputNumber @bind-Value="Model.FontSize" min="1" />
                        </label>
                        <label>
                            Font Weight
                            <FontWeights @bind-Value="Model.FontWeight" />
                        </label>
                        <label>
                            Vertical Padding (px)
                            <InputNumber @bind-Value="Model.VerticalPadding" min="0" />
                        </label>
                        <label>
                            Horizontal Padding (px)
                            <InputNumber @bind-Value="Model.HorizontalPadding" min="0" />
                        </label>
                        <label>
                            Corner Radius (px)
                            <InputNumber @bind-Value="Model.CornerRadius" min="0" />
                        </label>
                        <label>
                            Border Width (px)
                            <InputNumber @bind-Value="Model.BorderWidth" min="0" />
                        </label>
                        <label>
                            Icon Width (px)
                            <InputNumber @bind-Value="Model.IconWidth" min="0" />
                        </label>
                        <label>
                            Icon Height (px)
                            <InputNumber @bind-Value="Model.IconHeight" min="0" />
                        </label>
                    </div>

                    <label style="padding-bottom: 15px;">Secondary Button</label>
                    <div class="section">
                        <Switch @bind-Value=Model.RemoveSecondaryBorder Title="Remove Secondary Button Border" />
                    </div>

                    <Preview Kit=kit>
                        <button>Button</button>
                        <button>
                            <KodekitLogoSvg />
                            Button
                        </button>
                        <button>
                            Button
                            <KodekitLogoSvg />
                        </button>
                        <button>
                            <KodekitLogoSvg />
                        </button>
                        <button class="secondary">Button</button>
                        <button class="secondary">
                            <KodekitLogoSvg />
                            Button
                        </button>
                        <button class="secondary">
                            Button
                            <KodekitLogoSvg />
                        </button>
                        <button class="secondary">
                            <KodekitLogoSvg />
                        </button>
                    </Preview>
                    
                    <h3>Button Variations & States</h3>
                    <p class="subheader">
                        Hover styling is applied upon mouseover. Disabled styling is applied when a user cannot interact with the button. Icons may be added to buttons for further variation or illustrative purposes.
                    </p>
                    <Preview Kit=kit>
                        <div>
                            <button>Default</button>
                            <button>
                                Default
                                <KodekitLogoSvg />
                            </button>
                            <button class="hover">Hover</button>
                            <button class="hover">
                                Hover
                                <KodekitLogoSvg />
                            </button>
                            <button disabled="disabled">Disabled</button>
                            <button disabled="disabled">
                                Disabled
                                <KodekitLogoSvg />
                            </button>
                        </div>
                        <div>
                            <button class="secondary">Default</button>
                            <button class="secondary">
                                Default
                                <KodekitLogoSvg />
                            </button>
                            <button class="secondary hover">Hover</button>
                            <button class="secondary hover">
                                Hover
                                <KodekitLogoSvg />
                            </button>
                            <button class="secondary" disabled="disabled">Disabled</button>
                            <button class="secondary" disabled="disabled">
                                Disabled
                                <KodekitLogoSvg />
                            </button>
                        </div>
                    </Preview>
                </EditForm>
            }
        </div>
    </div>
</div>

@code {
    [Parameter] public string kitId { get; set; }
    Kit kit;
    UpdateButtonsModel Model;
    EditContext Context;

    protected override async Task OnInitializedAsync()
    {
        kit = await PublicApi().GetKitAsync(kitId);
        Model = await PublicApi().GetButtonsAsync(kitId);
        Context = new EditContext(Model);
        Context.OnFieldChanged += HandleFieldChanged;
    }

    private async void HandleFieldChanged(object sender, FieldChangedEventArgs e)
    {
        kit = await PublicApi().UpdateButtonsAsync(Model);
    }
}
