@page  "/selectors"
@page  "/selectors/{kitId}"

<div class="effects page">
    <div class="page__container">
        <header>
            <div class="title">Elements</div>
            <h2>Selectors & Toggles</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus.
            </p>
        </header>
        <div class="content">
            <h3>Style & States</h3>
            <p class="subheader">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus.
            </p>
            @if (kit != null)
            {
                <EditForm Model="@kit">
                    <div class="section">
                        <label>
                            Label Font Size
                            <span style="background-color: @kit.PrimaryColor"></span>
                            <InputText @bind-Value="kit.PrimaryColor" />
                        </label>
                        <label>
                            Label Font Weight
                            <span style="background-color: @kit.SecondaryColor"></span>
                            <select>
                                <option>Option 1</option>
                                <option>Option 2</option>
                                <option>Option 3</option>
                            </select>
                        </label>
                        <label>
                            Active Color
                            <span style="background-color: @kit.TertiaryColor"></span>
                            <select>
                                <option>Primary (500)</option>
                                <option>Option 2</option>
                                <option>Option 3</option>
                            </select>
                        </label>
                    </div>
                    <h4>Secondary Button</h4>
                    <div class="section">
   

                    </div>
                    <div class="preview-example">
                        <label>
                            <input type="radio"/>
                        </label>
                    </div>
                    <div class="code-example">
                        <code>

                        </code>
                    </div>
                    <button @onclick="Submit">
                        Save & Continue
                        <img src="/images/eyecon.svg" />
                    </button>
                </EditForm>
            }
        </div>
    </div>
</div>

@code {
    private Kit kit = new Kit();
    [Parameter] public string kitId { get; set; }

    protected override void OnInitialized()
    {

    }

    private async Task Submit()
    {
        //string newCss = new CreateCss().Execute(kit);

        //kit.Url = await new StorageContext().UploadString(newCss, kit.GUID.ToString() + ".css");
        //SaveColors();
    }
}
