@import "../../_variables";

.dropdowns {
    .preview-example {
        display: flex;
        flex-wrap: wrap;
        padding: 32px;

        select {
            height: unset;
        }
    }

    aside {
        margin-bottom: 40px;
        font-size: 12px;
        font-weight: 400;
        color: #B2B2B2;


        a {
            text-decoration: none;
            color: $white;
        }
    }

    .section {
        select {
            background: url("/images/dropdown-icon.svg") no-repeat right;
            -webkit-appearance: none;
            background-position-x: 125px;
        }
    }

    .section-container {
        display: flex;
        margin-top: 40px;

        .switch {
            vertical-align: middle;
        }

        p {
            font-family: 'EncodeSans_Expanded';
            font-weight: 300;
            font-size: 13px;
            margin-top: 2px;
        }
    }
}