@page  "/dropdowns"
@page  "/dropdowns/{kitId}"

<div class="effects page">
    <div class="page__container">
        <header>
            <div class="title">Elements</div>
            <h2>Dropdowns</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus.
            </p>
        </header>
        <div class="content">
            <h3>Dropdown Styling</h3>
            <p class="subheader">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus.
            </p>
            <div>This element inherits direct styling from <a href="/inputs">Inputs & Textareas</a> as defaults.</div>
            <div class="section-container">
                <label class="switch">
                    <input type="checkbox" checked>
                    <span class="slider"></span>
                </label>
                Overwrite inherited styling
            </div>
            @if (kit != null)
            {
                <EditForm Model="@kit">
                    <div class="section">
                        <label>
                            Input Font Size
                            <InputText @bind-Value="kit.PrimaryColor" />
                        </label>
                        <label>
                            Input Font Weight
                            <select>
                                <option selected>Regular (400)</option>
                                <option>Bold (500)</option>
                            </select>
                        </label>
                        <label>
                            Vertical Padding
                            <InputText @bind-Value="kit.TertiaryColor" />
                        </label>
                        <label>
                            Horizontal Padding
                            <InputText @bind-Value="kit.PrimaryColor" />
                        </label>
                        <label>
                            Corner Radius
                            <InputText @bind-Value="kit.SecondaryColor" />
                        </label>
                        <label>
                            Border Width
                            <InputText @bind-Value="kit.TertiaryColor" />
                        </label>
                    </div>

                    <div class="preview-example">
                        <select>
                            <option selected>Dropdown Menu</option>
                            <option>Default Row</option>
                            <option>Default Row</option>
                            <option>Default Row</option>
                        </select>
                        <select>
                            <option selected>Dropdown Menu</option>
                            <option>Default Row</option>
                            <option>Default Row</option>
                            <option>Default Row</option>
                        </select>
                        <select>
                            <option selected>Dropdown Menu</option>
                            <option>Default Row</option>
                            <option>Default Row</option>
                            <option>Default Row</option>
                        </select>
                        <select>
                            <option selected>Dropdown Menu</option>
                            <option>Default Row</option>
                            <option>Default Row</option>
                            <option>Default Row</option>
                        </select>
                    </div>
                    <div class="code-example">
                        <code>

                        </code>
                    </div>
                    <button @onclick="Submit">
                        Save & Continue
                        <img src="/images/eyecon.svg" />
                    </button>
                </EditForm>
            }
        </div>
    </div>
</div>

@code {
    private Kit kit = new Kit();
    [Parameter] public string kitId { get; set; }

    protected override void OnInitialized()
    {

    }

    private async Task Submit()
    {
        //string newCss = new CreateCss().Execute(kit);

        //kit.Url = await new StorageContext().UploadString(newCss, kit.GUID.ToString() + ".css");
        //SaveColors();
    }
}
