@inherits HighlightPageBase
@page "/{kitId}/inputs"

<div class="inputs page">
    <div class="page__container">
        <header>
            <div class="title">Elements</div>
            <h2>Inputs & Textareas</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus.
            </p>
        </header>
        <div class="content">
            <h3>Form Styling</h3>
            <p class="subheader">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus.
            </p>
            @if (Model != null)
            {
                <EditForm Model="@Model">
                    <div class="section">
                        <div>
                            <label>
                                Input Font Size
                                <InputNumber @bind-Value="Model.FontSize" />
                            </label>
                            <label>
                                Input Font Weight
                                <FontWeights @bind-Value="Model.FontWeight" />
                            </label>
                        </div>
                        <div>
                            <label>
                                Vertical Padding
                                <InputNumber @bind-Value="Model.VerticalPadding" />
                            </label>
                            <label>
                                Horizontal Padding
                                <InputNumber @bind-Value="Model.HorizontalPadding" />
                            </label>
                            <label>
                                Corner Radius
                                <InputNumber @bind-Value="Model.CornerRadius" />
                            </label>
                            <label>
                                Border Width
                                <InputNumber @bind-Value="Model.BorderWidth" />
                            </label>
                        </div>
                    </div>
                    <div class="preview-example">
                        <input placeholder="Placeholder" />
                        <label class="icon-space icon-space--nolabel">
                            <img src="/images/person-icon.svg" alt="Person Icon" />
                            <input placeholder="Placeholder" />
                        </label>
                        <textarea>Placeholder</textarea>
                    </div>
                    <pre>
                        <code>
&lt;input placeholder="Placeholder" /&gt;

&lt;label&gt;
    &lt;img src="icon.svg" alt="Icon" /&gt;
    &lt;input placeholder="Placeholder" /&gt;
&lt;/label&gt;

&lt;textarea&gt;Placeholder&lt;/textarea&gt;
                        </code>
                    </pre>
                    <h3>Input & Textarea states</h3>
                    <p class="subheader">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus.
                    </p>
                    <div class="preview-example">
                        <label class="icon-space">
                            Placeholder
                            <img src="/images/person-icon.svg" alt="Person Icon" />
                            <input placeholder="username" />
                            <span>Enter your username.</span>
                        </label>
                        <label class="selected icon-space">
                            Selected
                            <img src="/images/person-icon.svg" alt="Person Icon" />
                            <input placeholder="username" />
                            <span>Enter your username.</span>
                        </label>
                        <label class="icon-space">
                            Entered
                            <img src="/images/person-icon.svg" alt="Person Icon" />
                            <input placeholder="username" />
                            <span>Enter your username.</span>
                        </label>
                        <label class="error icon-space">
                            Error
                            <img src="/images/person-error-icon.svg" alt="Person Input Error Icon" />
                            <input value="username" />
                            <span>Username is taken.</span>
                        </label>
                        <label class="disabled icon-space">
                            Disabled
                            <img src="/images/person-disabled-icon.svg" alt="Person Input Disabled Icon" />
                            <input value="enter username" disabled />
                        </label>
                    </div>
                    <pre>
                    <code>
&lt;label class="icon-space"&gt;
    Placeholder
    &lt;img src="/images/person-icon.svg" alt="Person Icon" /&gt;
    &lt;input placeholder="username" /&gt;
    &lt;span&gt;Enter your username.&lt;/span&gt;
&lt;/label&gt;
                </code>
            </pre>
                    <SaveAndContinue OnSubmit=Submit NextPage="selectors" /> 
                </EditForm>
            }
        </div>
    </div>
</div>

@code {
    [Parameter] public string kitId { get; set; }
    UpdateInputsModel Model;

    protected override async void OnInitialized()
    {
        Model = await PublicApi().GetInputsAsync(kitId);
    }

    private async Task Submit()
    {
        await PublicApi().UpdateInputsAsync(Model);
    }
}
