@import "../../_variables";

.inputs {

    .section {
        input {
            box-sizing: border-box;
            width: 144px;
            height: 40px;
        }

        select {
            width: 232px;
        }
    }

    .preview-example {
        display: flex;
        flex-wrap: wrap;
        padding: 24px 32px;

        > * {
            margin: 0px 30px 30px 0;
        }

        input {
            height: unset;
        }
    }
}