@import "../../_variables";

.inputs {
    section {
        .inputs--wrapper {
            gap: 20px;

            div {
                label:first-of-type {
                    margin-bottom: 20px;
                }
            }
        }
    }

    .preview-example {
        display: flex;
        flex-wrap: wrap;
        padding: 24px 32px;

        > * {
            margin: 0px 30px 30px 0;
        }

        input {
            height: unset;
        }
    }
}