@inherits HighlightPageBase
@page "/{kitId}/inputs"

<div class="inputs page">
    <div class="page__container">
        <header>
            <div class="title">Elements</div>
            <h2>Inputs & Textareas</h2>
            <p>
                Use to collect text input.
            </p>
        </header>
        <div class="content">
            <h3>Form Styling</h3>
            <p class="subheader">
                Input collects a single line of text, while a textarea can receive multiple lines of text.
            </p>
            @if (Model != null)
            {
                <EditForm Model="@Model">
                    <div class="section">
                        <div>
                            <label>
                                Input Font Size (px)
                                <InputNumber @bind-Value="Model.FontSize" @oninput="Submit" min="1" placeholder="16" />
                            </label>
                            <label>
                                Input Font Weight
                                <FontWeights @bind-Value="Model.FontWeight" @bind-Value:event="OnValueChanged" />
                            </label>
                        </div>
                        <div>
                            <label>
                                Vertical Padding (px)
                                <InputNumber @bind-Value="Model.VerticalPadding" @oninput="Submit" min="0" placeholder="8" />
                            </label>
                            <label>
                                Horizontal Padding (px)
                                <InputNumber @bind-Value="Model.HorizontalPadding" @oninput="Submit" min="0" placeholder="16" />
                            </label>
                            <label>
                                Corner Radius (px)
                                <InputNumber @bind-Value="Model.CornerRadius" @oninput="Submit" min="0" placeholder="4" />
                            </label>
                            <label>
                                Border Width (px)
                                <InputNumber @bind-Value="Model.BorderWidth" @oninput="Submit" min="0" placeholder="1" />
                            </label>
                        </div>
                    </div>

                    <Preview KitId=@kitId>
                        <label>
                            <input placeholder="Placeholder" />
                        </label>
                        <label>
                            <img src="/images/person-icon.svg" alt="Person Icon" />
                            <input placeholder="Placeholder" />
                        </label>
                        <textarea>Placeholder</textarea>
                    </Preview>

                    <h3>Input & Textarea states</h3>
                    <p class="subheader">
                        Placeholder text appears by default before any text has been entered by a user. Selected styling is applied when a user is typing into the input box. Entered styling is applied once the input has been filled out. Error styling is applied when requirements set on the form have not been fulfilled, and disabled styling is applied when a user is prevented from interacting with the input.
                    </p>

                    <Preview KitId=@kitId>
                        <label>
                            Placeholder
                            <img src="/images/person-icon.svg" alt="Person Icon" />
                            <input placeholder="username" />
                            <span>Enter your username.</span>
                        </label>
                        <label>
                            Selected
                            <img src="/images/person-icon.svg" alt="Person Icon" />
                            <input class="selected" placeholder="username" />
                            <span>Enter your username.</span>
                        </label>
                        <label>
                            Entered
                            <img src="/images/person-icon.svg" alt="Person Icon" />
                            <input value="Kodekit" />
                            <span>Enter your username.</span>
                        </label>
                        <label class="error">
                            Error
                            <img src="/images/person-error-icon.svg" alt="Person Input Error Icon" />
                            <input class="invalid" value="username" />
                            <span>Username is taken.</span>
                        </label>
                        <label class="disabled">
                            Disabled
                            <img src="/images/person-disabled-icon.svg" alt="Person Input Disabled Icon" />
                            <input value="enter username" disabled />
                            <span></span>
                        </label>
                    </Preview>
                </EditForm>
            }
        </div>
    </div>
</div>

@code {
    [Parameter] public string kitId { get; set; }
    UpdateInputsModel Model;

    protected override async Task OnInitializedAsync()
    {
        Model = await PublicApi().GetInputsAsync(kitId);
    }

    private async Task Submit()
    {
        await PublicApi().UpdateInputsAsync(Model);
    }
}
