@inherits HighlightPageBase<object>
@*@page  "/lists/{kitId}"*@

<div class="lists page">
    <div class="page__container">
        <header>
            <div class="title">Elements</div>
            <h2>Lists</h2>
            <p>
                Use lists to group a set of related items.
            </p>
        </header>
        <div class="content">
            <h3>Ordered & Unordered Styling</h3>
            <p class="subheader">
                Use the <code>&lt;ul&gt;</code> tag to start an unorderd list. Use the <code>&lt;ol&gt;</code> tag to start an ordered list.
            </p>
            @if (kit != null)
            {
                <EditForm Model="@kit">
                    <div class="section">
                        <label>
                            OL Style Type
                            <select>
                                <option selected>Upper-roman (IV)</option>
                                <option>Bold (500)</option>
                            </select>
                        </label>
                        <label>
                            UL Style Type
                            <select>
                                <option selected>None</option>
                                <option>Bold (500)</option>
                            </select>
                        </label>
                        <label>
                            Vertical Padding
                            <input placeholder="0px" />
                        </label>
                        <label>
                            Horizontal Padding
                            <input placeholder="0px">
                        </label>
                    </div>
                    <h4>List Item Styling</h4>
                    <div class="section">
                        <label>
                            List Item Font Size
                            <input placeholder="16px">
                        </label>
                        <label>
                            List Item Font Weight
                            <select>
                                <option selected>Regular (400)</option>
                                <option>Bold (500)</option>
                            </select>
                        </label>
                        <label>
                            Vertical Padding
                            <input placeholder="8px">
                        </label>
                        <label>
                            Horizontal Padding
                            <input placeholder="0px">
                        </label>
                    </div>
                    <div class="preview-example">
                        <ol>
                            <li>List Item</li>
                            <li>List Item</li>
                            <li>List Item</li>
                            <li>List Item</li>
                        </ol>
                        <ul>
                            <li>List Item</li>
                            <li>List Item</li>
                            <li>List Item</li>
                            <li>List Item</li>
                        </ul>
                    </div>
                    <pre>
                        <code>
&lt;ol&gt;
    &lt;li&gt;List Item&lt;/li&gt;
    &lt;li&gt;List Item&lt;/li&gt;
    &lt;li&gt;List Item&lt;/li&gt;
    &lt;li&gt;List Item&lt;/li&gt;
&lt;/ol&gt;

&lt;ul&gt;
    &lt;li&gt;List Item&lt;/li&gt;
    &lt;li&gt;List Item&lt;/li&gt;
    &lt;li&gt;List Item&lt;/li&gt;
    &lt;li&gt;List Item&lt;/li&gt;
&lt;/ul&gt;
                        </code>
                    </pre>
                    <SaveAndContinue OnSubmit=Submit NextPage="layout" />
                </EditForm>
            }
        </div>
    </div>
</div>

@code {
    protected override void OnInitialized()
    {

    }

    private async Task Submit()
    {
    }
}
