@import "../../_variables";

.selectors {
    .preview-example {
        display: flex;
        flex-wrap: wrap;
        padding: 25px 32px 40px 32px;;

        > div {
            padding-right: 50px;
        }

        label {
            display: flex;
            flex-direction: unset;
            padding: 5px 0;
            font-size: 16px;
            justify-content: left;
        }

        input {
            margin: 5px 12px 0 0;
            height: 20px;
            width: 20px;
        }
    }
}