@inherits HighlightPageBase
@page  "/{kitId}/selectors"

<div class="selectors page">
    <div class="page__container">
        <header>
            <div class="title">Elements</div>
            <h2>Selectors & Toggles</h2>
            <p>
                Radio and checkbox inputs allow for selection from a list of options. Radio allows a single selection of one option while checkbox allows for multiple selections.
            </p>
        </header>
        <div class="content">
            <h3>Style & States</h3>
            <p class="subheader">
                Active styling is applied when an option has been selected. Disabled styling is applied when a user cannot interact with or select a particular option.
            </p>

            @if (Model != null)
            {
                <EditForm EditContext="@Context">
                    <div class="section">
                        <label class="small">
                            Label Font Size (px)
                            <InputNumber @bind-Value="Model.FontSize" placeholder="16" min="1" />
                        </label>
                        <label>
                            Label Font Weight
                            <InputFontWeight @bind-Value="Model.FontWeight" />
                        </label>
                        <label>
                            Active Color
                            <InputColor KitId="@kitId" @bind-Value="Model.ActiveColor" />
                        </label>
                    </div>
                    <Preview Kit=kit>
                        <div>
                            <label>
                                <input type="checkbox" /> Default
                            </label>
                            <label>
                                <input type="checkbox" checked /> Active
                            </label>
                            <label>
                                <input type="checkbox" disabled /> Disabled
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" /> Default
                            </label>
                            <label>
                                <input type="radio" checked /> Active
                            </label>
                            <label>
                                <input type="radio" disabled /> Disabled
                            </label>
                        </div>
                    </Preview>
                </EditForm>
            }
        </div>
    </div>
</div>

@code {
    [Parameter] public string kitId { get; set; }
    Kit kit;
    UpdateSelectorsModel Model;
    EditContext Context;

    protected override async Task OnInitializedAsync()
    {
        Model = await PublicApi().GetSelectorsAsync(kitId);
        kit = await PublicApi().GetKitAsync(kitId);
        Context = new EditContext(Model);
        Context.OnFieldChanged += HandleFieldChanged;
    }

    private async void HandleFieldChanged(object sender, FieldChangedEventArgs e)
    {
        kit = await PublicApi().UpdateSelectorsAsync(Model);
    }
}
