//colors
$background: #F5F7FA;
$black: #000000;
$white: #FFFFFF;

$primary100: #EBF2FF;
$primary400: #3C7FFF;
$primary500: #0B5FFF;

$secondary100: #E5F7F6;
$secondary400: #2AD2C6;
$secondary500: #00BFB2;


$gray100: #F5F7FA;
$gray300: #D2D4D9;
$gray500: #787980;
$gray700: #3A3A40;
$gray900: #17171A;
$button-gray: #E7E7ED;
$dark-gray: #525151;

$light-gray: #979797;
$text-gray: #6B6C7E;
$text-primary: #272833;
$text-secondary: #393A4A;
$text-blue: #004AD7;

$yellow: #A3A60E;
$orange: #CA9100;
$purple: #875BBF;

