//colors
$background: #F5F7FA;
$black: #000000;
$white: #FFFFFF;

$primary100: #EBF2FF;
$primary400: #3C7FFF;
$primary500: #0B5FFF;

$secondary100: #E5F7F6;
$secondary400: #2AD2C6;
$secondary500: #72E5DD;


$gray100: #F5F7FA;
$gray300: #D2D4D9;
$gray400: #A9ACB2;
$gray500: #787980;
$gray700: #3A3A40;
$gray900: #17171A;

$dark-gray: #525151;
$light-gray: #979797;

$yellow: #A3A60E;
$orange: #FFB46E;
$purple: #875BBF;

$error: #F96464;


