//colors
$background: #F5F7FA;
$black: #000000;
$white: #FFFFFF;

$primary500: #0B5FFF;

$gray100: #F5F7FA;
$gray900: #17171A;
$button-gray: #E7E7ED;
$dark-gray: #525151;

$text-gray: #6B6C7E;
$text-primary: #272833;
$text-secondary: #393A4A;
$text-blue: #004AD7;
