@import "_variables";

//Components
@import "Components/Colors/ColorPalette";
@import "Components/Colors/ColorCard";
@import "Components/Colors/ColorBlotch";

@import "Shared/Components/pagelayout";
@import "Shared/Components/modal";
@import "Shared/Components/toggle-switch";

@import "Pages/Elements/Buttons";
@import "Pages/Elements/Anchors";
@import "Pages/Elements/Inputs";
@import "Pages/Elements/Lists";
@import "Pages/Elements/Dropdowns";
@import "Pages/Elements/Selectors";
@import "Pages/BaseStyles/Colors";
@import "Pages/BaseStyles/Icons";
@import "Pages/BaseStyles/Layout";
@import "Pages/BaseStyles/Typography";
@import "Pages/BaseStyles/GlobalSettings";
@import "Pages/BaseStyles/PreviewPage";
@import "Pages/Effects/BoxShadow";
@import "Pages/Introduction";
@import "Pages/Installation";
@import "Pages/Themes";
@import "Pages/UserKits";
@import "Pages/KitCard";
@import "Pages/ReleaseNotes";

@import "Shared/MainLayout";
@import "Shared/SimplifiedLayout";
@import "Shared/NavMenu";
@import "Shared/SignUpBanner";
@import "Shared/PageInfo";

//Core Imports
@import "wwwroot/CoreStyles/Core/Colors.scss";
@import "wwwroot/CoreStyles/Core/Layout.scss";
@import "wwwroot/CoreStyles/Core/Reset.scss";
@import "wwwroot/CoreStyles/Core/Typography.scss";

//Elements Imports
@import "wwwroot/CoreStyles/Elements/Buttons.scss";
@import "wwwroot/CoreStyles/Elements/CheckboxesAndRadios.scss";
@import "wwwroot/CoreStyles/Elements/InputsAndTextareas.scss";

//Fonts
@font-face {
    font-family: 'EncodeSans';
    font-weight: 300;
    src: url(wwwroot/fonts/EncodeSans-Light.ttf) format('truetype');
}

@font-face {
    font-family: 'EncodeSans';
    font-weight: 400;
    src: url(wwwroot/fonts/EncodeSans-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'EncodeSans_Expanded';
    font-weight: 300;
    src: url(wwwroot/fonts/EncodeSans_Expanded-Light.ttf) format('truetype');
}

@font-face {
    font-family: 'FiraCode';
    font-weight: 400;
    src: url(wwwroot/fonts/FiraCode-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'QuantaGroteskPro';
    font-weight: 400;
    src: url(wwwroot/fonts/QuantaGroteskPro-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'QuantaGroteskPro';
    font-weight: 500;
    src: url(wwwroot/fonts/QuantaGroteskPro-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'QuantaGroteskPro';
    font-weight: 700;
    src: url(wwwroot/fonts/QuantaGroteskPro-Bold.ttf) format('truetype');
}

body {
    margin: 0;
    overflow-x: hidden;
    background: $background;
    font-family: 'EncodeSans', sans-serif;
    font-weight: 400;
    color: $white;
}

/*.loading {
    text-align: center;
    padding-top: 22%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    img {
        vertical-align: middle;
        animation-name: bounce;
        animation-timing-function: ease;
        align-self: flex-end;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
        height: 50px;
        margin: 0 auto 0 auto;
        transform-origin: bottom;
        width: 200px;
    }

    @media screen and (max-width: 500px) {
        padding-top: 45%;
    }
}*/

.loading {
    text-align: center;
    padding-top: 22%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .square-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .square1 img {
        width: 100px;
        height: 100px;
        position: relative;
        animation: mymove 5s infinite;
        animation-timing-function: ease-in-out;
    }

    .square4 img {
        width: 100px;
        height: 100px;
        position: relative;
        animation: mymovesquare4 5s infinite;
        animation-timing-function: ease-in-out;
    }

    @keyframes mymove {
        0% {
            transform: translateY(0) translateX(0);
        }

        25% {
            transform: translateY(0) translateX(0);
        }

        50% {
            transform: translateY(0) translateX(100px);
        }

        75% {
            transform: translateY(-100px) translateX(100px);
        }

        90% {
            transform: translateY(-100px) translateX(100px);
        }

        100% {
            transform: translateY(0) translateX(0);
        }
    }

    @keyframes mymovesquare4 {
        0% {
            transform: translateY(100px) translateX(0);
        }

        25% {
            transform: translateY(0) translateX(100px);
        }

        50% {
            transform: translateY(0) translateX(0);
        }

        75% {
            transform: translateY(100px) translateX(0);
        }

        90% {
            transform: translateY(0) translateX(100px);
        }

        100% {
            transform: translateY(100px) translateX(0);
        }
    }
}





::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #E5E5E5;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-100px);
    }

    100% {
        transform: translateY(0);
    }
}

button {
    cursor: pointer;
}

.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
}

.sparc-authentication {
    justify-content: center;
    text-align: center;
    padding-top: 15%;
}
