@import "_variables";


//Components
@import "Shared/Components/pagelayout";
@import "Shared/Components/modal";
@import "Shared/Components/toggle-switch";

@import "Pages/Elements/Buttons";
@import "Pages/Elements/Anchors";
@import "Pages/Elements/Inputs";
@import "Pages/BaseStyles/Colors";
@import "Pages/BaseStyles/Icons";
@import "Pages/BaseStyles/Layout";
@import "Pages/BaseStyles/Typography";
@import "Pages/BaseStyles/GlobalSettings";
@import "Pages/Effects/BoxShadow";
@import "Pages/Introduction";
@import "Pages/Themes";
@import "Pages/Index";
@import "Pages/UserKits";

@import "Shared/MainLayout";
@import "Shared/NavMenu";
@import "Shared/SignUpBanner";
@import "Shared/PageInfo";


body {
    margin: 0;
    overflow-x: hidden;
    background: $gray100;
    font-family: 'Inter', sans-serif;
}

.loading {
    text-align: center;
    padding-top: 22%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    img {
        vertical-align: middle;
        animation-name: bounce;
        animation-timing-function: ease;
        align-self: flex-end;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
        height: 30px;
        margin: 0 auto 0 auto;
        transform-origin: bottom;
        width: 200px;
    }

    @media screen and (max-width: 500px) {
        padding-top: 45%;
    }
}

@keyframes bounce {
    0% { transform: translateY(0); }
    50% { transform: translateY(-100px); }
    100% { transform: translateY(0); }
}

button {
    cursor: pointer;
}

.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
}

.sparc-authentication{
    justify-content: center;
    text-align: center;
    padding-top: 15%;
}