@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
.page {
  background: #F5F7FA;
  padding: 10px 80px 100px 80px;
  font-family: 'Inter', sans-serif; }
  @media screen and (max-width: 780px) {
    .page {
      padding: 0 40px 100px 40px; } }
  @media screen and (max-width: 500px) {
    .page {
      padding: 0 25px 100px 25px; } }
  .page__container {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    position: relative; }
  .page .title {
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #0B5FFF;
    padding-bottom: 6px; }
  .page p {
    max-width: 672px;
    line-height: 160%;
    font-size: 18px; }
  .page h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    color: #17171A;
    margin: 0; }
  .page h4 {
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;
    color: #3A3A40; }
  .page .subheader {
    color: #3A3A40;
    max-width: 496px;
    font-size: 16px; }
  .page button {
    color: #17171A;
    font-weight: 500;
    font-size: 16px;
    line-height: 19.2px;
    border-radius: 4px;
    border: 1px solid #17171A;
    background: #F5F7FA;
    padding: 8px 16px;
    margin-top: 20px;
    cursor: pointer; }
    .page button img {
      margin-left: 14px;
      vertical-align: middle; }
  .page label {
    font-size: 14px;
    line-height: 180%;
    color: #3A3A40; }
  .page input, .page select {
    background: #FFFFFF;
    border: 1px solid #D2D4D9;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 8px 16px;
    display: block;
    margin: 0 30px 20px 0;
    font-size: 16px;
    line-height: 160%;
    height: 40px;
    color: #3A3A40; }
  .page pre {
    border-radius: 0px 0px 8px 8px;
    margin: -20px 0 50px 0;
    overflow: hidden;
    background: #22272e;
    padding: 0 0 20px 20px; }
  .page .section, .page section {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 40px; }
    .page .section-container, .page section-container {
      display: block; }
    .page .section .preview, .page section .preview {
      max-width: 496px;
      width: 100%;
      min-height: 87px; }
    .page .section textarea, .page section textarea {
      font-family: 'Inter';
      max-width: 496px;
      width: 100%;
      min-height: 87px;
      padding: 10px 16px;
      box-sizing: border-box;
      background: #FFFFFF;
      border: 1px solid #D2D4D9;
      border-radius: 4px;
      display: block;
      margin: 0 30px 20px 0;
      font-size: 16px;
      line-height: 160%;
      color: #3A3A40; }
    .page .section .large, .page section .large {
      width: 486px; }
    .page .section .medium, .page section .medium {
      width: 314px; }
    .page .section .small, .page section .small {
      width: 142px; }
  .page .content {
    padding-bottom: 100px; }
  .page .preview-example {
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 8px 8px 0px 0px;
    color: #17171A;
    font-family: 'Inter'; }
    .page .preview-example h1 {
      font-weight: 400;
      font-size: 48px;
      line-height: 120%;
      padding: 0;
      margin: 0; }
    .page .preview-example h2 {
      font-weight: 400;
      font-size: 39px;
      line-height: 120%;
      padding: 0;
      margin: 0; }
    .page .preview-example h3 {
      font-weight: 400;
      font-size: 31px;
      line-height: 120%;
      padding: 0;
      margin: 0; }
    .page .preview-example h4 {
      font-weight: 400;
      font-size: 25px;
      line-height: 120%;
      padding: 0;
      margin: 0; }
    .page .preview-example h5 {
      font-weight: 400;
      font-size: 20px;
      line-height: 120%;
      padding: 0;
      margin: 0; }
    .page .preview-example h6 {
      font-weight: 400;
      font-size: 16px;
      line-height: 120%;
      padding: 0;
      margin: 0; }
    .page .preview-example label {
      font-size: 14px;
      line-height: 180%;
      color: #787980;
      padding-bottom: 32px;
      font-family: 'Inter', sans-serif; }
    .page .preview-example p {
      color: #17171A;
      font-family: Roboto Mono;
      font-weight: 400;
      font-size: 12px;
      line-height: 120%;
      padding: 0;
      margin: 0; }
    .page .preview-example--body p {
      width: 100%; }
    .page .preview-example--body .large {
      color: #17171A;
      font-size: 20px;
      line-height: 160%; }
    .page .preview-example--body .medium {
      color: #17171A;
      font-size: 17px;
      line-height: 160%; }
    .page .preview-example--body .small {
      color: #17171A;
      font-size: 14px;
      line-height: 160%; }
  .page .show-link {
    background: #FFFFFF;
    padding: 8px 14px;
    border-radius: 6px;
    border: 1px solid #D2D4D9;
    display: block;
    margin-top: 16px;
    font-size: 14px; }
  .page .delete {
    cursor: pointer;
    margin: -4px 0 0 15px;
    font-size: 19px;
    vertical-align: middle; }

.active .modal {
  visibility: visible; }

.modal {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(23, 23, 26, 0.5);
  height: 100%;
  overflow-y: auto;
  visibility: hidden; }
  .modal--container {
    width: 480px;
    height: 237px;
    box-sizing: border-box;
    padding: 32px;
    background: #FFFFFF;
    border-radius: 8px;
    margin: 20% auto;
    position: relative; }
    @media screen and (max-width: 780px) {
      .modal--container {
        width: 80%;
        margin: 40% auto; } }
    @media screen and (max-width: 500px) {
      .modal--container {
        width: 85%; } }
    .modal--container h3 {
      margin: 0;
      font-family: Inter;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 0.02em;
      text-align: left;
      color: #17171A; }
    .modal--container p {
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px;
      letter-spacing: 0em;
      text-align: left;
      color: #787980; }
      @media screen and (max-width: 560px) {
        .modal--container p {
          line-height: 20px; } }
  .modal button {
    border: 1px solid #787980;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 13px;
    color: #787980;
    background: #FFFFFF;
    padding: 6px 12px; }
    @media screen and (max-width: 500px) {
      .modal button {
        margin-top: 2px; } }
  .modal .button--confirm {
    border: 1px solid #F96464;
    color: #F96464;
    margin-right: 12px; }
  .modal .button--close {
    position: absolute;
    font-size: 20px;
    top: 20px;
    right: 20px;
    color: #787980;
    cursor: pointer; }

.switch {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 21px;
  margin-right: 14px; }
  .switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #F5F7FA;
    border: 2px solid #A9ACB2;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 20px; }
    .switch .slider:before {
      position: absolute;
      content: "";
      height: 13px;
      width: 13px;
      left: 3px;
      bottom: 2px;
      border-radius: 50%;
      background-color: #A9ACB2;
      -webkit-transition: .4s;
      transition: .4s; }
  .switch input {
    opacity: 0;
    width: 0;
    height: 0; }
    .switch input:checked + .slider {
      background-color: #F5F7FA;
      border: 2px solid #0B5FFF; }
      .switch input:checked + .slider:before {
        -webkit-transform: translateX(12px);
        -ms-transform: translateX(12px);
        transform: translateX(12px);
        background-color: #0B5FFF; }

.buttons .preview-example {
  padding: 32px;
  height: 180px; }
  .buttons .preview-example button {
    background: #0B5FFF;
    border: 1px solid #0B5FFF;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    padding: 8px 16px;
    border-radius: 4px;
    margin-top: 0;
    margin-bottom: 24px; }
  .buttons .preview-example .button-secondary {
    color: #00BFB2;
    background: #FFFFFF;
    border: 1px solid #00BFB2; }
  .buttons .preview-example .hover {
    background: #3C7FFF;
    color: #FFFFFF; }
    .buttons .preview-example .hover-secondary {
      background: #E5F7F6;
      border: 1px solid #2AD2C6;
      color: #2AD2C6; }
  .buttons .preview-example .disabled {
    color: #D2D4D9;
    background: #F5F7FA;
    border: 1px solid #D2D4D9; }
    .buttons .preview-example .disabled-secondary {
      background: #FFFFFF;
      color: #D2D4D9;
      border: 1px solid #D2D4D9; }
  .buttons .preview-example img {
    vertical-align: middle;
    margin: 0;
    margin-top: -2px; }
  .buttons .preview-example .remove {
    border: unset; }

.anchors .preview-example {
  padding: 30px 30px 50px; }
  .anchors .preview-example a {
    font-size: 16px;
    padding-right: 32px;
    text-decoration: none;
    color: #17171A; }
    .anchors .preview-example a.hover {
      color: #0B5FFF; }
    .anchors .preview-example a.visited {
      color: #7FABFF; }
    .anchors .preview-example a.active {
      color: #00BFB2; }

.anchors .section label {
  margin-right: 32px; }

.anchors .section span {
  background: #FFFFFF;
  padding: 6px 10px;
  width: 144px;
  height: 40px;
  border: 1px solid #D2D4D9;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  font-size: 16px;
  line-height: 150%;
  cursor: pointer; }
  .anchors .section span input {
    border: none;
    border-radius: 4px;
    width: 23px;
    height: 26px;
    margin: 0 10px 0 0;
    padding: 0; }

.inputs .section input {
  box-sizing: border-box;
  width: 144px;
  height: 40px; }

.inputs .section select {
  width: 232px; }

.inputs .preview-example {
  display: flex;
  flex-wrap: wrap;
  padding: 32px 32px 50px; }
  .inputs .preview-example input, .inputs .preview-example select {
    width: 200px;
    background: #FFFFFF;
    border: 1px solid #D2D4D9;
    color: #17171A;
    margin: 6px 30px 0 0; }
  .inputs .preview-example label {
    color: #3A3A40;
    position: relative; }
  .inputs .preview-example textarea {
    width: 100%;
    max-width: 664px;
    height: 122px;
    border: 1px solid #D2D4D9;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 16px;
    color: #787980;
    font-family: 'Inter';
    padding: 10px 16px;
    margin-top: 30px; }
  .inputs .preview-example .icon-space input {
    padding: 10px 16px 10px 40px; }
  .inputs .preview-example .icon-space img {
    position: absolute;
    top: 40px;
    left: 13px; }
  .inputs .preview-example .icon-space--nolabel img {
    top: 15px; }
  .inputs .preview-example span {
    font-size: 12px;
    line-height: 120%;
    color: #787980; }
  .inputs .preview-example .selected input {
    border: 1px solid #0B5FFF; }
  .inputs .preview-example .disabled {
    color: #D2D4D9; }
    .inputs .preview-example .disabled input {
      border: 1px solid #D2D4D9;
      color: #D2D4D9; }
  .inputs .preview-example .error {
    color: #F96464; }
    .inputs .preview-example .error span {
      color: #F96464; }
    .inputs .preview-example .error input {
      border: 1px solid #F96464;
      color: #F96464; }

.lists .preview-example {
  display: flex;
  padding-bottom: 20px; }
  .lists .preview-example ul {
    list-style-type: none; }
  .lists .preview-example li {
    padding: 4px 0; }

.dropdowns .preview-example {
  display: flex;
  flex-wrap: wrap;
  padding: 32px; }

.dropdowns aside {
  font-size: 12px;
  font-weight: 400;
  line-height: 19.2px;
  color: #787980; }
  .dropdowns aside a {
    text-decoration: none;
    color: #0B5FFF; }

.dropdowns .section-container {
  padding: 34px 0;
  font-size: 16px;
  color: #3A3A40; }
  .dropdowns .section-container .switch {
    vertical-align: middle;
    margin-top: -3px; }

.selectors .preview-example {
  display: flex;
  flex-wrap: wrap;
  padding: 25px 32px; }
  .selectors .preview-example > div {
    padding-right: 50px; }
  .selectors .preview-example label {
    display: flex;
    padding: 5px 0;
    font-size: 16px; }
  .selectors .preview-example input {
    margin: 5px 12px 0 0;
    height: 20px;
    width: 20px; }

.colors aside {
  box-sizing: border-box;
  border-radius: 8px;
  padding: 25px;
  background: #fff;
  float: right;
  width: 250px;
  margin: 10%; }
  .colors aside section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2px; }
    .colors aside section .set-colors {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 100%; }
      .colors aside section .set-colors div {
        margin: 4px; }

.colors label {
  font-weight: normal;
  font-size: 14px;
  line-height: 180%;
  color: #3A3A40; }

.colors input {
  background: #FFFFFF;
  border: 1px solid #E7E7ED;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 4px 16px 4px 16px;
  display: block;
  margin: 0 30px 20px 0;
  font-size: 16px;
  line-height: 160%;
  color: #787980;
  cursor: pointer;
  width: 100px; }

.colors .preview-example {
  box-sizing: border-box;
  border-radius: 8px;
  padding: 24px 16px 50px 16px;
  display: flex;
  flex-wrap: wrap;
  max-width: 1024px;
  width: 100%; }
  .colors .preview-example label {
    padding: 8px 15px; }
  .colors .preview-example .color-display {
    width: 293px;
    height: 142px;
    border-radius: 4px;
    margin: 6px 15px 0; }
  .colors .preview-example--grayscale .color-display {
    width: 106px;
    height: 102px;
    margin: 20px 0 0 0;
    border-radius: 0; }
    .colors .preview-example--grayscale .color-display.first {
      border-radius: 4px 0px 0px 4px;
      margin: 20px 0 0 15px; }
    .colors .preview-example--grayscale .color-display.last {
      border-radius: 0px 4px 4px 0px;
      margin: 20px 15px 0 0; }

.colors .section {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 40px; }
  .colors .section label {
    position: relative;
    margin-right: 32px; }
    .colors .section label span {
      background: #FFFFFF;
      padding: 6px 10px;
      width: 144px;
      height: 40px;
      border: 1px solid #D2D4D9;
      box-sizing: border-box;
      border-radius: 4px;
      display: flex;
      font-size: 16px;
      line-height: 150%;
      cursor: pointer; }
      .colors .section label span input {
        border: none;
        border-radius: 4px;
        width: 23px;
        height: 26px;
        margin: 0 10px 0 0;
        padding: 0; }

.colors .comment {
  color: #A3A60E; }

.colors .preview-mockup section {
  width: 1080px; }
  @media screen and (max-width: 780px) {
    .colors .preview-mockup section {
      width: unset; } }
  .colors .preview-mockup section > div {
    height: 227px;
    width: 496px;
    box-sizing: border-box;
    padding: 32px 40px;
    border-radius: 8px;
    background: #FFFFFF;
    margin-right: 32px; }
    @media screen and (max-width: 780px) {
      .colors .preview-mockup section > div {
        margin: 10px auto; } }
    .colors .preview-mockup section > div img {
      margin: -32px -40px; }
      @media screen and (max-width: 500px) {
        .colors .preview-mockup section > div img {
          width: 160px; } }
    .colors .preview-mockup section > div p {
      font-size: 14px;
      color: #787980; }
      @media screen and (max-width: 500px) {
        .colors .preview-mockup section > div p {
          line-height: unset; } }

.colors .preview-mockup--left {
  display: flex; }
  .colors .preview-mockup--left > div {
    margin-left: 70px; }
  .colors .preview-mockup--left h5 {
    margin: 0 0 5px 0;
    color: #FFB46E;
    font-size: 12px; }
  .colors .preview-mockup--left h4 {
    margin: 0;
    font-family: Inter;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: #17171A; }
  .colors .preview-mockup--left p {
    margin: 0;
    padding-top: 15px; }

.colors .preview-mockup--right {
  display: block; }
  .colors .preview-mockup--right h5 {
    margin: 0 0 5px 0;
    color: #FFB46E;
    font-size: 14px; }
  .colors .preview-mockup--right h4 {
    margin: 0;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #17171A; }
  .colors .preview-mockup--right p {
    margin: 0;
    padding-top: 20px; }

.colors .preview-mockup button {
  background: #0B5FFF;
  color: #FFFFFF;
  border-radius: 4px;
  border: none;
  font-size: 14px;
  padding: 3px 24px; }

.colors .preview-mockup .button-secondary {
  background: none;
  color: #00BFB2; }

.typography aside {
  box-sizing: border-box;
  border-radius: 8px;
  padding: 25px;
  background: #fff;
  float: right;
  width: 250px;
  margin: 10%; }
  .typography aside section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2px; }
    .typography aside section .set-colors {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 100%; }
      .typography aside section .set-colors div {
        margin: 4px; }

.typography .preview-example {
  padding: 0 32px 40px 32px; }
  .typography .preview-example h1, .typography .preview-example h2, .typography .preview-example h3, .typography .preview-example h4, .typography .preview-example h5, .typography .preview-example h6, .typography .preview-example p {
    margin-top: 40px; }

@media screen and (max-width: 500px) {
  .typography .large {
    width: 314px !important; } }

.global-page .section-container {
  display: flex;
  margin: 20px 0;
  color: #787980; }

.global-page h3 {
  margin: 80px 0 8px 0; }

.effects-page .preview-example {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 6px 60px 32px; }
  .effects-page .preview-example > div {
    padding-top: 10px; }

.effects-page .example-shadow {
  width: 222px;
  height: 160px;
  background: #FFFFFF;
  margin: 8px 24px 0 0;
  border-radius: 8px; }

.effects-page .section label {
  position: relative;
  margin-right: 32px; }
  .effects-page .section label span {
    background: #FFFFFF;
    padding: 6px 10px;
    width: 144px;
    height: 40px;
    border: 1px solid #D2D4D9;
    box-sizing: border-box;
    border-radius: 4px;
    display: flex;
    font-size: 16px;
    line-height: 150%;
    cursor: pointer; }
    .effects-page .section label span input {
      border: none;
      border-radius: 4px;
      width: 23px;
      height: 26px;
      margin: 0 10px 0 0;
      padding: 0; }

.effects-page .preview-example {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 6px 60px 32px; }
  .effects-page .preview-example > div {
    padding-top: 10px; }

.effects-page .example-shadow {
  width: 222px;
  height: 160px;
  background: #FFFFFF;
  margin: 8px 24px 0 0;
  border-radius: 8px; }

.get-started p {
  font-family: Roboto;
  font-size: 18px;
  line-height: 180%;
  color: #3A3A40;
  width: 400px;
  margin: 0;
  padding: 18px 0 80px 0; }

.get-started button {
  background: #F5F7FA;
  border-radius: 4px;
  color: #FFFFFF;
  font-family: Roboto Mono;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  padding: 6px 24px;
  border: none;
  position: absolute;
  bottom: 140px;
  left: 0; }

.theme-page section {
  width: 1060px; }
  @media screen and (max-width: 1410px) {
    .theme-page section {
      width: auto; } }
  .theme-page section > div {
    margin-bottom: 30px; }
    @media screen and (max-width: 800px) {
      .theme-page section > div {
        width: 100%; } }

.theme-page .theme-card {
  width: 496px;
  height: 319px;
  border-radius: 8px;
  background: #FFFFFF;
  margin-right: 32px; }
  @media screen and (max-width: 1410px) {
    .theme-page .theme-card {
      width: 370px; } }
  @media screen and (max-width: 800px) {
    .theme-page .theme-card {
      width: 100%;
      max-width: 496px; } }

.theme-page label {
  display: block;
  color: #17171A;
  font-size: 16px;
  font-weight: 500;
  margin-top: 16px; }

.landing .hero {
  background: #F5F7FA;
  height: calc(100vh - 180px);
  padding: 180px 20px 0 20px;
  margin-top: -180px; }
  .landing .hero__container {
    position: relative;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap; }
    .landing .hero__container .button--blue {
      border: none;
      color: #FFFFFF;
      background: #0B5FFF;
      border-radius: 4px;
      padding: 7px 24px;
      font-size: 16px;
      line-height: 160%;
      font-weight: 400; }
    .landing .hero__container .button--gray {
      border: none;
      color: #787980;
      background: #D2D4D9;
      border-radius: 4px;
      padding: 7px 24px;
      font-size: 16px;
      line-height: 160%;
      font-weight: 400;
      margin-left: 24px; }
    .landing .hero__container a {
      text-decoration: none;
      color: #0B5FFF;
      cursor: pointer;
      font-family: Roboto Mono;
      font-size: 16px;
      line-height: 160%; }
  .landing .hero .example {
    width: 400px;
    height: 391px;
    padding: 32px;
    background: #FFFFFF;
    border: 1px solid #CDCED9;
    box-sizing: border-box;
    border-radius: 4px;
    position: absolute;
    right: 0;
    top: 45px; }
    .landing .hero .example h3 {
      font-family: Roboto Mono;
      font-weight: 500;
      font-size: 18px;
      line-height: 160%;
      color: #0B5FFF;
      padding-bottom: 10px;
      margin: 0; }
    .landing .hero .example .divider {
      font-family: Roboto Mono;
      font-weight: normal;
      font-size: 14px;
      line-height: 160%;
      color: #D2D4D9;
      padding: 4px 0 24px 0; }
    .landing .hero .example label {
      color: #3A3A40;
      font-family: Roboto;
      font-size: 14px;
      line-height: 180%;
      position: relative; }
      .landing .hero .example label span {
        position: absolute;
        top: 30px;
        left: 8px;
        width: 24px;
        height: 24px;
        display: block;
        z-index: 10;
        border-radius: 4px; }
      .landing .hero .example label input {
        display: block;
        font-family: Roboto Mono;
        color: #3A3A40;
        padding: 8px 16px 8px 44px;
        border: 1px solid #E7E7ED;
        background: #F7F8F9;
        margin-bottom: 20px;
        width: 172px;
        line-height: 160%;
        font-size: 16px;
        border-radius: 4px;
        box-sizing: border-box; }
      .landing .hero .example label select {
        display: block;
        font-family: Roboto Mono;
        padding: 8px 16px;
        border: 1px solid #E7E7ED;
        background: #F7F8F9;
        margin-bottom: 20px;
        line-height: 160%;
        font-size: 16px;
        width: 290px;
        border-radius: 4px;
        box-sizing: border-box;
        color: #3A3A40; }
  .landing .hero .arrow__container {
    text-align: center;
    position: absolute;
    bottom: 36px;
    width: calc(100% - 40px);
    margin: 0 auto; }

.landing h1 {
  font-family: 'Roboto Mono';
  max-width: 516px;
  font-size: 40px;
  line-height: 160%;
  font-weight: bold;
  color: #0B5FFF; }

.landing p {
  font-family: Roboto;
  font-size: 18px;
  line-height: 180%;
  max-width: 400px;
  width: 100%;
  color: #787980;
  padding-bottom: 50px; }

.landing .highlight {
  display: flex;
  flex-wrap: wrap;
  padding-top: 167px;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto; }
  .landing .highlight > div {
    display: flex;
    height: 72px; }
    .landing .highlight > div:not(:last-child) {
      margin-right: 28px; }
  .landing .highlight p {
    color: #0B5FFF;
    font-family: Roboto Mono;
    font-size: 14px;
    line-height: 160%;
    max-width: 258px; }
  .landing .highlight img {
    vertical-align: middle;
    margin-right: 16px; }

.landing .intro {
  background: linear-gradient(128deg, #FDFBFB 28.07%, #EBEDEE 100%);
  padding: 120px 119px; }
  .landing .intro__container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto; }
  .landing .intro--header {
    color: #0B5FFF;
    font-family: Roboto Mono;
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    padding-bottom: 10px; }
  .landing .intro .step {
    display: flex;
    flex-wrap: wrap;
    margin: 40px 0; }
    .landing .intro .step p {
      padding-right: 112px; }
    .landing .intro .step h3 {
      font-family: Roboto Mono;
      font-size: 24px;
      line-height: 160%; }
    .landing .intro .step .img-container {
      border-radius: 4px;
      background: #FFFFFF;
      border: 1px solid #E7E7ED;
      height: 254px;
      width: 486px; }
  .landing .intro-cta {
    background: linear-gradient(128deg, #FDFBFB 28.07%, #EBEDEE 100%);
    border: 1px solid #0B5FFF;
    box-sizing: border-box;
    border-radius: 4px;
    display: flex;
    flex-wrap: wrap;
    padding: 3px 40px;
    position: relative;
    margin-top: 120px; }
    .landing .intro-cta h2 {
      font-family: Roboto Mono;
      font-weight: 700;
      font-size: 28px;
      line-height: 160%; }
    .landing .intro-cta button {
      position: absolute;
      top: 30px;
      right: 40px;
      font-family: Roboto Mono;
      font-size: 16px;
      line-height: 160%;
      padding: 5px 15px;
      color: #787980;
      border: 1px solid #00BFB2;
      background: none;
      height: 36px;
      border-radius: 4px; }

.dashboard .page__container {
  max-width: 1056px;
  margin-top: 100px; }

.dashboard h2 {
  font-size: 20px; }

.dashboard a {
  display: block;
  text-decoration: none; }
  @media screen and (max-width: 780px) {
    .dashboard a {
      margin: 20px auto; } }

.dashboard-container {
  margin: 20px -16px;
  width: 100%;
  max-width: 1240px;
  display: flex;
  flex-wrap: wrap; }
  @media screen and (max-width: 780px) {
    .dashboard-container {
      margin: 20px auto; } }

.dashboard .sort {
  /*        position: absolute;
        top: 0;
        right: 0;*/
  width: 150px;
  height: 27px;
  padding: 6px 12px;
  font-size: 12px;
  color: #3A3A40;
  background: #F5F7FA;
  border: none !important;
  box-sizing: border-box;
  border-radius: 4px; }

.dashboard-card {
  margin: 16px;
  height: 329px;
  width: 320px;
  border-radius: 8px;
  padding: 24px;
  background: #FFFFFF;
  cursor: pointer;
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
  box-sizing: border-box; }
  .dashboard-card img {
    width: 272px; }
  .dashboard-card .title {
    color: #17171A;
    font-size: 20px;
    line-height: 24px;
    padding-top: 16px; }
  .dashboard-card .date {
    color: #A9ACB2;
    font-size: 12px;
    line-height: 14.4px; }

.dashboard--header {
  display: flex; }
  .dashboard--header button {
    width: 138px;
    height: 31px;
    font-size: 12px;
    padding: 6px 11px;
    margin-top: 0; }
  .dashboard--header .right {
    position: absolute;
    right: 0;
    width: 358px;
    display: flex; }

.main {
  margin-left: 256px; }
  @media screen and (max-width: 780px) {
    .main {
      margin-left: 0; } }

.sidebar {
  background: #FFFFFF;
  max-width: 256px;
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  height: 100vh;
  bottom: 0;
  z-index: 10; }
  @media screen and (max-width: 780px) {
    .sidebar {
      transform: translateX(-256px);
      transition: all 0.5s ease; }
      .sidebar.show-mobile {
        display: block;
        left: 0;
        z-index: 11;
        transform: translateX(0);
        transition: all 0.5s ease;
        box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.1), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04); } }
  .sidebar .menu {
    padding: 20px 16px;
    margin-top: 80px; }
    .sidebar .menu a {
      display: block;
      text-decoration: none;
      color: #3A3A40;
      font-size: 14px;
      margin: 0 16px;
      padding: 8px 0; }
    .sidebar .menu .heading {
      padding: 32px 16px 8px 16px;
      color: #17171A;
      font-size: 12px;
      line-height: 14.4px;
      font-weight: 500; }
      .sidebar .menu .heading:first-child {
        padding: 0 16px 8px 16px; }
    .sidebar .menu .active {
      background-color: #EBF2FF;
      border-radius: 4px;
      margin: 0;
      padding: 8px 16px;
      color: #0B5FFF;
      font-weight: 500; }

.header {
  height: 64px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 12;
  margin: 0 auto;
  padding: 20px 16px;
  border-bottom: 1px solid #F5F7FA;
  box-sizing: border-box;
  background: #FFFFFF; }
  @media screen and (max-width: 780px) {
    .header {
      text-align: center; } }
  .header .logo {
    font-weight: 500;
    font-size: 14px;
    padding-left: 20px;
    font-family: Inter; }
    @media screen and (max-width: 780px) {
      .header .logo {
        margin: 0 auto;
        padding-left: 0; } }
    .header .logo img {
      vertical-align: middle;
      margin-right: 2px;
      margin-top: -3px;
      width: 25px; }
  .header a {
    color: #000000;
    text-decoration: none; }
  .header .login-display {
    position: absolute;
    right: 45px;
    top: 16px; }
    @media screen and (max-width: 780px) {
      .header .login-display {
        right: 25px; } }
    @media screen and (max-width: 500px) {
      .header .login-display {
        right: 15px; } }
    .header .login-display a {
      color: #787980;
      text-decoration: none;
      display: block;
      padding: 6px;
      font-size: 14px; }
    .header .login-display .logout {
      color: #787980;
      border: none;
      background: none;
      margin-bottom: 0; }
      .header .login-display .logout span {
        vertical-align: middle;
        font-size: 16px;
        margin: -2px 0 0 5px; }
    .header .login-display button {
      background: #FFFFFF;
      border-radius: 4px;
      border: 1px solid #17171A;
      padding: 8px;
      margin-bottom: 20px; }
    .header .login-display .user-menu {
      position: absolute;
      right: 82px;
      top: 4px;
      display: flex; }
      @media screen and (max-width: 780px) {
        .header .login-display .user-menu {
          right: 5px; } }
      .header .login-display .user-menu span {
        color: #787980;
        cursor: pointer; }
    .header .login-display .dropdown-menu {
      background: #FFFFFF;
      border-radius: 4px;
      padding: 12px 20px;
      width: 122px;
      display: flex;
      flex-wrap: wrap;
      position: absolute;
      top: 55px;
      right: -11px; }
  .header .mobile {
    display: none;
    cursor: pointer;
    position: absolute;
    left: 25px; }
    @media screen and (max-width: 780px) {
      .header .mobile {
        display: block; } }

.banner {
  width: 100%;
  max-width: 560px;
  height: 97px;
  box-sizing: border-box;
  padding: 26px 56px;
  background: #FFFFFF;
  margin: 0 auto;
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: -16px;
  z-index: 10;
  border-radius: 8px;
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06); }
  @media screen and (max-width: 600px) {
    .banner {
      margin: 0 20px;
      left: 0;
      bottom: 15px;
      transform: unset;
      width: 90%; } }
  .banner h3 {
    margin: 0;
    font-size: 14px;
    font-weight: 500; }
  .banner p {
    font-size: 14px;
    color: #787980; }
    .banner p .select-login {
      color: #0B5FFF;
      cursor: pointer;
      text-decoration: none;
      display: inline;
      padding: 0; }
    @media screen and (max-width: 600px) {
      .banner p {
        margin-top: 6px; } }
  .banner .material-icons {
    vertical-align: middle;
    margin: -3px 10px 0 -36px;
    font-size: 22px; }
  .banner .button--close {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #787980;
    cursor: pointer;
    font-size: 16px;
    margin: 0; }

.page-info {
  margin: 90px auto 20px auto;
  max-width: 1024px;
  display: flex;
  position: relative;
  padding: 20px 0; }
  @media screen and (max-width: 1455px) {
    .page-info {
      margin: 80px auto 40px 80px; } }
  @media screen and (max-width: 780px) {
    .page-info {
      margin: 80px auto 40px 25px; } }
  @media screen and (max-width: 500px) {
    .page-info {
      margin: 80px auto 80px 25px; } }
  .page-info > div {
    display: flex; }
  .page-info .title {
    color: #3A3A40;
    font-size: 14px; }
    .page-info .title img {
      margin: 0 8px; }
  .page-info .kit-select {
    color: #3A3A40;
    font-size: 14px;
    cursor: pointer; }
    .page-info .kit-select img {
      vertical-align: middle;
      margin-left: 2px; }
  .page-info .actions img {
    margin: 0 4px;
    cursor: pointer; }
  .page-info .info {
    position: absolute;
    right: 20px; }
    @media screen and (max-width: 1150px) {
      .page-info .info {
        right: unset;
        left: -20px;
        top: 50px; } }
    @media screen and (max-width: 500px) {
      .page-info .info {
        flex-wrap: wrap; } }
    .page-info .info--time {
      color: #3A3A40;
      padding: 6px 18px;
      font-size: 12px;
      font-weight: 400;
      line-height: 14px;
      letter-spacing: 0.02em;
      text-align: left;
      text-transform: uppercase; }
  .page-info .history {
    cursor: pointer;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.02em;
    border: 1px solid #D2D4D9;
    box-sizing: border-box;
    padding: 3px 7px;
    border-radius: 100px;
    color: #3A3A40;
    height: 22px;
    width: 138px;
    margin-left: 18px;
    position: relative; }
    .page-info .history.selected {
      background: #EBF2FF;
      border: 1px solid #0B5FFF;
      color: #0B5FFF; }
      .page-info .history.selected .icon-right {
        top: 4px; }
    @media screen and (max-width: 500px) {
      .page-info .history {
        margin-top: 10px; } }
    .page-info .history img {
      vertical-align: middle; }
    .page-info .history .icon-left {
      margin-top: -2px;
      width: 12px; }
    .page-info .history .icon-right {
      position: absolute;
      right: 7px;
      top: 1px; }
    .page-info .history--dropdown {
      background: #FFFFFF;
      box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
      border-radius: 8px;
      width: 250px;
      height: 340px;
      box-sizing: border-box;
      padding: 24px;
      position: absolute;
      right: 18px;
      top: 54px;
      display: block;
      z-index: 10; }
      @media screen and (max-width: 780px) {
        .page-info .history--dropdown {
          top: 86px; } }
      @media screen and (max-width: 500px) {
        .page-info .history--dropdown {
          right: unset;
          top: 120px; } }
      .page-info .history--dropdown ul {
        padding: 0 0 0 20px;
        margin: 0; }
        .page-info .history--dropdown ul li {
          padding: 8px 0;
          cursor: pointer;
          position: relative; }
          .page-info .history--dropdown ul li input {
            padding: 2px 6px;
            width: 150px; }
          .page-info .history--dropdown ul li button {
            color: #0B5FFF;
            margin-top: 4px;
            background: #F5F7FA;
            border: 1px solid #0B5FFF;
            border-radius: 4px; }
      .page-info .history--dropdown .current, .page-info .history--dropdown li {
        color: #17171A;
        font-size: 12px;
        line-height: 14.4px;
        font-weight: 500;
        padding: 10px 0; }
      .page-info .history--dropdown .title {
        font-size: 11px;
        color: #A9ACB2;
        text-transform: uppercase; }
      .page-info .history--dropdown .material-icons {
        vertical-align: middle;
        color: #A9ACB2;
        font-size: 16px;
        position: absolute;
        right: 0; }
  .page-info .publish-options {
    height: 158px;
    width: 134px;
    z-index: 1;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 4px 16px;
    position: absolute;
    right: -5px;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04); }
    .page-info .publish-options ul {
      margin: 0;
      padding: 0;
      list-style: none; }
      .page-info .publish-options ul li {
        padding: 8px 0;
        cursor: pointer; }
  .page-info .auto-publish {
    border-top: 1px solid #F5F7FA;
    padding-top: 16px;
    color: #787980;
    font-size: 12px;
    position: absolute;
    bottom: 10px;
    left: 24px;
    width: 203px;
    margin: 0 auto; }
    .page-info .auto-publish .switch {
      width: 26px;
      height: 15px; }
    .page-info .auto-publish .slider {
      background-color: #FFFFFF;
      border: 1px solid #A9ACB2; }
      .page-info .auto-publish .slider:before {
        position: absolute;
        content: "";
        height: 9px;
        width: 9px;
        left: 2.5px;
        bottom: 2px; }
    .page-info .auto-publish input:checked + .slider {
      background-color: #FFFFFF;
      border: 1px solid #0B5FFF; }
      .page-info .auto-publish input:checked + .slider:before {
        -webkit-transform: translateX(10px);
        -ms-transform: translateX(10px);
        transform: translateX(10px);
        background-color: #0B5FFF; }

body {
  margin: 0;
  overflow-x: hidden;
  background: #F5F7FA;
  font-family: 'Inter', sans-serif; }

.loading {
  text-align: center;
  padding-top: 22%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }
  .loading img {
    vertical-align: middle;
    animation-name: bounce;
    animation-timing-function: ease;
    align-self: flex-end;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    height: 50px;
    margin: 0 auto 0 auto;
    transform-origin: bottom;
    width: 200px; }
  @media screen and (max-width: 500px) {
    .loading {
      padding-top: 45%; } }

@keyframes bounce {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(-100px); }
  100% {
    transform: translateY(0); } }

button {
  cursor: pointer; }

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  position: relative; }

.sparc-authentication {
  justify-content: center;
  text-align: center;
  padding-top: 15%; }
