.kit-card {
  width: 100%;
  background: #0E0E0E;
  padding-top: 6px;
  padding-bottom: 40px;
  border-top: 1px solid rgba(200, 200, 200, 0.3);
}
.kit-card--header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #1A1A1A;
  border: 1px solid transparent;
  border-radius: 0px 0px 8px 8px;
  padding: 18px 15px;
  transition: 200ms ease-in-out;
}
.kit-card--header:hover {
  filter: brightness(160%);
  border: 1px solid var(--white);
}
.kit-card--header h3 {
  margin: 0;
  padding: 0;
  font-family: "EncodeSans";
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: var(--white);
  transition: 250ms ease-in-out;
  /*&:hover {
      transform: scale(104%);
  }*/
}
.kit-card--header .kit-info {
  height: 25px;
  display: flex;
  font-family: "EncodeSans";
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: var(--white);
  text-transform: uppercase;
}
.kit-card--header .kit-actions {
  display: flex;
  gap: 3px;
  align-items: center;
  margin-left: 10px;
  margin-top: -3px;
}
.kit-card--header .kit-actions button, .kit-card--header .kit-actions a {
  width: 25px;
  height: 25px;
  border: none;
  transition: 250ms ease-in-out;
}
.kit-card--header .kit-actions .icon {
  width: 25px;
  height: 25px;
  padding: 5px;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: 250ms ease-in-out;
}
.kit-card--header .kit-actions .icon-preview path {
  stroke: var(--white) !important;
}
.kit-card--header .kit-actions .icon-preview:active path {
  stroke: va(--grey-800) !important;
}
.kit-card--header .kit-actions .icon-download path {
  fill: var(--white) !important;
  stroke: var(--white) !important;
}
.kit-card--header .kit-actions .icon-download line {
  stroke: var(--white) !important;
}
.kit-card--header .kit-actions .icon-download:active path {
  fill: var(--grey-800) !important;
  stroke: var(--grey-800) !important;
}
.kit-card--header .kit-actions .icon-download:active line {
  stroke: var(--grey-800) !important;
}
.kit-card--header .kit-actions .icon-delete path, .kit-card--header .kit-actions .icon-delete circle {
  stroke: var(--white) !important;
}
.kit-card--header .kit-actions .icon-delete:active path, .kit-card--header .kit-actions .icon-delete:active circle, .kit-card--header .kit-actions .icon-delete:active fill {
  stroke: var(--grey-800) !important;
}
.kit-card--header .kit-actions .icon-more {
  padding: 0px;
}
.kit-card--header .kit-actions .icon-more circle {
  fill: var(--white) !important;
}
.kit-card--header .kit-actions .icon-more:active circle {
  fill: var(--grey-800) !important;
}
.kit-card--header .kit-actions .icon:hover {
  border: 1px solid var(--white);
  border-radius: 4px;
}
.kit-card--header .kit-actions .icon:active {
  background: var(--white);
}
.kit-card--preview {
  width: 100%;
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
  gap: 16px;
  flex-wrap: wrap;
  color: var(--white);
}
.kit-card--preview .preview--divider {
  border-left: 1px solid var(--white);
  opacity: 30%;
}
.kit-card--preview .typography {
  width: 40%;
  max-width: 526px;
}
.kit-card--preview label {
  color: var(--white);
  font-family: "EncodeSans_Expanded";
  font-weight: 300;
  font-size: 13px;
  line-height: 100%;
}
.kit-card--preview .typography--preview {
  margin-top: 20px;
}
.kit-card--preview .typography--preview h5 {
  margin-bottom: 8px;
}
.kit-card--preview .typography--preview h5, .kit-card--preview .typography--preview p {
  color: var(--white);
  line-height: 100%;
}
.kit-card--preview .colors--preview {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
  gap: 5px;
}
.kit-card--preview .colors--preview .color-blotch {
  display: block;
  width: 57px;
  height: 57px;
}
.kit-card--preview:last-child {
  padding-right: 35px;
}
