@import "_variables";

@import "Shared/NavMenu";
@import "Shared/MainLayout";
@import "Shared/Footer";

@import "Pages/AddKit";
@import "Pages/Index";
@import "Pages/KitList";
@import "Pages/GetStarted";
@import "Pages/Typography";
@import "Pages/Colors";
@import "Pages/Finish";

body {
    margin: 0;
    overflow-x: hidden;
}

button {
    cursor: pointer;
}

.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
}
