<div class="@Show">
    <div class="modal">
        <div class="modal--container">
            <span class="material-icons button--close" @onclick="Close">close</span>
            <h3>Delete Version</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus
            </p>
            <button @onclick="DeleteVersion" class="button--confirm">Confirm & Delete</button>
            <button @onclick="Close">Cancel</button>
        </div>
    </div>
</div>



@code {
    [Parameter]
    public string Show { get; set; }
    [Parameter]
    public EventCallback CloseModal { get; set; }

    private async Task Close()
    {
        await CloseModal.InvokeAsync();
    }

    private async Task DeleteVersion()
    {
        //await Api.DeleteKitAsync();
    }
    }