@inherits LayoutComponentBase

<div class="landing-header">
    <a class="logo" href="/">
        <img src="/images/logo.svg" />
        KODEKIT.CSS
    </a>
    <LoginDisplay />
</div>

<div class="landing">
    @Body
</div>