@import "../_variables";

.main {
    margin-left: 256px;

    @media screen and (max-width: 780px) {
        margin-left: 0;
    }

    &.no-sidebar {
        margin-left: 0;
    }
}

/*a:focus-visible, button:focus-visible, input:focus-visible, .section-container:focus, .section-container:focus-within, select:focus-visible, textarea:focus-visible, .auto-publish:focus, .auto-publish:focus-within, .user-menu:focus, .user-menu:focus-within, .dashboard-card:focus {
    border: 1px solid black;
    box-shadow: 5px 5px 5px $primary500;
}*/