@import "../_variables";

.layout--header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;

    .divider {
        margin: 0 80px;
        border-top: 1px solid $grey-300;
    }
}

.main {
    width: calc(100% - 160px);
    height: calc(100% - 113px);
    margin: 0 80px;
    margin-top: 113px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;

    &__container {
        width: 100%;
        height: calc(100% - 113px);
        margin-left: 244px;
        padding-top: 105px;
        position: relative;
    }

    @media screen and (max-width: 780px) {
        margin-left: 0;
    }

    &.no-sidebar {
        margin-left: 0;
    }
}

/*a:focus-visible, button:focus-visible, input:focus-visible, .section-container:focus, .section-container:focus-within, select:focus-visible, textarea:focus-visible, .auto-publish:focus, .auto-publish:focus-within, .user-menu:focus, .user-menu:focus-within, .dashboard-card:focus {
    border: 1px solid black;
    box-shadow: 5px 5px 5px $primary500;
}*/