@inherits LayoutComponentBase

<NavMenu />

<div class="main">
    <PageInfo />
    @Body
</div>

@inject IJSRuntime JSRuntime
@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JSRuntime.InvokeVoidAsync("showHighlight");
    }
} 