<div class="sidebar">
    <div class="header">
        <a class="logo" href="/">
            <img src="/images/logo.svg" />
            KODEKIT.CSS
        </a>
    </div>
    <div class="menu">
        <div>Getting Started</div>
        <div>Introduction</div>
    </div>
    <LoginDisplay />
</div>

@inject NavigationManager Navigation
@code {
    //private bool collapseNavMenu = true;
    //private string hideNavMenu => collapseNavMenu ? "collapse" : null;
    //private bool homePage = false;
    //private string test = "";

    //protected override void OnInitialized()
    //{
    //    test = Navigation.Uri;
    //    if (Navigation.Uri == Navigation.BaseUri)
    //    {
    //        homePage = true;
    //    }
    //}

    //private void ToggleNavMenu()
    //{
    //    collapseNavMenu = !collapseNavMenu;
    //}
}
