<div class="header">
    @if (ShowMobileMenu == false)
    {
        <span class="material-icons mobile" @onclick="ToggleMobile">menu</span>
    }
    else
    {
        <span class="material-icons mobile" @onclick="@ToggleMobile">close</span>
    }
    <a class="logo" href="/">
        <img src="/images/logo.svg" />
        KODEKIT
    </a>
    <LoginDisplay />
</div>

<div class="sidebar @Show">
    <div class="menu">
        <div class="heading">Overview</div>
        <NavLink href="/" Match="NavLinkMatch.All">
            Introduction
        </NavLink>
        <NavLink href="installation" Match="NavLinkMatch.Prefix">
            Installation
        </NavLink>
        <NavLink href="themes" Match="NavLinkMatch.Prefix">
            Themes
        </NavLink>
        <NavLink href="#" Match="NavLinkMatch.Prefix">
            Release Notes
        </NavLink>
        <NavLink href="global-settings" Match="NavLinkMatch.Prefix">
            Global Reset
        </NavLink>

        <div class="heading">Base Styles</div>
        <NavLink href="typography" Match="NavLinkMatch.Prefix">
            Typography
        </NavLink>
        <NavLink href="colors" Match="NavLinkMatch.Prefix">
            Colors
        </NavLink>
        <NavLink href="icons" Match="NavLinkMatch.Prefix">
            Icons
        </NavLink>
        <NavLink href="layout" Match="NavLinkMatch.Prefix">
            Layout
        </NavLink>
        <NavLink href="effects" Match="NavLinkMatch.Prefix">
            Effects
        </NavLink>

        <div class="heading">HTML Elements</div>
        <NavLink href="buttons" Match="NavLinkMatch.Prefix">
            Buttons
        </NavLink>
        <NavLink href="inputs" Match="NavLinkMatch.Prefix">
            Inputs & Textareas
        </NavLink>
        <NavLink href="selectors" Match="NavLinkMatch.Prefix">
            Selectors & Toggles
        </NavLink>
        <NavLink href="dropdowns" Match="NavLinkMatch.Prefix">
            Dropdowns
        </NavLink>
        <NavLink href="anchors" Match="NavLinkMatch.Prefix">
            Anchors
        </NavLink>
        <NavLink href="lists" Match="NavLinkMatch.Prefix">
            Lists
        </NavLink>
        <NavLink href="layout" Match="NavLinkMatch.Prefix">
            Structure
        </NavLink>

        <div class="heading">Utility</div>
        <NavLink href="box-shadow" Match="NavLinkMatch.Prefix">
            Box Shadow
        </NavLink>
    </div>
</div>

@code {
    bool ShowMobileMenu = false;
    string Show = "";

    private void ToggleMobile()
    {
        ShowMobileMenu = !ShowMobileMenu;

        if (ShowMobileMenu == true)
            Show = "show-mobile";
        else
            Show = "";
    }
}