@import "../_variables.scss";

.sidebar {
    background: $white;
    max-width: 256px;
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    height: 100vh;
    bottom: 0;
    z-index: 10;

    .menu {
        padding: 20px 16px;
    }


    .login-display {
        display: flex;
        position: absolute;
        left: 16px;
        bottom: 50px;

        a {
            color: $black;
            text-decoration: none;
        }

        .logout {
            border: none;
            background: none;
        }
    }
}

.header {
    height: 55px;
    font-family: 'Roboto', sans-serif;
    position: relative;
    z-index: 10;
    margin: 0 auto;
    padding: 20px 16px;
    border-bottom: 1px solid $gray100;
    box-sizing: border-box;

    .logo {
        font-size: 20px;
        font-family: 'Roboto Mono';
        font-weight: 500;
        font-size: 14px;

        img {
            vertical-align: middle;
            margin-right: 5px;
        }
    }

    a {
        color: $black;
        text-decoration: none;
    }
}

.landing-header {
    height: 180px;
    font-family: 'Roboto', sans-serif;
    position: relative;
    z-index: 10;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;

    .logo {
        position: absolute;
        top: 46px;
        left: 0;
        font-size: 20px;
        font-family: 'Roboto Mono';
        font-weight: 500;
        font-size: 14px;

        img {
            vertical-align: middle;
            margin-right: 5px;
        }
    }

    a {
        color: $black;
        text-decoration: none;
    }

    .login-display {
        display: flex;
        position: absolute;
        top: 46px;
        right: 0px;
    }
}