<div class="sidebar">
    <div class="header">
        <a class="logo" href="/">
            <img src="/images/logo.svg" />
            KODEKIT.CSS
        </a>
    </div>
    <div class="menu">
        <div class="heading">Getting Started</div>
        <NavLink href="/" Match="NavLinkMatch.All">
            Introduction
        </NavLink>
        <NavLink href="#" Match="NavLinkMatch.Prefix">
            Release Notes
        </NavLink>
        <div class="heading">Base Styles</div>
        <NavLink href="typography" Match="NavLinkMatch.Prefix">
            Typography
        </NavLink>
        <NavLink href="colors" Match="NavLinkMatch.Prefix">
            Colors
        </NavLink>
        <NavLink href="layout" Match="NavLinkMatch.Prefix">
            Layout
        </NavLink>
        <NavLink href="paragraph" Match="NavLinkMatch.Prefix">
            Paragraph Settings
        </NavLink>
        <div class="heading">HTML Elements</div>
        <NavLink href="buttons" Match="NavLinkMatch.Prefix">
            Buttons
        </NavLink>
        <NavLink href="inputs" Match="NavLinkMatch.Prefix">
            Inputs & Textareas
        </NavLink>
        <NavLink href="checkboxes" Match="NavLinkMatch.Prefix">
            Checkboxs & Radios
        </NavLink>
        <NavLink href="dropdowns" Match="NavLinkMatch.Prefix">
            Dropdowns
        </NavLink>
        <NavLink href="anchors" Match="NavLinkMatch.Prefix">
            Anchors
        </NavLink>
        <NavLink href="images" Match="NavLinkMatch.Prefix">
            Images
        </NavLink>
        <div class="heading">Effects</div>
        <NavLink href="box-shadow" Match="NavLinkMatch.Prefix">
            Box Shadow
        </NavLink>
    </div>
    <LoginDisplay />
</div>

@code {

}
