<div class="header">
    @if (ShowMobileMenu == false)
    {
        <span class="material-icons mobile" @onclick="ToggleMobile">menu</span>
    }
    else
    {
        <span class="material-icons mobile" @onclick="@ToggleMobile">close</span>
    }
    <a class="logo" href="/">
        <img src="/images/logo.svg" alt="Kodekit Logo" />
        KODEKIT
    </a>
    <LoginDisplay />
</div>

<div class="sidebar @Show">
    <div class="menu">
        <div class="heading">Overview</div>
        <NavLink href="/@(kitId)/" Match="NavLinkMatch.All">
            Introduction
        </NavLink>
        <NavLink href="/@(kitId)/installation" Match="NavLinkMatch.All">
            Installation
        </NavLink>
        <NavLink href="/@(kitId)/themes" Match="NavLinkMatch.All">
            Themes
        </NavLink>
        <NavLink href="/@(kitId)/release-notes" Match="NavLinkMatch.All">
            Release Notes
        </NavLink>
        <NavLink href="/@(kitId)/global-settings" Match="NavLinkMatch.All">
            Global Reset
        </NavLink>
        <NavLink href="/@(kitId)/preview" Match="NavLinkMatch.All">
            Preview
        </NavLink>

        <div class="heading">Base Styles</div>
        <NavLink href="/@(kitId)/typography" Match="NavLinkMatch.All">
            Typography
        </NavLink>
        <NavLink href="/@(kitId)/colors" Match="NavLinkMatch.All">
            Colors
        </NavLink>
        <NavLink href="/@(kitId)/icons" Match="NavLinkMatch.All">
            Icons
        </NavLink>
        <NavLink href="/@(kitId)/effects" Match="NavLinkMatch.All">
            Effects
        </NavLink>

        <div class="heading">HTML Elements</div>
        <NavLink href="/@(kitId)/buttons" Match="NavLinkMatch.All">
            Buttons
        </NavLink>
        <NavLink href="/@(kitId)/inputs" Match="NavLinkMatch.All">
            Inputs & Textareas
        </NavLink>
        <NavLink href="/@(kitId)/selectors" Match="NavLinkMatch.All">
            Selectors & Toggles
        </NavLink>
        <NavLink href="/@(kitId)/dropdowns" Match="NavLinkMatch.All">
            Dropdowns
        </NavLink>
        <NavLink href="/@(kitId)/anchors" Match="NavLinkMatch.All">
            Anchors
        </NavLink>
        <NavLink href="/@(kitId)/lists" Match="NavLinkMatch.All">
            Lists
        </NavLink>
        <NavLink href="/@(kitId)/layout" Match="NavLinkMatch.All">
            Structure
        </NavLink>

        <div class="heading">Utility</div>
        <NavLink href="/@(kitId)/box-shadow" Match="NavLinkMatch.All">
            Box Shadow
        </NavLink>
    </div>
</div>

@code {
    bool ShowMobileMenu = false;
    string Show = "";
    [Parameter] public string kitId { get; set; }

    private void ToggleMobile()
    {
        ShowMobileMenu = !ShowMobileMenu;

        if (ShowMobileMenu == true)
            Show = "show-mobile";
        else
            Show = "";
    }
}