@import "../_variables.scss";

.sidebar {
    background: $white;
    max-width: 256px;
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    height: 100vh;
    bottom: 0;
    z-index: 10;

    @media screen and (max-width: 780px) {
        transform: translateX(-256px);
        transition: all 0.5s ease;

        &.show-mobile {
            display: block;
            left: 0;
            z-index: 11;
            transform: translateX(0);
            transition: all 0.5s ease;
            box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.10), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
        }
    }

    .menu {
        padding: 20px 16px;
        margin-top: 80px;

        a {
            display: block;
            text-decoration: none;
            color: $gray700;
            font-size: 14px;
            margin: 0 16px;
            padding: 8px 0;
        }

        a:hover {
            color: $primary500;
        }

        .heading {
            padding: 32px 16px 8px 16px;
            color: $gray900;
            font-size: 12px;
            line-height: 14.4px;
            font-weight: 500;

            &:first-child {
                padding: 0 16px 8px 16px;
            }
        }

        .active {
            background-color: $primary100;
            border-radius: 4px;
            margin: 0;
            padding: 8px 16px;
            color: $primary500;
            font-weight: 500;
        }
    }
}

.header {
    height: 64px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 12;
    margin: 0 auto;
    padding: 20px 16px;
    border-bottom: 1px solid $gray100;
    box-sizing: border-box;
    background: $white;

    @media screen and (max-width: 780px) {
        text-align: center;
    }


    .logo {
        font-weight: 500;
        font-size: 14px;
        padding-left: 20px;
        font-family: Inter;

        @media screen and (max-width: 780px) {
            margin: 0 auto;
            padding-left: 0;
        }

        img {
            vertical-align: middle;
            margin-right: 2px;
            margin-top: -3px;
            width: 25px;
        }
    }

    a {
        color: $black;
        text-decoration: none;
    }

    .login-display {
        position: absolute;
        right: 45px;
        top: 16px;

        @media screen and (max-width: 780px) {
            right: 25px;
        }

        @media screen and (max-width: 500px) {
            right: 15px;
        }

        a {
            color: $gray500;
            text-decoration: none;
            display: block;
            padding: 6px;
            font-size: 14px;
        }


        .logout {
            color: $gray500;
            border: none;
            background: none;
            margin-bottom: 0;

            span {
                vertical-align: middle;
                font-size: 16px;
                margin: -2px 0 0 5px;
            }
        }

        button {
            background: $white;
            border-radius: 4px;
            border: 1px solid $gray900;
            padding: 8px;
            margin-bottom: 20px;
        }

        .user-menu {
            position: absolute;
            right: 82px;
            top: 4px;
            display: flex;

            @media screen and (max-width: 780px) {
                right: 5px;
            }

            span {
                color: $gray500;
                cursor: pointer;
            }
        }

        .dropdown-menu {
            background: $white;
            border-radius: 4px;
            padding: 12px 20px;
            width: 122px;
            display: flex;
            flex-wrap: wrap;
            position: absolute;
            top: 55px;
            right: -11px;
        }
    }

    .mobile {
        display: none;
        cursor: pointer;
        position: absolute;
        left: 25px;


        @media screen and (max-width: 780px) {
            display: block;
        }
    }
}