<div class="sidebar">
    <div class="header">
        <a class="logo" href="/">
            <img src="/images/logo.svg" />
            KODEKIT.CSS
        </a>
    </div>
    <div class="menu">
        <div class="heading">Getting Started</div>
        <a href="">Introduction</a>
        <a href="">Release Notes</a>
        <div class="heading">Global Styles</div>
        <a href="/typography">Typography</a>
        <a href="/colors">Colors</a>
        <a href="">Effects</a>
        <div class="heading">Elements</div>
        <a href="">Buttons</a>
        <a href="">Forms</a>
        <a href="">Links</a>
    </div>
    <LoginDisplay />
</div>

@inject NavigationManager Navigation
@code {
    //private bool collapseNavMenu = true;
    //private string hideNavMenu => collapseNavMenu ? "collapse" : null;
    //private bool homePage = false;
    //private string test = "";

    //protected override void OnInitialized()
    //{
    //    test = Navigation.Uri;
    //    if (Navigation.Uri == Navigation.BaseUri)
    //    {
    //        homePage = true;
    //    }
    //}

    //private void ToggleNavMenu()
    //{
    //    collapseNavMenu = !collapseNavMenu;
    //}
}
