nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 48px 80px 38px 80px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  gap: 160px;
  background: #0E0E0E;
  border-bottom: 1px solid #B2B2B2;
  z-index: 1000;
  /*.button--wrapper {
      width: 256px;
      height: 80px;
      border-top: 1px solid $grey-100;
      position: fixed;
      bottom: 0;
      background: $white;

      .button--save {
          padding: 8px 16px;
          font-size: 14px;
          position: absolute;
          bottom: 20px;
          left: 32px;

          svg {
              width: 14px;
          }
      }
  }*/
}
nav .header {
  z-index: 600;
}
nav .header .logo {
  font-family: "QuantaGroteskPro";
  font-weight: 500;
  font-size: 23px;
  line-height: 100%;
}
@media screen and (max-width: 780px) {
  nav .header .logo {
    margin: 0 auto;
    padding-left: 0;
  }
}
nav .header a {
  color: #FFFFFF;
  text-decoration: none;
}
@media screen and (max-width: 780px) {
  nav .header {
    text-align: center;
  }
}
nav .header .mobile {
  display: none;
  cursor: pointer;
  position: absolute;
  left: 25px;
}
@media screen and (max-width: 780px) {
  nav .header .mobile {
    display: block;
  }
}
nav .menu {
  overflow: hidden;
  padding-left: 8px;
  display: flex;
  gap: 60px;
  z-index: 600;
  /*.active {
      background-color: $primary100;
      border-radius: 4px;
      margin: 0;
      padding: 8px 16px;
      color: $primary500;
      font-weight: 500;
  }*/
}
@media screen and (max-width: 780px) {
  nav .menu {
    transform: translateX(-256px);
    transition: all 0.5s ease;
  }
  nav .menu.show-mobile {
    display: block;
    left: 0;
    z-index: 11;
    transform: translateX(0);
    transition: all 0.5s ease;
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.1), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
  }
}
nav .menu .category {
  width: 122px;
  display: flex;
  flex-direction: column;
}
nav .menu .category.html-elements {
  width: 163px;
}
nav .menu .heading {
  font-family: "QuantaGroteskPro";
  font-weight: 500;
  font-size: 23px;
  line-height: 100%;
  margin-bottom: 18px;
}
nav .menu a {
  margin-bottom: 13px;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #FFFFFF;
  opacity: 0.7;
  font-family: "EncodeSans";
  font-weight: 300;
  font-size: 14px;
  line-height: 100%;
  text-decoration: none;
  transition: 200ms ease-in-out;
}
nav .menu a:last-of-type {
  margin-bottom: 0;
}
nav .menu a:hover {
  opacity: 1;
}
nav .menu a:active {
  opacity: 0.7;
}
nav .menu-right {
  width: 100%;
  position: relative;
  background: transparent;
  z-index: 500;
}
nav .menu-right .login-display {
  position: absolute;
  right: 0;
  /*@media screen and (max-width: 780px) {
      right: 25px;
  }

  @media screen and (max-width: 500px) {
      right: 15px;
  }*/
}
nav .menu-right .login-display .login {
  font-family: "QuantaGroteskPro";
  font-weight: 500;
  font-size: 23px;
  line-height: 100%;
  margin-bottom: 18px;
}
nav .menu-right .login-display .user-menu button {
  margin-bottom: 18px;
  font-family: "QuantaGroteskPro";
  font-weight: 500;
  font-size: 23px;
  line-height: 100%;
  color: #FFFFFF;
  cursor: pointer;
}
nav .menu-right .login-display .dropdown-menu {
  width: 150px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 38px;
  right: 0px;
  background: #1A1A1A;
  border: 1px solid #FFFFFF;
  border-radius: 8px;
}
nav .menu-right .login-display .dropdown-menu a {
  display: block;
  width: 100%;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 100%;
  text-decoration: none;
  transition: 200ms ease-in-out;
}
nav .menu-right .login-display .dropdown-menu a:hover {
  transform: scale(104%);
}
nav .menu-right .login-display .dropdown-menu .logout {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 0;
  color: #FFFFFF;
  border: none;
  background: none;
  font-size: 14px;
  transition: 200ms ease-in-out;
}
nav .menu-right .login-display .dropdown-menu .logout:hover {
  transform: scale(104%);
}
nav .menu-right .login-display .dropdown-menu .logout span {
  vertical-align: middle;
  font-size: 16px;
  margin: -2px 0 0 5px;
}
