<div class="page-info">
    @*@if (Kits != null)
        {*@
    <div class="breadcrumbs">
        <div class="title">
            My Styleguides
            <img src="/images/right-icon.svg" alt="right" />
        </div>
        <div class="kit-select">
            Untitled Styleguide
            <img src="/images/dropdown-icon.svg" alt="down" />
        </div>
    </div>
    <div class="info">
        @if (showLogin == true)
        {
            <div class="info--time">Please <a href="authentication/login">Log In</a> to save changes</div>
        }
        else
        {
            <div class="info--time">Last Saved: 12:03 PM</div>
        }

        <div class="actions">
            <img @onclick="DeleteKit" src="/images/delete-icon.png" title="Delete" />
            <img @onclick="CopyKit" src="/images/copy-icon.png" title="Copy" />
            <img @onclick="DownloadKit" src="/images/download-icon.png" title="Download" />
            <img src="/images/settings-icon.png" title="Settings" alt="Settings Icon" />
            <div class="version-select">
            </div>
        </div>
        @if (showLogin == false)
        {
            <div class="history @(ShowDropdown == true ? "selected" : "")" @onclick="ToggleDropdown">
                @if (ShowDropdown == false)
                {
                    <img class="icon-left" src="/images/history-icon.svg" />
                }
                else
                {
                    <img class="icon-left" src="/images/blue-history-icon.svg" />
                }
                Version History
                @if (ShowDropdown == false)
                {
                    <img class="icon-right" src="/images/dropdown-icon.svg" />
                }
                else
                {
                    <img class="icon-left" src="/images/blue-close-icon.svg" />
                }
            </div>
        }
    </div>
    @if (ShowDropdown == true)
    {
        <div class="history--dropdown">
            <div class="title">Version History</div>
            <div class="current">Current Version</div>
            <div class="title">Past Versions</div>
            <ul>
                @*@foreach (var item in Kits)
                    {
                        <li>@item.DateCreated.Value.ToString("f")</li>
                    }*@
            </ul>
        </div>
    }
</div>

@code {
    bool ShowDropdown = false;
    private ICollection<Kit> Kits;
    bool showLogin = true;

    protected override async Task OnInitializedAsync()
    {
        string currentKitId = await localStorage.GetItemAsync<string>("kodekitId");
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        if (user.Identity.IsAuthenticated)
        {
            showLogin = false;
            Kits = await Api.GetRelatedKitsAsync(currentKitId);
        }
        else if (!String.IsNullOrEmpty(currentKitId))
        {
            var kit = await Api.GetKitAsync(currentKitId);
            Kits.Add(kit);
        }
        else
        {
            var kit = await PublicApi().CreateKitAsync(new Kit());
            Kits.Add(kit);
        }
    }

    private void ToggleDropdown()
    {
        ShowDropdown = !ShowDropdown;

    }

    private void DeleteKit()
    {

    }

    private void CopyKit()
    {

    }

    private void DownloadKit()
    {

    }
}