@import "../_variables.scss";

.banner {
    width: 100%;
    max-width: 560px;
    height: 97px;
    box-sizing: border-box;
    padding: 26px 56px;
    background: $white;
    margin: 0 auto;
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: -16px;
    z-index: 10;
    border-radius: 8px;
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06);

    @media screen and (max-width: 600px) {
        margin: 0 20px;
        left: 0;
        bottom: 15px;
        transform: unset;
        width: 90%;
    }

    h3 {
        margin: 0;
        font-size: 14px;
        font-weight: 500;
    }

    p {
        font-size: 14px;
        color: $grey-700;

        .select-login {
            color: $primary-500;
            cursor: pointer;
            text-decoration: none;
            display: inline;
            padding: 0;
        }

        @media screen and (max-width: 600px) {
            margin-top: 6px;
        }
    }

    .material-icons {
        vertical-align: middle;
        margin: -3px 10px 0 -36px;
        font-size: 22px;
    }

    .button--close {
        position: absolute;
        top: 20px;
        right: 20px;
        color: $grey-700;
        cursor: pointer;
        font-size: 16px;
        margin: 0;
    }
}