# sparc reviewers team
*       @sparc-coop/reviewers

# backend architecture reviewer
*       @antoniocorreia

# frontend architecture reviewer
*       @JParker443

# accessibility-first front-end reviewer
*       @N7Layla
