@page "/account"
@attribute [Authorize]

<div class="account-page">
    
</div>

@code {
    private string userid;
    private User User = new User();

    protected override async Task OnInitializedAsync()
    {
        var test = await Api.UpdateUserAsync(User);
    }
}