@import "../_variables.scss";

.add-kit {
    padding: 0 235px;
    display: flex;
    flex-wrap: wrap;
    //max-width: 1000px;
    //margin: 0 auto;
    font-family: Lato;
    background: $background;
    padding-top: 180px;
    margin-top: -180px;
    height: 100vh;

    form {
        position: relative;
        width: 100%;

        .title {
            input {
                width: 400px;
            }
        }
    }

    form > div {
        padding: 20px;

        input, textarea {
            display: block;
            margin-top: 5px;
            border: none;
            border-radius: 4px;
            padding: 10px;
            border: 1px solid #E7E7ED;
            background: $white;

            &[type=file] {
                padding: 0;
                margin-bottom: 20px;
            }
        }
    }

    .manual-input {
        > div {
            padding: 20px 0;
        }

        textarea {
            //margin-left: 20px;
        }
    }

    .upload {
        width: 100%;

        input[type=file] {
            cursor: pointer;
            width: 90px;
        }

        code {
            background: $white;
            border-radius: 6px;
            padding: 15px 20px;
            color: $dark-gray;
            margin-top: 10px;
        }

        p {
            padding-bottom: 10px;
        }

        span {
            cursor: pointer;
            position: absolute;
            right: 25px;
        }

        #code-copy {
            color: $background;
            background: $background;
            position: absolute;
            left: -1000px;
            top: -1000px;
        }
    }

    .save {
        position: absolute;
        top: 40px;
        right: 220px;
        padding: 14px 25px;
        cursor: pointer;
        border-radius: 4px;
        border: 1px solid $gray100;
        text-transform: uppercase;
        background: $white;
    }
}
