<html>
<body>
    <header>
        <h1>Title</h1>
        <h2>Greeting</h2>
    </header>
    <nav>
        <a>Link</a>
        <a>Link</a>
    </nav>
    <main>
        <section role="banner">
            <h3>Call To Action</h3>
        </section>
        <article>
            <h4>Article heading</h4>
        </article>

        <aside>
            <h4>Related</h4>

        </aside>
    </main>
</body>
</html>