@page "/Finish/{kitId}"

<div class="finish">
    <div class="finish__container">
        <div class="title">
            <h2>Finished!</h2>
            <p>
                You can download your CSS file or embed it directly in your project by copying the link.
            </p>
        </div>
        @*<a class="download" href="@kit.Url" target="_blank">Download</a>*@
        @*<button class="download" @onclick="Download">Download</button>*@
        <code>
            @*&lt;link rel="stylesheet" type="text/css" href="https://ui-kit.azurewebsites.net/uikit/@kit.GUID"&gt;*@
        </code>
        <input id="code-copy" value="@linktext" />
        <span class="material-icons" @onclick="CopyLink">
            content_copy
        </span>
    </div>
</div>

@*@inject IJSRuntime JSRuntime*@
@code {
    //private Kit kit { get; set; }
    [Parameter] public string kitId { get; set; }
    private bool downloadSuccess;
    string linktext = "";
    string downloadPath = "";

    protected override void OnInitialized()
    {
        //kit = KitRepo.Query.Where(x => x.GUID.ToString() == kitId).FirstOrDefault();
        //linktext = $"<link rel=\"stylesheet\" type=\"text/css\" href=\"https://ui-kit.azurewebsites.net/uikit/" + kit.GUID + "\" >";
    }

    //private async Task Download()
    //{
    //    WebClient webClient = new WebClient();
    //    var folder = Environment.SpecialFolder.Desktop;
    //    downloadPath = Environment.GetFolderPath(folder) + "\\kodekit.css";
    //    webClient.DownloadFile(kit.Url, downloadPath);

    //    //downloadPath = await new StorageContext().Download(kit.GUID.ToString());
    //    downloadSuccess = true;
    //}

    private async Task CopyLink()
    {
        //await JSRuntime.InvokeAsync<string>("copyToClipboard", linktext);
    }
}