@import "../_variables";

.get-started {
/*    height: calc(100vh - 180px);
    padding: 180px 20px 0 20px;
    margin-top: -180px;*/


    h2 {
        font-family: Roboto Mono;
        font-weight: 700;
        font-size: 40px;
        line-height: 160%;
        color: $text-primary;
        margin: 0;
    }

    p {
        font-family: Roboto;
        font-size: 18px;
        line-height: 180%;
        color: $text-secondary;
        width: 400px;
        margin: 0;
        padding: 18px 0 80px 0;
    }

    button {
        background: $blue;
        border-radius: 4px;
        color: $white;
        font-family: Roboto Mono;
        font-weight: 500;
        font-size: 16px;
        line-height: 160%;
        padding: 6px 24px;
        border: none;
        position: absolute;
        bottom: 140px;
        left: 0;
    }
}
