@page "/getstarted"

<div class="page">
    <div class="page__container">
        <header>
            <div class="title">Getting Started</div>
            <h2>Introduction</h2>
            <p>
                This is where you can build your very own system, and at the end export it to use in your projects.
            </p>
        </header>
        <button @onclick="CreateNewKit">Get Started</button>
    </div>
</div>

@code {
    async Task CreateNewKit()
    {
        await Api.CreateKitAsync();
        Nav.NavigateTo("/Typography");
    }
}