@import "../_variables.scss";

.dashboard {
    width: 100%;
    height: 100%;
    background: $background;
    margin-top: -100px;

    .background {
        width: 100%;
        height: 100%;
        position: relative;

        .blob-container {
            width: 100%;
            height: 100%;
            filter: blur(200px);
        }

        .blob-blue {
            width: 50%;
            position: absolute;
            bottom: -25%;
            left: 50%;
            transform: translateX(-50%);
            z-index: 10;
        }

        .blob-purple {
            width: 50%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 20;
        }

        .blob-gradient {
            width: 50%;
            position: absolute;
            top: -171px;
            right: 0;
            z-index: 30;
        }

        .overlay-noise {
            width: 100vw;
            height: 100vh;
            position: fixed;
            top: 0;
            left: 0;
            mix-blend-mode: overlay;
            z-index: 30;
        }
    }
}