@page "/Landing"
@layout EmptyLayout

<div class="landing">
    <div class="hero">
        <div class="hero__container">
            <div>
                <h1>Turn your styleguide into CSS files</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
                </p>
                <div>
                    <a href="/GetStarted" class="button--blue">Get Started for Free</a>
                    <a href="#" class="button--gray">Learn More</a>
                </div>
            </div>
            <div class="example">
                <h3>See for yourself!</h3>
                <div class="example__container">
                    <label>
                        Choose a Primary Color
                        <span style="background-color: #0B5FFF"></span>
                        <input value="#0B5FFF" />
                    </label>
                    <label>
                        Choose a Type Scale
                        <select>
                            <option selected>1.250 (Major Third)</option>
                        </select>
                    </label>
                    <div class="divider">or</div>
                    <label>
                        Choose A Premade Theme
                        <select>
                            <option selected>KODEKIT Default</option>
                        </select>
                    </label>
                </div>
            </div>
        </div>
        <div class="highlight">
            <div>
                <img src="/images/time_icon.svg" />
                <p>
                    Quickly turn Styleguides to Code
                </p>
            </div>
            <div>
                <img src="/images/time_icon.svg" />
                <p>
                    Quickly turn Styleguides to Code
                </p>
            </div>
            <div>
                <img src="/images/time_icon.svg" />
                <p>
                    Quickly turn Styleguides to Code
                </p>
            </div>
        </div>
        <div class="arrow__container">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M13 12H20L12 20L4 12H11V4H13V12Z" fill="#A7A9BC" />
            </svg>
        </div>
    </div>
    <div class="intro">
        <div class="intro__container">
            <div class="intro--header">How it works</div>
            <div class="step">
                <div>
                    <h3>Build Your Styleguide</h3>
                    <p>
                        Start by updating the settings that form your styleguide. Things such as colors and type, all the way to border radius and padding.
                    </p>
                </div>
                <div class="img-container">
                    <img src="" />
                </div>
            </div>
            <div class="step">
                <div>
                    <h3>Export to .css</h3>
                    <p>
                        After you are done setting up your styleguide and are happy with how the elemnts look, you can export it as a .css file.
                    </p>
                </div>
                <div class="img-container">
                    <img src="/images/example2.svg" />
                </div>
            </div>
            <div class="step">
                <div>
                    <h3>Get Building</h3>
                    <p>
                        Import your KODEKIT.CSS file into your project, and notice how the default html elements are styled to your liking.
                    </p>
                </div>
                <div class="img-container">
                    <img src="/images/example3.svg" />
                </div>
            </div>
            <div class="intro-cta">
                <h2>Ready to build your system?</h2>
                <button @onclick="@(e => GoTo("/GetStarted"))">Get Started for Free</button>
            </div>
        </div>
    </div>
</div>

@code {

    void GoTo(string page)
    {
        Nav.NavigateTo(page);
    }
}