@import "../_variables";

.installation {
    .instructions {
        background: #282c34;
        border-radius: 8px;
        position: relative;
        overflow: hidden;
        margin: 16px 0 40px 0;
        height: 84px;

        button {
            font-size: 12px;
            position: absolute;
            top: 16px;
            right: 16px;
            background: #282c34;
            border: 1px solid $gray500;
            border-radius: 8px;
            color: $gray500;
            margin-top: 0;
            padding: 6px 10px;
        }
    }

    pre {
        margin-top: -8px;
    }

    .download {
        margin: 30px 0;
        color: $gray900;
        font-size: 16px;
        padding: 8px 16px;
        background: transparent;
        border: 1px solid $gray900;
        border-radius: 4px;
        width: 205px;
        display: block;
        font-weight: 500;

        img {
            margin-left: 10px;
            vertical-align: middle;
            margin-top: -2px;
        }
    }
}
