@import "../_variables";

.installation {
    .instructions {
        background: #282c34;
        border-radius: 8px;
        position: relative;
        overflow: hidden;
        padding-top: 20px;
        margin: 16px 0 40px 0;
        height: 84px;

        button {
            font-size: 12px;
            position: absolute;
            top: 16px;
            right: 16px;
            background: #282c34;
            border: 1px solid $gray500;
            border-radius: 8px;
            color: $gray500;
            margin-top: 0;
        }
    }

    .download {
        margin-bottom: 40px;
    }
}
