@page "/"
@page "/{kitId}/introduction"

<div class="page">
    <div class="page__container">
        <header>
            <div class="title">Overview</div>
            <h2>Introduction</h2>
            <p>
                This is where you can build your very own system, and at the end export it to use in your projects.
            </p>
        </header>
    </div>
</div>

@code {
    [Parameter] public string kitId { get; set; }
@*
    protected override async Task OnInitializedAsync()
    {
        if (kitId == null)
        {
            string result = await localStorage.GetItemAsync<string>("kodekitId");
            if (result != null)
            {
                kitId = result;
            } else
            {
                var kit = await PublicApi().CreateKitAsync(User != null ? User.Id : "");
                await localStorage.SetItemAsStringAsync("kodekitId", kit.KitId);
            }
        }
    }*@
}