@page "/{kitId}/introduction"

<div class="page introduction">
    <div class="page__container">
        <header class="page--header fadeInUp">
            <div class="title">Overview</div>
            <h2>Introduction</h2>
            <p>On this page, you can turn on and off CSS generation for the various elements in your kit.</p>
        </header>
        <div class="content documentation">
            <section class="fadeInUp" style="animation-delay: 0.6s;">
                <header>
                    <h3>What is Kodekit?</h3>
                </header>
                <p>
                    Kodekit is a new way of building frontend websites & applications.
                    The idea is that HTML elements should be styled directly, without
                    the need for additional classes. Only adding classes as additional
                    modifiers such as style variations and size.
                </p>
                <p>
                    Not only that, but Kodekit is also a visual theme builder, meaning
                    that you can create your own styleguides & themes visually, without
                    writing any css.
                </p>
            </section>
            <section class="fadeInUp animated" style="animation-delay: 0.9s;">
                <header>
                    <h3>Why use this method?</h3>
                </header>
                <p>
                    Styling the default HTML directly not only allows for quicker and cleaner
                    code, but also allows for more consistency across larger projects.
                </p>
                <p>
                    No more chaining together multiple classes to create a primary button, only
                    to forget to add some classes every so often.
                </p>
            </section>
        </div>
        @*<SaveAndContinue NextPage="Installation" Text="Get Started" />*@
    </div>
</div>

@code {
    [Parameter] public string kitId { get; set; }
}