@page "/{kitId}/Introduction"

<div class="page">
    <div class="page__container">
        <header>
            <div class="title">Overview</div>
            <h2>Introduction</h2>
            <p>
                This is where you can build your very own system, and at the end export it to use in your projects.
            </p>
        </header>
        <button @onclick="Go">Get Started</button>
    </div>
</div>

@code {
    [Parameter] public string kitId { get; set; }

    void Go()
    {
        Nav.NavigateTo($"/{kitId}/Typography");
    }
}