@page "/"

<div class="page">
    <div class="page__container">
        <header>
            <div class="title">Overview</div>
            <h2>Introduction</h2>
            <p>
                This is where you can build your very own system, and at the end export it to use in your projects.
            </p>
        </header>
        <button @onclick="CreateKit">Get Started</button>
    </div>
</div>

@code {

    async Task CreateKit()
    {
        var result = await PublicApi().CreateKitAsync();
        Nav.NavigateTo($"/{result.KitId}/Typography");
    }
}