@import "../_variables.scss";

.kit-card--divider {
    border-top: 1px solid #C8C8C8;
    opacity: 30%;
    width: 100%;
    margin-bottom: 6px;
}

.kit-card {
    width: 100%;
    background: #0E0E0E;
    padding-bottom: 40px;

    &--header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background: #1A1A1A;
        border-radius: 0px 0px 8px 8px;
        padding: 18px;
        transition: 200ms ease-in-out;

        &:hover {
            filter: brightness(150%);
        }

        label {
            font-family: 'EncodeSans';
            font-weight: 400;
            font-size: 14px;
            line-height: 150%;
            color: $white;
            transition: 250ms ease-in-out;

            &:hover {
                cursor: pointer;
                transform: scale(104%);
            }
        }

        .kit-info {
            display: flex;
            font-family: 'EncodeSans';
            font-weight: 400;
            font-size: 14px;
            line-height: 150%;
            color: $white;
            text-transform: uppercase;
        }

        .kit-actions {
            display: flex;
            align-items: center;

            button {
                width: 25px;
                height: 25px;
                border: none;
                transition: 250ms ease-in-out;
                text-align: center;
            }

            img {
                padding: 5px;
                border: 1px solid transparent;
                border-radius: 4px;
                vertical-align: middle;
                transition: 250ms ease-in-out;
                margin-top: -20px;

                svg {
                    width: 15px;
                    height: 15px;
                }

                &.more-actions {
                    padding: 0px;
                }

                &:hover {
                    border: 1px solid $white;
                    border-radius: 4px;
                }

                &:active {
                    background: $white;

                    svg { //this isn't working
                        path {
                            stroke: $black;
                        }

                        circle {
                            stroke: $black;
                        }
                    }
                }
            }
        }
    }

    &--preview {
        width: 100%;
        margin-top: 35px;
        display: flex;
        justify-content: space-between;
        gap: 16px;
        flex-wrap: wrap;
        color: $white;

        .preview--divider {
            border-left: 1px solid $white;
            opacity: 30%;
        }

        label {
            color: $white;
            font-family: 'EncodeSans_Expanded';
            font-weight: 300;
            font-size: 13px;
            line-height: 100%;
        }

        .typography--preview {
            margin-top: 20px;

            h5 {
                margin-bottom: 8px;
            }

            h5, p {
                color: $white;
                line-height: 100%;
            }
        }

        .colors--preview {
            margin-top: 12px;
            display: flex;
            justify-content: space-between;
            gap: 5px;

            .color-blotch {
                display: block;
                width: 57px;
                height: 57px;
            }
        }

        &:last-child {
            padding-right: 35px;
        }
    }
}