@page "/"
@layout EmptyLayout

<section>
    <header>
        <h1>Html Tests</h1>
    </header>
    <main>
        <div>
            <button>Button Primary</button>
            <button class="secondary">Button Secondary</button>

            @* To get the spacing on the first child the text inside of the button needs to be an element. For example a span or <p> tag *@
            <button><img src="./images/icon.svg" /><span>Button</span></button>
            <button><span>Button</span><img src="./images/icon.svg" /></button>

            <h1 class="secondary">This is a h1</h1>
            <h2 class="secondary">This is a h2</h2>
            <h3 class="secondary">This is a h3</h3>
            <h4 class="secondary">This is a h4</h4>
            <h5 class="secondary">This is a h5</h5>
            <h6 class="secondary">This is a h6</h6>
            <span class="subtitle">This is the subtitle class</span>
            <h1><strong>This is a bold h1</strong></h1>
            <h1><span class="light">This is a light h1</span></h1>


            <form>
                @* Try changing this into Label and inputting all of the content inside of label. *@
                    @* <i> for icons images could be <figure> maybe <picture> ? *@

                <label class="subtitle" for="default">
                    <i><img src="./images/profile.svg" /></i>
                    <input type="email" name="default" value="" placeholder="Username" />
                    Default Field
                </label>

                @* <i> for icons *@

                <label class="subtitle" for="required">
                    <i><img src="./images/profile.svg" /></i>
                    <input type="email" name="required" placeholder="Username" required />
                    Required field
                </label>


                @* <i> for icons *@

                <label class="subtitle" for="disabled">
                    <i><img src="./images/profile.svg" /></i>
                    <input type="email" name="disabled" placeholder="Username" disabled />
                    Disabled Field
                </label>



                <div class="checkboxes">
                    <label for="box-default">
                        <input type="checkbox" name="box-default" value="" />
                        Default
                    </label>

                    <label for="box-active">
                        <input type="checkbox" name="box-active" value="" checked />
                        Active
                    </label>
                    <label for="box-disabled">
                        <input type="checkbox" name="box-disabled" disabled value="" />
                        Disabled
                    </label>
                </div>
                

                <div class="radios">
                    <label for="radio-default">
                        <input type="radio" id="radio-default" name="radio" value="" />
                        Default
                    </label>
                    <label for="radio-active">
                        <input type="radio" id="radio-active" name="radio" value="" checked />
                        Active
                    </label>
                    <label for="radio-disabled">
                        <input type="radio" id="radio-disabled" name="radio" disabled value="" />
                        Disabled
                    </label>
                </div>

                


                <button type="submit">submit</button>
            </form>
            

        </div>
    </main>
    <footer>
 
    </footer>
</section>