@page "/"
@layout EmptyLayout

<section>
    <header>
        <h1>Html Tests</h1>
    </header>
    <main>
        <div>
            <button>Button Primary</button>
            <button class="secondary">Button Secondary</button>
        </div>
    </main>
    <footer>

    </footer>
</section>