@page "/themes"

<div class="page theme-page">
    <div class="page__container">
        <header>
            <div class="title">Overview</div>
            <h2>Themes</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus
            </p>
        </header>
        <h3>Premade Kodekit Styleguides</h3>
        <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus
        </p>
        <section>
            <div>
                <div class="theme-card"></div>
                <label>Kodekit Default</label>
            </div>
            <div>
                <div class="theme-card"></div>
                <label>Kodekit Blank Slate</label>
            </div>
        </section>
    </div>
</div>


@code {

}