@page "/{kitId}/themes"

<div class="page theme-page">
    <div class="page__container">
        <header>
            <div class="title">Overview</div>
            <h2>Themes</h2>
            <p>
                Select a theme to get started with. These themes are the foundation of they styleguide that you can edit or change to fit your needs.
            </p>
        </header>
        <div class="content">
            <h3>Premade Kodekit Styleguides</h3>
            <p class="subheader">
                The Kodekit default theme adds some basic styling, whereas the blank slate theme lets you make all the design decisions.
            </p>
            <section>
                <div>
                    <div class="theme-card"></div>
                    <label>Kodekit Default</label>
                </div>
                <div>
                    <div class="theme-card"></div>
                    <label>Kodekit Blank Slate</label>
                </div>
            </section>
        </div>
    </div>
</div>


@code {
    [Parameter] public string kitId { get; set; }
}