@import "../_variables";

.typography {
    label {
        font-size: 14px;
        line-height: 180%;
        color: $text-gray;
    }

    input, select {
        background: $white;
        border: 1px solid $gray300;
        box-sizing: border-box;
        border-radius: 4px;
        padding: 8px 16px;
        display: block;
        margin: 0 30px 20px 0;
        font-size: 16px;
        line-height: 160%;
        color: $text-gray;
    }
}
