@import "../_variables";

.typography {
    background: $background;
    padding: 180px 20px 0 20px;
    margin-top: -180px;

    &__container {
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
        position: relative;
        height: calc(100vh - 180px);
    }

    h2 {
        font-family: Roboto Mono;
        font-weight: 700;
        font-size: 40px;
        line-height: 160%;
        color: $text-primary;
        margin: 0;
    }

    p {
        font-family: Roboto;
        font-size: 16px;
        line-height: 180%;
        color: $text-gray;
        width: 572px;
        margin: 0;
        padding: 16px 0 40px 0;
    }

    .title {
        h4 {
            font-family: Roboto Mono;
            font-size: 14px;
            line-height: 160%;
            color: $primary500;
            margin: 0;
        }
    }

    h3 {
        color: $text-primary;
        font-family: Roboto Mono;
        font-weight: 400;
        font-size: 20px;
        line-height: 160%;
        padding-bottom: 12px;
    }

    .button--save {
        background: $primary500;
        border-radius: 4px;
        color: $white;
        font-family: Roboto Mono;
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        padding: 6px 24px;
        border: none;
        width: 193px;
        box-sizing: border-box;
        cursor: pointer;
    }

    label {
        font-family: Roboto;
        font-weight: normal;
        font-size: 14px;
        line-height: 180%;
        color: $text-gray;
    }

    input, select, textarea {
        background: $white;
        border: 1px solid #E7E7ED;
        box-sizing: border-box;
        border-radius: 4px;
        padding: 8px 16px;
        display: block;
        margin: 0 30px 20px 0;
        font-family: Roboto Mono;
        font-size: 16px;
        line-height: 160%;
        color: $text-gray;
    }

    .preview-example {
        background: $white;
        border: 1px solid #E7E7ED;
        box-sizing: border-box;
        border-radius: 8px;
        padding: 40px;
        margin-bottom: 80px;
        color: $text-primary;

        > div:not(:last-child) {
            padding-bottom: 32px;
        }

        label {
            font-family: Roboto;
            font-size: 14px;
            line-height: 180%;
            color: $text-gray;
            padding-bottom: 32px;
        }

        h1 {
            font-family: Roboto Mono;
            font-weight: 400;
            font-size: 48px;
            line-height: 120%;
            padding: 0;
            margin: 0;
        }

        h2 {
            font-family: Roboto Mono;
            font-weight: 400;
            font-size: 39px;
            line-height: 120%;
            padding: 0;
            margin: 0;
        }

        h3 {
            font-family: Roboto Mono;
            font-weight: 400;
            font-size: 31px;
            line-height: 120%;
            padding: 0;
            margin: 0;
        }

        h4 {
            font-family: Roboto Mono;
            font-weight: 400;
            font-size: 25px;
            line-height: 120%;
            padding: 0;
            margin: 0;
        }

        h5 {
            font-family: Roboto Mono;
            font-weight: 400;
            font-size: 20px;
            line-height: 120%;
            padding: 0;
            margin: 0;
        }

        h6 {
            font-family: Roboto Mono;
            font-weight: 400;
            font-size: 16px;
            line-height: 120%;
            padding: 0;
            margin: 0;
        }

        p {
            color: $text-primary;
            font-family: Roboto Mono;
            font-weight: 400;
            font-size: 12px;
            line-height: 120%;
            padding: 0;
            margin: 0;
        }

        &--body {

            p {
                width: 100%;
            }

            .large {
                color: $text-primary;
                font-family: Roboto;
                font-size: 20px;
                line-height: 160%;
            }

            .medium {
                color: $text-primary;
                font-family: Roboto;
                font-size: 17px;
                line-height: 160%;
            }

            .small {
                color: $text-primary;
                font-family: Roboto;
                font-size: 14px;
                line-height: 160%;
            }
        }
    }

    .section {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 40px;

        p {
            font-family: Roboto;
            font-weight: normal;
            font-size: 14px;
            line-height: 180%;
            color: $text-gray;
            padding: 0;
        }

        textarea {
            max-width: 486px;
            width: 100%;
            min-height: 96px;
        }

        .large {
            width: 486px;
        }

        .medium {
            width: 314px
        }

        .small {
            width: 142px;
        }
    }

    .content {
        padding-bottom: 100px;
    }
}
