@page "/my-kits"
@attribute [Authorize]

<div class="dashboard page">
    <div class="page__container">
        <h2>Your Projects</h2>
        <select class="sort">
            <option>Recently Updated</option>
        </select>
        <button @onclick="@(e => Nav.NavigateTo("/typography"))">New Kit</button>
        @if (Kits == null)
        {
            <p>Create a new kit to get started!</p>
        }
        else
        {
            <div class="dashboard-container">
                @foreach (var kit in Kits)
                {
                    <a href="kits/@kit.Id" class="dashboard-card">
                        <img src="/images/dash-icon.svg" />
                        <div>
                            <div class="title">@kit.Id</div>
                            <div class="date">Last Updated:
                             @(kit.ModifiedDate != null ? kit.ModifiedDate.Value.ToString("MM/dd/yyyy") 
                                : kit.DateCreated != null ? kit.DateCreated.Value.ToString("MM/dd/yyyy") : "")
                            </div>
                        </div>
                    </a>
                }
            </div>
        }
    </div>
</div>

@code {
    private User User;
    private ICollection<Kit> Kits;

    protected override async Task OnInitializedAsync()
    {
        User = await Api.GetUserAsync();
        Kits = await Api.GetUserKitsAsync();
    }
}