@import "../_variables";

.layout--header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;

    .divider {
        margin: 0 80px;
        border-top: 1px solid $grey-300;
    }
}

.main {
    &.simplified {
        margin-top: 210px;
    }
}