button {
    background: var(--primary-500);
    border-radius: var(--border-radius, 4px);
    border-width: var(--border-width, 0);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    color: white;
    padding: var(--padding-vertical) var(--padding-horizontal);
    cursor: pointer;
}

button svg path {
    fill: white;
}

button:hover, button.hover
{
    background: var(--primary-300);
}

button.secondary {
    background: white;
    border: var(--secondary-border-width, 1px) solid var(--secondary-500);
    color: var(--secondary-500);
}

button.secondary:hover, button.secondary.hover
{
    border-color: var(--primary-300);
    color: var(--primary-300);
}

    button.secondary svg path {
        fill: var(--secondary-500);
    }

    button.secondary:hover svg path, button.secondary.hover svg path {
        fill: var(--primary-300);
    }

button > :first-child {
    margin-right: 14px;
}

