.preview {
  display: flex;
  gap: 5rem;
  position: relative;
}

aside {
  position: absolute;
  top: 0;
  right: 0;
  padding: 16px;
  font-size: 0.7rem;
}
aside a {
  text-decoration: underline;
}
