@page "/{kitId}/themes"

<div class="page theme-page">
    <div class="page__container">
        <header class="page--header">
            <div class="title">Overview</div>
            <h2>Themes</h2>
            <p class="subheader">
                These themes are the foundation of the styleguide that you can edit or 
                change to fit your needs. You can select a theme as a starting point or 
                create your own from scratch.
            </p>
        </header>
        <div class="content">
            <section>
                <header>
                    <h3>Premade Kodekit Styleguides</h3>
                    <p class="subheader">Themes are coming soon! Stay tuned for an update.</p>
                </header>
                @*<div tabindex="0" @onclick="@(e => SelectTheme("default"))">
                    <div class="theme-card">
                        <img src="/images/dash-example.svg" alt="Theme Icon" />
                    </div>
                    <label>Kodekit Default</label>
                </div>
                <div tabindex="0" @onclick="@(e => SelectTheme("blank"))">
                    <div class="theme-card">
                        <img src="/images/dash-example.svg" alt="Theme Icon" />
                    </div>
                    <label>Kodekit Blank Slate</label>
                </div>*@
            </section>
        </div>
    </div>
</div>


@code {
    [Parameter] public string kitId { get; set; }

    private async Task SelectTheme(string theme)
    {
        if(theme == "default")
        {
            await KitRepository.SetKitThemeAsync(kitId);
        }
    }
}