@import "../../_variables";

.lists {
    section {
        .list-items {
            margin-top: 40px;
        }
    }

    .preview-example {
        display: flex;
        > * {
            margin: 16px;
        }
    }
}