@inherits LiveForm
@page "/{kitId}/box-shadow"

<header>
    <h1>Effects</h1>
    <h2>Box Shadow</h2>
    <p>
        Add box shadows to different elements.
    </p>
    <div class="toggle-bg">
        <label class="switch">
            <input type="checkbox" @bind="@isBackgroundWhite">
            <span class="slider"></span>
        </label>
        <p>
            Toggle Background Color
        </p>
    </div>
</header>

<article class="@(isBackgroundWhite ? "white-background" : "")">
    @if (kit != null)
    {
        <EditForm EditContext="@Context">
            <section>
                <header>
                    <h3>Small Shadow Settings</h3>
                </header>
                <ShadowSettings Shadow="smallShadow" />
            </section>
            <section>
                <header>
                    <h3>X-Large Shadow Settings</h3>
                </header>
                <ShadowSettings Shadow="largeShadow" />
            </section>

            <section>
                <Preview Kit=kit PreviewBackgroundEditable=true>
                    <div>
                        <div class="shadow-100"></div>
                        <label>Small Shadow</label>
                    </div>
                    <div>
                        <div class="shadow-300"></div>
                        <label>Medium Shadow</label>
                    </div>
                    <div>
                        <div class="shadow-600"></div>
                        <label>Large Shadow</label>
                    </div>
                    <div>
                        <div class="shadow-1000"></div>
                        <label>X-Large Shadow</label>
                    </div>
                </Preview>
            </section>
        </EditForm>
    }
</article>
    
@code {
    bool isBackgroundWhite = false;
    Shadow smallShadow => kit!.Current.GetShadow("small")!;
    Shadow largeShadow => kit!.Current.GetShadow("large")!;
}