@import "../../_variables";

.icons { 
    section {
        select {
            width: 50%;
        }
    }

    .preview-example {
        i {
            display: inline-block;
            margin: 5px;
        }
    }
}