@import "../_variables";

.header {
    height: 70px;
    background: $white;
    font-family: Lato;

    .logo {
        position: absolute;
        top: 20px;
        left: 135px;
        font-size: 20px;
    }

    .login {
        position: absolute;
        top: 20px;
        right: 185px;
    }

    a {
        text-decoration: none;
        color: $black;

    }

    button {
        cursor: pointer;
        background: none;
        border: none;
    }
}

.navbar {
    position: fixed;
    right: -300px;
    width: 300px;
    background: $white;
    height: 100vh;
    z-index: 10;
    transform: translatex(-100%);
    transition-duration: 0.5s;
    transition-property: right,transform;
    font-family: Lato;
    box-shadow: 12px 24px 10px 9px $gray;

    ul {
        li {
            list-style-type: none;
            padding: 10px 0;
        }
    }

    a {
        text-decoration: none;
        color: $black;

        &:hover {
            text-decoration: underline;
        }
    }

    &--toggler {
        position: absolute;
        top: 15px;
        right: 85px;
    }

    &.collapse {
        right: -300px;
        transform: translatex(100%);
        transition-duration: 1s;
        transition-property: right,transform;
    }
}
