@inherits InputText

<span class="inputcolor" style="background: @BackgroundColor;">
    <input @attributes="AdditionalAttributes"
           class="@CssClass"
           type="color"
           @bind="CurrentValueAsString"
           @bind:event="oninput" />
    <span class="hex-value">@CurrentValueAsString</span>
</span>

@code {
    [Parameter] public string BackgroundColor { get; set; }
}