@inherits LayoutComponentBase

<div class="layout--header">
    <NavMenu kitId="@kitId" />
    <div class="divider"></div>
    <PageInfo kitId="@kitId" />
</div>

<div class="main">
    @Body
</div>

@inject IConfiguration Config
@code {
    string kitId;
    private User User;

    protected override async Task OnParametersSetAsync()
    {
        await GetUser();
        object result = null;
        if ((this.Body.Target as RouteView)?.RouteData.RouteValues?.TryGetValue("kitId", out result) == true)
        {
            kitId = result?.ToString();
        }

        if (kitId == null)
        {
            //ImportUrl = null;
            string id = await localStorage.GetItemAsync<string>("kodekitId");
            if (id != null)
            {
                kitId = id;
            }
            else
            {
                var kit = await Api.CreateKitAsync(User != null ? User.Id : "");
                await localStorage.SetItemAsStringAsync("kodekitId", kit.KitId);
                kitId = kit.KitId;
            }

        }
    }

    private async Task GetUser()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        if (user.Identity.IsAuthenticated)
        {
            User = await Api.GetUserAsync();
        }
    }
}