@page "/color-palette"

<div class="color-palette">
    <ColorBlotch Type="Primary" Weight="50" Hex="#F49FE1" />
    <ColorBlotch Type="Primary" Weight="100" Hex="#F181D9" />
    <ColorBlotch Type="Primary" Weight="200" Hex="#EE6BD2" />
    <ColorBlotch Type="Primary" Weight="300" Hex="#EB4FC9" />
    <ColorBlotch Type="Primary" Weight="400" Hex="#EA43C6" />
    <ColorBlotch Type="Primary" Weight="500" Hex="#E937C2" />
    <ColorBlotch Type="Primary" Weight="600" Hex="#DB33B7" />
    <ColorBlotch Type="Primary" Weight="700" Hex="#CD30AB" />
    <ColorBlotch Type="Primary" Weight="800" Hex="#BF2D9F" />
    <ColorBlotch Type="Primary" Weight="900" Hex="#B12994" />
</div>