<div class="color-card">
    @if (Color.Value.HexValue == null)
    {
        <ColorBlotch Hex="@Color.Value.HexValue" />
    }
    else
    {
        <ColorBlotch HideImages="true" />
    }

    <div class="color-card--content">
        <label>@Color.Name</label>
        <div class="color-info">
            <p class="hex">@Color.Value.HexValue</p>
            <aside class="swatch" style="@FillStyle"></aside>
        </div>
    </div>
</div>

@code {
    [Parameter] public Variable<Color> Color { get; set; } = null!;
    [Parameter] public string Weight { get; set; } = "500";
 
    string FillStyle => Color.Value.HexValue == null ? "visibility: hidden"
        : Color.Value.HexValue.StartsWith("#") ? $"background: {Color.Value.HexValue}"
        : $"background: var(--{Color.Value.HexValue})";
}