section {
    .inputs--wrapper {
        gap: 20px;

        div {
            label:first-of-type {
                margin-bottom: 20px;
            }
        }
    }
}

.preview-example {
    display: flex;
    flex-wrap: wrap;
    padding: 24px 32px;

    > * {
        margin: 0px 30px 30px 0;
    }

    .input-form-preview {
        justify-content: normal;

        svg {
            top: 8%;
            fill: #E5E5E5;
        }
    }

    input {
        height: unset;
    }
}
