@inherits LiveForm
@page "/{kitId}/icons"

<header>
    <h1>Base Styles</h1>
    <h2>Icons</h2>
    <p>
        Provide visual symbols and logos.
    </p>
</header>
<article>
    <section>
        <header>
            <h3>Icon Sets</h3>
            <p class="subheader">
                There are several icon libraries available, each with a different style and syntax for use. The selected library will be automatically integrated into your stylesheet.
            </p>
        </header>
        @if (kit != null)
        {
            <EditForm EditContext="@Context">
                <section>
                    <label>
                        <InputSelect @bind-Value="kit.Current.Icons.Name">
                            <option>Select:</option>
                            <option value="Material">Material</option>
                            <option value="Remix">Remix</option>
                            <option value="CSS">CSS</option>
                            <option value="FontAwesome">FontAwesome</option>
                        </InputSelect>
                        Icon Set
                    </label>
                    <Preview Kit=kit>
                        @foreach (var icon in RandomIcons)
                        {
                            <i class="@(kit.Current.Icons.Name == "FontAwesome" ? "fas " + icon : icon)" title=".@icon"></i>
                        }
                    </Preview>
                </section>
            </EditForm>
        }
    </section>
</article>

@code {
    List<string> RandomIcons = new();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        RandomIcons = await kit!.Current.Icons.GetRandomIconsAsync();
    }
}

