@import "../Core/Colors.scss";

.page {
    form {
        //Div that contains the Input, Label and Icon
        label {
            display: flex;
            align-content: center;
            justify-content: center;
            flex-direction: column;
            text-align: left;
            position: relative;
            //Selecting the image inside of the input div.
            i {
                position: absolute;
                top: 40%;
                transform: translateY(-50%);
                z-index: 2;
                left: 5%;
            }
        }
    }
}
