@inherits HighlightPageBase<ShadowsModel>
@page "/{kitId}/box-shadow"

<div class="effects-page page">
    <div class="page__container">
        <header class="page--header fadeInUp">
            <div class="title">Effects</div>
            <h2>Box Shadow</h2>
            <p class="subhedaer">
                Add box shadows to different elements.
            </p>
        </header>
        <div class="content">
            @if (Model != null)
            {
                <EditForm EditContext="@Context">
                    <section class="fadeInUp" style="animation-delay: 0.6s;">
                        <header>
                            <h3>Small Shadow Settings</h3>
                        </header>
                        <div class="inputs--wrapper fadeInUp">
                            <label>
                                <InputNumber @bind-Value="Model.Small.X" class="small" />
                                X Length (px)
                            </label>
                            <label>
                                <InputNumber @bind-Value="Model.Small.Y" class="small" />
                                Y Length (px)
                            </label>
                            <label>
                                <InputNumber @bind-Value="Model.Small.Blur" class="small" />
                                Blur (px)
                            </label>
                            <label>
                                <InputNumber @bind-Value="Model.Small.Spread" class="small" />
                                Spread (px)
                            </label>
                            <label>
                                <InputColor @bind-Value="Model.Small.HexColor" />
                                Shadow Color
                            </label>
                            <label>
                                <InputNumber @bind-Value="Model.Small.Opacity" class="small" />
                                Shadow Opacity (%)
                            </label>
                        </div>
                    </section>
                    <section class="fadeInUp" style="animation-delay: 0.9s;">
                        <header>
                            <h3>X-Large Shadow Settings</h3>
                        </header>
                        <div class="inputs--wrapper">
                            <label>
                                <InputNumber @bind-Value="Model.XLarge.X" class="small" />
                                X Length (px)
                            </label>
                            <label>
                                <InputNumber @bind-Value="Model.XLarge.Y" class="small" />
                                Y Length (px)
                            </label>
                            <label>
                                <InputNumber @bind-Value="Model.XLarge.Blur" class="small" />
                                Blur (px)
                            </label>
                            <label>
                                <InputNumber @bind-Value="Model.XLarge.Spread" class="small" />
                                Spread (px)
                            </label>
                            <label>
                                <InputColor @bind-Value="Model.XLarge.HexColor" />
                                Shadow Color
                            </label>
                            <label>
                                <InputNumber @bind-Value="Model.XLarge.Opacity" class="small" />
                                Shadow Opacity (%)
                            </label>
                        </div>
                        <Preview Kit=kit ExampleAnimationDelay="1.2s" CodeAnimationDelay="1.5s">
                            <div>
                                <div class="shadow-100"></div>
                                <label>Small Shadow</label>
                            </div>
                            <div>
                                <div class="shadow-300"></div>
                                <label>Medium Shadow</label>
                            </div>
                            <div>
                                <div class="shadow-600"></div>
                                <label>Large Shadow</label>
                            </div>
                            <div>
                                <div class="shadow-1000"></div>
                                <label>X-Large Shadow</label>
                            </div>
                        </Preview>
                    </section>
                </EditForm>
            }
        </div>
    </div>
</div>

@code {
    protected override async Task<ShadowsModel> GetAsync()
    {
        return await PublicApi().GetShadowAsync(kitId);
    }
    
    protected override async Task<Kit> UpdateAsync()
    {
        return await PublicApi().UpdateShadowAsync(Model);
    }
}
