@import "../../_variables";

.effects-page {
    section {
        padding-bottom: 40px;
    }

    .preview-example {
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        > div {
            margin: 0 16px 16px 0;

            div {
                height: 160px;
            }
        }
    }
}
