@import "../../_variables";

.effects-page {

    .preview-example {
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        > div {
            margin: 0 16px 16px 0;

            div {
                height: 160px;
            }
        }
    }

    .inputcolor {
        margin: 0 30px 20px 0;
    }
}
