@import "../../_variables";

.effects-page {

    .preview-example {
        display: flex;
        flex-wrap: wrap;
        padding: 10px 6px 60px 32px;

        > div {
            padding-top: 10px;
        }
    }

    .color-picker {
        position: relative;
        margin-right: 32px;
        margin-top: -20px;

        span {
            background: $white;
            padding: 6px 10px;
            width: 144px;
            height: 40px;
            border: 1px solid #D2D4D9;
            box-sizing: border-box;
            border-radius: 4px;
            display: flex;
            font-size: 14px;
            line-height: 180%;
            color: #3A3A40;
            cursor: pointer;
        }
    }

    input[type=color] {
        border: none;
        border-radius: 4px;
        width: 23px;
        height: 26px;
        margin: 0 10px 0 0;
        padding: 0;
    }

    .example-shadow {
        width: 222px;
        height: 160px;
        background: $white;
        margin: 8px 24px 0 0;
        border-radius: 8px;
    }
}