@inherits HighlightPageBase<ShadowsModel>
@page "/{kitId}/box-shadow"

<div class="effects-page page">
    <div class="page__container">
        <header>
            <div class="title">Effects</div>
            <h2>Box Shadow</h2>
            <p>
                Add box shadows to different elements.
            </p>
        </header>
        <div class="content">
            @if (Model != null)
            {
                <h3>Drop Shadows</h3>
                <EditForm EditContext="@Context">
                    <h4>Small Shadow Settings</h4>
                    <div class="section">
                        <label>
                            X Length (px)
                            <InputNumber @bind-Value="Model.XLarge.X" class="small" />
                        </label>
                        <label>
                            Y Length (px)
                            <InputNumber @bind-Value="Model.XLarge.Y" class="small" />
                        </label>
                        <label>
                            Blur (px)
                            <InputNumber @bind-Value="Model.XLarge.Blur" class="small" />
                        </label>
                        <label>
                            Spread (px)
                            <InputNumber @bind-Value="Model.XLarge.Spread" class="small" />
                        </label>
                        <label class="color-picker">
                            Shadow Color
                           <InputColor @bind-Value="Model.XLarge.Color" />
                        </label>
                        <label>
                            Shadow Opacity
                            <InputNumber @bind-Value="Model.XLarge.Opacity" class="small" />
                        </label>
                    </div>


                    <h4>X-Large Shadow Settings</h4>
                    <div class="section">
                        <label>
                            X Length (px)
                            <InputNumber @bind-Value="Model.XLarge.X" class="small" />
                        </label>
                        <label>
                            Y Length (px)
                            <InputNumber @bind-Value="Model.XLarge.Y" class="small" />
                        </label>
                        <label>
                            Blur (px)
                            <InputNumber @bind-Value="Model.XLarge.Blur" class="small" />
                        </label>
                        <label>
                            Spread (px)
                            <InputNumber @bind-Value="Model.XLarge.Spread" class="small" />
                        </label>
                        <label class="color-picker">
                            Shadow Color
                           <InputColor @bind-Value="Model.XLarge.Color" />
                        </label>
                        <label>
                            Shadow Opacity
                            <InputNumber @bind-Value="Model.XLarge.Opacity" class="small" />
                        </label>
                    </div>

                    <Preview Kit=kit>
                        <div>
                            <label>Small Shadow</label>
                            <div class="shadow-100">
                            </div>
                        </div>
                        <div class="shadow-300">
                            <label>Medium Shadow</label>
                            <div class="shadow-300">
                            </div>
                        </div>
                        <div class="shadow-600">
                            <label>Large Shadow</label>
                            <div class="shadow-600">
                            </div>
                        </div>
                        <div class="shadow-900">
                            <label>X-Large Shadow</label>
                            <div class="shadow-1000">
                            </div>
                        </div>
                    </Preview>
                </EditForm>
            }
        </div>
    </div>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        Model = await PublicApi().GetShadowAsync(kitId);

        if (Model.Small == null)
        {
            Model.Small = new Shadow();
        }

        if (Model.XLarge == null)
        {
            Model.XLarge = new Shadow();
        }
    }

    private async Task Submit()
    {
        await PublicApi().UpdateShadowAsync(Model);
    }
}
