@import "Colors.scss";

section.secondary {
    padding: 40px 32px;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 8px 8px 0px 0px;
    margin-bottom: -20px;
    color: #17171A;
    font-family: 'Roboto Mono', monospace;
}

.code-example {
    background: $grey-900;
    border-radius: 0px 0px 8px 8px;
    padding: 32px;
    color: $orange;
    margin-bottom: 40px;

    span {
        color: $purple;
    }

    .comment {
        color: $grey-300;
    }
}

.effects {
    section {
        padding-bottom: 40px;
    }
}