@import "../_variables";

.landing {

    .hero {
        background: $background;
        height: calc(100vh - 180px);
        padding: 180px 20px 0 20px;
        margin-top: -180px;

        &__container {
            position: relative;
            max-width: 1000px;
            width: 100%;
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;

            .button--blue {
                border: none;
                color: $white;
                background: $blue;
                border-radius: 4px;
                padding: 7px 24px;
                font-size: 16px;
                line-height: 160%;
                font-weight: 400;
            }

            .button--gray {
                border: none;
                color: $text-gray;
                background: $button-gray;
                border-radius: 4px;
                padding: 7px 24px;
                font-size: 16px;
                line-height: 160%;
                font-weight: 400;
                margin-left: 24px;
            }

            a {
                text-decoration: none;
                color: $text-primary;
                cursor: pointer;
                font-family: Roboto Mono;
                font-size: 16px;
                line-height: 160%;
            }
        }

        .example {
            width: 400px;
            height: 391px;
            padding: 32px;
            background: $white;
            border: 1px solid #CDCED9;
            box-sizing: border-box;
            border-radius: 4px;
            position: absolute;
            right: 0;
            top: 45px;

            h3 {
                font-family: Roboto Mono;
                font-weight: 500;
                font-size: 18px;
                line-height: 160%;
                color: $text-blue;
                padding-bottom: 10px;
                margin: 0;
            }

            .divider {
                font-family: Roboto Mono;
                font-weight: normal;
                font-size: 14px;
                line-height: 160%;
                color: $text-gray;
                padding: 4px 0 24px 0;
            }

            label {
                color: $text-gray;
                font-family: Roboto;
                font-size: 14px;
                line-height: 180%;
                position: relative;

                span {
                    position: absolute;
                    top: 30px;
                    left: 8px;
                    width: 24px;
                    height: 24px;
                    display: block;
                    z-index: 10;
                    border-radius: 4px;
                }


                input {
                    display: block;
                    font-family: Roboto Mono;
                    padding: 8px 16px 8px 44px;
                    border: 1px solid #E7E7ED;
                    background: #F7F8F9;
                    margin-bottom: 20px;
                    width: 172px;
                    line-height: 160%;
                    font-size: 16px;
                    border-radius: 4px;
                    box-sizing: border-box;
                }

                select {
                    display: block;
                    font-family: Roboto Mono;
                    padding: 8px 16px;
                    border: 1px solid #E7E7ED;
                    background: #F7F8F9;
                    margin-bottom: 20px;
                    line-height: 160%;
                    font-size: 16px;
                    width: 290px;
                    border-radius: 4px;
                    box-sizing: border-box;
                }
            }
        }

        .arrow__container {
            text-align: center;
            position: absolute;
            bottom: 36px;
            width: calc(100% - 40px);
            margin: 0 auto;
        }
    }

    h1 {
        font-family: 'Roboto Mono';
        max-width: 516px;
        font-size: 40px;
        line-height: 160%;
        font-weight: bold;
        color: $text-primary
    }

    p {
        font-family: Roboto;
        font-size: 18px;
        line-height: 180%;
        max-width: 400px;
        width: 100%;
        color: $text-secondary;
        padding-bottom: 50px;
    }

    .highlight {
        display: flex;
        flex-wrap: wrap;
        padding-top: 167px;
        max-width: 1000px;
        width: 100%;
        margin: 0 auto;

        > div {
            display: flex;
            height: 72px;

            &:not(:last-child) {
                margin-right: 28px;
            }
        }

        p {
            color: $text-primary;
            font-family: Roboto Mono;
            font-size: 14px;
            line-height: 160%;
            max-width: 258px;
        }

        img {
            vertical-align: middle;
            margin-right: 16px;
        }
    }

    .intro {
        background: linear-gradient(128deg, #FDFBFB 28.07%, #EBEDEE 100%);
        padding: 120px 119px;

        &__container {
            width: 100%;
            max-width: 1000px;
            margin: 0 auto;
        }

        &--header {
            color: $text-primary;
            font-family: Roboto Mono;
            font-weight: 700;
            font-size: 32px;
            text-align: center;
            padding-bottom: 10px;
        }

        .step {
            display: flex;
            flex-wrap: wrap;
            margin: 40px 0;

            p {
                padding-right: 112px;
            }

            h3 {
                font-family: Roboto Mono;
                font-size: 24px;
                line-height: 160%;
            }

            .img-container {
                border-radius: 4px;
                background: $white;
                border: 1px solid #E7E7ED;
                height: 254px;
                width: 486px;
            }
        }

        &-cta {
            background: linear-gradient(128deg, #FDFBFB 28.07%, #EBEDEE 100%);
            border: 1px solid $text-primary;
            box-sizing: border-box;
            border-radius: 4px;
            display: flex;
            flex-wrap: wrap;
            padding: 3px 40px;
            position: relative;
            margin-top: 120px;

            h2 {
                font-family: Roboto Mono;
                font-weight: 700;
                font-size: 28px;
                line-height: 160%;
            }

            button {
                position: absolute;
                top: 30px;
                right: 40px;
                font-family: Roboto Mono;
                font-size: 16px;
                line-height: 160%;
                padding: 5px 15px;
                color: $text-secondary;
                border: 1px solid $text-secondary;
                background: none;
                height: 36px;
                border-radius: 4px;
            }
        }
    }
}