#cursor {
  position: fixed;
  top: -70px;
  left: -70px;
  height: 140px;
  width: 140px;
  z-index: 3000;
  pointer-events: none;
}
#cursor > * {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center center;
}

#cursor-point {
  width: 0.8rem;
  height: 0.8rem;
  background-color: white;
  border-radius: 100%;
  z-index: 3000;
}

#cursor-follow {
  padding: 2rem;
  border: 0.1rem solid white;
  border-radius: 100%;
  transition: opacity 250ms ease-in-out;
}

#cursor-text {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  animation: spin 10s linear infinite;
  pointer-events: none;
  z-index: 2500;
  transition: opacity 250ms ease-in-out;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
