::deep a {
  color: var(--white);
  padding: 0 15px;
  opacity: 0.7;
  font: 300 14px/22px "EncodeSans";
  transition: 200ms ease-in-out;
  position: relative;
}
::deep a:hover {
  opacity: 1;
}
::deep a:active {
  opacity: 0.7;
}
::deep a img {
  display: none;
  position: absolute;
  top: 7px;
  left: 0px;
}
::deep a.active {
  opacity: 1;
}
::deep a.active img {
  display: block;
}
