header {
  padding-top: 65px;
}

hr {
  border-top: 1px solid var(--grey-300);
  margin-top: 25px;
}

main {
  display: grid;
  grid-template-columns: auto;
  gap: 20px;
  min-height: 0;
  margin-right: -6vw;
}
main.no-sidebar {
  grid-template-columns: auto;
}
main div {
  max-height: 100%;
  overflow-y: auto;
  padding: 100px 6vw 50px 0;
}
@media screen and (min-width: 100vh) {
  main {
    grid-template-columns: 223px auto;
  }
}
