nav {
  width: 100%;
  padding: 0px 80px;
  padding-top: 65px;
  padding-bottom: 25px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  background: var(--background);
  position: relative;
  z-index: 1000;
}
nav.transparent {
  background: none;
}
nav > * {
  position: relative;
  z-index: 1000;
}
nav:hover .navmenu .menu .category .links {
  height: 167px;
}
nav header {
  z-index: 1000;
}
nav header a {
  font-family: "QuantaGroteskPro";
  font-weight: 500;
  font-size: 23px;
  line-height: 100%;
  color: var(--white);
  text-decoration: none;
}
@media screen and (max-width: 780px) {
  nav header a {
    margin: 0 auto;
    padding-left: 0;
  }
}
@media screen and (max-width: 780px) {
  nav header {
    text-align: center;
  }
}
nav header .mobile {
  display: none;
  position: absolute;
  left: 25px;
}
@media screen and (max-width: 780px) {
  nav header .mobile {
    display: block;
  }
}
nav .navmenu {
  z-index: 1000;
}
nav .menu {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  z-index: 1000;
}
@media screen and (max-width: 780px) {
  nav .menu {
    transform: translateX(-256px);
    transition: all 0.5s ease;
  }
  nav .menu.show-mobile {
    display: block;
    left: 0;
    z-index: 11;
    transform: translateX(0);
    transition: all 0.5s ease;
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.1), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
  }
}
nav .menu .category {
  width: 122px;
  display: flex;
  flex-direction: column;
  z-index: 1000;
}
nav .menu .category.html-elements {
  width: 163px;
}
nav .menu .heading {
  font-family: "QuantaGroteskPro";
  font-weight: 500;
  font-size: 23px;
  line-height: 100%;
}
nav .menu .links {
  display: flex;
  flex-direction: column;
  height: 0px;
  transition: height 500ms ease-in-out;
  max-height: 167px;
}
nav .menu .links a {
  margin-bottom: 13px;
  color: var(--white);
  opacity: 0.7;
  font-family: "EncodeSans";
  font-weight: 300;
  font-size: 14px;
  line-height: 100%;
  text-decoration: none;
  transition: 200ms ease-in-out;
}
nav .menu .links a:first-of-type {
  padding-top: 18px;
}
nav .menu .links a:last-of-type {
  margin-bottom: 0;
}
nav .menu .links a:hover {
  opacity: 1;
}
nav .menu .links a:active {
  opacity: 0.7;
}
nav aside {
  background: transparent;
  z-index: 1000;
}
nav aside .login-display {
  position: relative;
  z-index: 1000;
}
nav aside .login-display .login {
  font-family: "QuantaGroteskPro";
  font-weight: 500;
  font-size: 23px;
  line-height: 100%;
  margin-bottom: 18px;
}
nav aside .login-display .user-menu button {
  width: 100%;
  font-family: "QuantaGroteskPro";
  font-weight: 500;
  font-size: 23px;
  line-height: 100%;
  color: var(--white);
  white-space: nowrap;
}
nav aside .login-display .overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background: transparent;
  z-index: 10;
}
nav aside .login-display .dropdown-menu {
  width: 150px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 38px;
  right: 0px;
  background: var(--background-light);
  border: 1px solid var(--white);
  border-radius: 8px;
  z-index: 100;
}
nav aside .login-display .dropdown-menu a {
  display: block;
  width: 100%;
  color: var(--white);
  font-size: 14px;
  line-height: 100%;
  text-decoration: none;
  transition: 200ms ease-in-out;
}
nav aside .login-display .dropdown-menu a:hover {
  transform: scale(104%);
}
nav aside .login-display .dropdown-menu .logout {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 0;
  color: var(--white);
  border: none;
  background: none;
  font-size: 14px;
  transition: 200ms ease-in-out;
}
nav aside .login-display .dropdown-menu .logout:hover {
  transform: scale(104%);
}
nav aside .login-display .dropdown-menu .logout span {
  vertical-align: middle;
  font-size: 16px;
  margin: -2px 0 0 5px;
}
