//colors
$background: linear-gradient(128deg, #FDFBFB 28.07%, #EBEDEE 100%);
$black: #000000;
$blue: #0B5FFF;
$gray: #c2c2c2;
$button-gray: #E7E7ED;
$dark-gray: #525151;
$white: #FFFFFF;
$text-gray: #6B6C7E;
$text-primary: #272833;
$text-secondary: #393A4A;
$text-blue: #004AD7;
