.header {
  height: 70px;
  background: #FFFFFF; }
  .header .logo {
    position: absolute;
    top: 20px;
    left: 135px; }
  .header .login {
    position: absolute;
    top: 20px;
    right: 185px; }
  .header a {
    text-decoration: none; }

.navbar {
  position: fixed;
  right: 0;
  width: 300px;
  background: #FFFFFF;
  height: 100vh; }
  .navbar ul li {
    list-style-type: none; }
  .navbar a {
    text-decoration: none; }
  .navbar--toggler {
    position: absolute;
    top: 15px;
    right: 85px; }
  .navbar.collapse {
    display: none; }

/*@import "Shared/Footer";*/
.add-kit {
  padding: 50px; }
  .add-kit form > div {
    padding: 20px; }
    .add-kit form > div input, .add-kit form > div textarea {
      display: block;
      margin-top: 5px;
      border: none;
      border-radius: 4px;
      padding: 10px; }
  .add-kit button {
    margin: 20px; }

body {
  margin: 0;
  overflow-x: hidden;
  background: #dbd7d7; }
