@if (Weights != null)
{
    <InputSelect @bind-Value=Value>
        @foreach (var weight in Weights)
        {
            <option value="@weight.Key">
                @weight.Value (@weight.Key)
            </option>
        }
    </InputSelect>
}

@code {
    IDictionary<string, string> Weights;
    private string _value;
    [Parameter] public string Value
    {
        get => _value;
        set
        {
            if (_value == value ) return;
            _value = value;
            OnValueChanged.InvokeAsync(value);
        }
    }

    [Parameter] public EventCallback<string> OnValueChanged { get; set; }
    [Parameter] public EventCallback<string> ValueChanged { get; set; }


    protected override async Task OnInitializedAsync()
    {
        Weights = (await PublicApi().GetWeightsAsync()).Weights;
    }
}
