@inherits InputText

<span class="inputcolor">
    <input @attributes="AdditionalAttributes"
           class="@CssClass"
           type="color"
           @bind="CurrentValueAsString"
           @bind:event="oninput" />
    @CurrentValueAsString
</span>

