@if (Kit != null)
{
    <div class="preview-example-container">
        <header>
            * Using live generated CSS from <a href="@CleanCssUrl" target="_blank">@CleanCssUrl</a>
        </header>
        @if (CssUrl != null)
        {
            <style type="text/css">
                @@import url('@(CssUrl)&v=@CurrentVersion');
            </style>
        }

        <div class="preview-example @Scope @(AdditionalClass != null ? "preview-example--" + AdditionalClass : "")" @ref=PreviewBlock>
            @ChildContent
        </div>

        <pre>
        <code class="language-html" @ref=CodeBlock>
            </code>
        </pre>
    </div>
}

@inject IConfiguration Config
@code {
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public Kit Kit { get; set; }
    [Parameter] public string AdditionalClass { get; set; }
    ElementReference PreviewBlock;
    ElementReference CodeBlock;
    string CssUrl;
    string CleanCssUrl;
    string Scope;
    string CurrentVersion;

    protected override void OnInitialized()
    {
        Scope = $"preview-{Guid.NewGuid()}";
    }

    protected override void OnParametersSet()
    {
        if (Kit == null) return;

        var newUrl = Config["ApiUrl"] + $"/{Kit.Id}.css?scope={Scope}";
        if (newUrl != CssUrl)
        {
            CssUrl = newUrl;
            CleanCssUrl = newUrl.Split("?")[0];
        }

        if (CurrentVersion != Kit.CurrentRevisionId)
        {
            CurrentVersion = Kit.CurrentRevisionId;
            StateHasChanged();
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JSRuntime.InvokeVoidAsync("populatePreviewCode", PreviewBlock, CodeBlock);
    }
}
