@if (Kit != null)
{
    @if (CssUrl != null)
    {
        <style type="text/css">
            @@import url('@(CssUrl)&v=@CurrentVersion');
        </style>
    }

    <div class="preview-example @Scope" @ref=PreviewBlock>
        <div>@CurrentVersion</div>
        @ChildContent
    </div>

    <pre>
    <code class="language-html" @ref=CodeBlock>
            </code>
        </pre>
}

@inject IConfiguration Config
@code {
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public Kit Kit { get; set; }
    ElementReference PreviewBlock;
    ElementReference CodeBlock;
    string CssUrl;
    string Scope;
    string CurrentVersion;

    protected override void OnParametersSet()
    {
        Scope = $"preview-{Guid.NewGuid()}";
        CssUrl = Config["ApiUrl"] + $"/{Kit.Id}.css?scope={Scope}";
        if (CurrentVersion != Kit.CurrentRevisionId)
        {
            CurrentVersion = Kit.CurrentRevisionId;
            StateHasChanged();
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        

        await JSRuntime.InvokeVoidAsync("populatePreviewCode", PreviewBlock, CodeBlock);
    }
}
