@if (CssUrl != null)
{
    <style type="text/css">
        @@import url('@CssUrl');
    </style>
}

<div class="preview-example @Scope" @ref=PreviewBlock>
    @ChildContent
</div>
                    
<pre>
    <code class="language-html" @ref=CodeBlock>
    </code>
</pre>

@inject IConfiguration Config
@code {
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public string KitId { get; set; }
    ElementReference PreviewBlock;
    ElementReference CodeBlock;
    string CssUrl;
    string Scope;
    int version = 0;

    protected override void OnInitialized()
    {
        Scope = $"preview-{Guid.NewGuid()}";
        CssUrl = Config["ApiUrl"] + $"/{KitId}.css?v={version}&scope={Scope}";
        version++;
    }


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JSRuntime.InvokeVoidAsync("populatePreviewCode", PreviewBlock, CodeBlock);
    }
}
