@if (Kit != null)
{
    @if (CssUrl != null)
    {
        <style type="text/css">
            @@import url('@(CssUrl)&v=@CurrentVersion');
        </style>
    }

    <div class="preview-example @Scope @(AdditionalClass != null ? "preview-example--" + AdditionalClass : "")" @ref=PreviewBlock>
        @ChildContent
    </div>

    <pre>
        <code class="language-html" @ref=CodeBlock>
        </code>
    </pre>
}

@inject IConfiguration Config
@code {
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public Kit Kit { get; set; }
    [Parameter] public string AdditionalClass { get; set; }
    ElementReference PreviewBlock;
    ElementReference CodeBlock;
    string CssUrl;
    string Scope;
    string CurrentVersion;

    protected override void OnInitialized()
    {
        Scope = $"preview-{Guid.NewGuid()}";
    }

    protected override void OnParametersSet()
    {
        if (Kit == null) return;

        var newUrl = Config["ApiUrl"] + $"/{Kit.Id}.css?scope={Scope}";
        if (newUrl != CssUrl)
            CssUrl = newUrl;

        if (CurrentVersion != Kit.CurrentRevisionId)
        {
            CurrentVersion = Kit.CurrentRevisionId;
            StateHasChanged();
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JSRuntime.InvokeVoidAsync("populatePreviewCode", PreviewBlock, CodeBlock);
    }
}
