<button @onclick="Submit">
    Save & Continue
    <img src="/images/eyecon.svg" alt="Kodekit Eye Logo" />
</button>

@code {
    [Parameter] public EventCallback<MouseEventArgs> OnSubmit { get; set; }
    [Parameter] public string NextPage { get; set; }
    
    async Task Submit()
    {
        await OnSubmit.InvokeAsync();

        var kitId = Nav.ToBaseRelativePath(Nav.Uri).Split("/").First();
        Nav.NavigateTo($"/{kitId}/{NextPage}");
    }
}
