<div class="section">
    <label>
        X Length (px)
        <InputNumber @bind-Value="Shadow.X" class="small"/>
    </label>
    <label>
        Y Length (px)
        <InputNumber @bind-Value="Shadow.Y" class="small"/>
    </label>
    <label>
        Blur (px)
        <InputNumber @bind-Value="Shadow.Blur" class="small"/>
    </label>
    <label>
        Spread (px)
        <InputNumber @bind-Value="Shadow.Spread" class="small"/>
    </label>
    <label class="color-picker">
        Shadow Color
        <span>
            <input type="color" @bind=Shadow.Color @bind:event="oninput">
            @Shadow.Color
        </span>
    </label>
    <label>
        Shadow Opacity
        <InputNumber @bind-Value="Shadow.Opacity" class="small"/>
    </label>
</div>

@code {
    [Parameter] public Shadow Shadow { get; set; }
    private Shadow _value;
    [Parameter]
    public Shadow Value
    {
        get => _value;
        set
        {
            if (_value == value) return;
            _value = value;
            ShadowChanged.InvokeAsync(value);
        }
    }
    [Parameter] public EventCallback<Shadow> ShadowChanged { get; set; }

}
