<div class="section-container @(IsDisabled ? "disabled" : "")">
    <label class="switch">
        <input type="checkbox" @bind="Value" disabled="@IsDisabled">
        <span class="slider"></span>
    </label>
    @Title
</div>

@code {
    [Parameter] public string Title { get; set; }
     private bool _value;
    [Parameter] public bool Value
    {
        get => _value;
        set
        {
            if (_value == value ) return;
            _value = value;
            ValueChanged.InvokeAsync(value);
        }
    }
    [Parameter] public EventCallback<bool> ValueChanged { get; set; }

    [Parameter] public bool IsDisabled { get; set; }
}
