.color-card {
    width: 110px;
    height: 147px;
    font-family: 'EncodeSans';
    font-weight: 400;

    &--content {
        display: flex;
        flex-direction: column;
        margin-top: 100px;

        label {
            margin-bottom: 5px;
            color: #FFFFFF;
            font-size: 16px;
            line-height: 120%;
        }

        .color-swatch {
            display: flex;
            flex-direction: row;
            gap: 5px;
            font-family: 'EncodeSans';
            font-weight: 300;
            font-size: 14px;
            line-height: 100%;

            aside {
                width: 26px;
                height: 14px;
                border: 1px solid #FFFFFF;
                border-radius: 4px;
                vertical-align: middle;
            }
        }
    }

    &--divider {
        width: 100%;
        border-top: 1px solid #FFFFFF;
        margin-bottom: 6px;
    }
}
