<div class="color-card">
    <ColorBlotch Hex="@Hex" />
    <div class="color-card--content">
        <label>@Weight.ToString()</label>
        <div class="color-card--divider"></div>
        <div class="color-swatch">
            <p class="hex">@Hex</p>
            <aside class="swatch" style="background: @Hex;"></aside>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string Type { get; set; }
    [Parameter]
    public string Weight { get; set; }
    [Parameter]
    public string Hex { get; set; }
}