@inherits LiveForm
@page "/{kitId}/dropdowns"

<header>
    <h1>Elements</h1>
    <h2>Dropdowns</h2>
    <p>
        Use to select from a series of choices.
    </p>
</header>

<article>
    @if (kit != null)
    {
        <EditForm EditContext="@Context">
            <section>
                <header>
                    <h3>Dropdown Styling</h3>
                    <p>
                        The &lt;select&gt; element defines a dropdown list. The &lt;option&gt; elements define 
                        options that can be selected. To define a pre-selected option, add the selected attribute to the option.
                    </p>
                    <aside>This element inherits direct styling from <a href="@($"/{kitId}/inputs")">Inputs & Textareas</a> as defaults.</aside>
                </header>

                @if (kit.Current.Dropdowns.OverwriteInherited)
                {
                    <div class="inputs--wrapper">
                        <label>
                            <InputNumber @bind-Value="kit.Current.Dropdowns.Font.Size" min="1" />
                            Font Size (px)
                        </label>
                        <label>
                            <InputFontWeight @bind-Value=kit.Current.Dropdowns.Font.Weight />
                            Font Weight
                        </label>
                        <label>
                            <InputNumber @bind-Value="kit.Current.Dropdowns.Padding.Vertical" min="0" />
                            Vertical Padding (px)
                        </label>
                        <label>
                            <InputNumber @bind-Value="kit.Current.Dropdowns.Padding.Horizontal" min="0" />
                            Horizontal Padding (px)
                        </label>
                        <label>
                            <InputNumber @bind-Value="kit.Current.Dropdowns.Border.Radius" min="0" />
                            Corner Radius (px)
                        </label>
                        <label>
                            <InputNumber @bind-Value="kit.Current.Dropdowns.Border.Width" min="0" />
                            Border Width (px)
                        </label>
                    </div>
                }

                <div class="overwrite-styling">
                    <Switch @bind-Value=kit.Current.Dropdowns.OverwriteInherited Title="Overwrite Inherited Styling" />
                </div>

                <Preview Kit=kit>
                    <select>
                        <option>Dropdown Menu</option>
                        <option>Default Row</option>
                        <option selected>Selected Row</option>
                        <option>Default Row</option>
                    </select>
                </Preview>
            </section>
        </EditForm>
    }
</article>
