:root {
    //Black & White
    --black: #000000;
    --white: #FFFFFF;

    //Backgrounds
    --background: #0E0E0E;
    --background-light: #1A1A1A;

    //Greys
    --dark-grey: #525151;
    --light-grey: #979797;

    //New Brand Colors
    --blue: #0B5FFF;
    --turquoise: #00C2FF;
    --pink: #FF29C3;

    --green: #34CE97;
    --green-300: #6EF8D7;

    //Old Brand Colors
    --yellow: #A3A60E;
    --orange: #FFB46E;
    --purple: #875BBF;

    //Primary Colors
    --primary-100: #B3CDFF;
    --primary-200: #C2D7FF;
    --primary-300: #80ACFF;
    --primary-500: #0B5FFF;
    --primary-700: #0053F0;
    --primary-900: #004AD7;

    //Secondary Colors
    --secondary-100: #E5F7F6;
    --secondary-300: #6DAEFF;
    --secondary-500: #00BFB2;
    --secondary-700: #2782F4;
    --secondary-900: #126FE4;

    //Tertiary Colors
    --tertiary-100: #FFDEC0;
    --tertiary-300: #FFCC9C;
    --tertiary-500: #FFB46E;
    --tertiary-700: #F89B45;
    --tertiary-900: #EB8629;

    //Greyscale
    --grey-50: #F2F2F2;
    --grey-100: #E5E5E5;
    --grey-200: #CCCCCC;
    --grey-300: #B2B2B2;
    --grey-400: #999999;
    --grey-500: #7F7F7F;
    --grey-600: #666666;
    --grey-700: #454545;
    --grey-800: #1E1E1E;
    --grey-900: #0E0E0E;

    //System Colors
    //Error Color
    --error-500: #F96464;

    //Warning Color
    --warning-500: #FF8F39;

    //Success Color
    --success-500: #5ACA75;

    // Fonts
    --encode: 'EncodeSans', sans-serif;
    --encode_semiexpanded: 'EncodeSans_SemiExpanded', sans-serif;
    --encode_expanded: 'EncodeSans_Expanded', sans-serif;
    --firacode: 'FiraCode', monospace;
    --quanta: 'QuantaGroteskPro', sans-serif;
}

@font-face {
    font-family: 'EncodeSans';
    font-weight: 300;
    src: url(wwwroot/fonts/EncodeSans-Light.ttf) format('truetype');
}

@font-face {
    font-family: 'EncodeSans';
    font-weight: 400;
    src: url(wwwroot/fonts/EncodeSans-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'EncodeSans';
    font-weight: 500;
    src: url(wwwroot/fonts/EncodeSans-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'EncodeSans_SemiExpanded';
    font-weight: 300;
    src: url(wwwroot/fonts/EncodeSans_SemiExpanded-Light.ttf) format('truetype');
}

@font-face {
    font-family: 'EncodeSans_SemiExpanded';
    font-weight: 400;
    src: url(wwwroot/fonts/EncodeSans_SemiExpanded-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'EncodeSans_SemiExpanded';
    font-weight: 500;
    src: url(wwwroot/fonts/EncodeSans_SemiExpanded-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'EncodeSans_SemiExpanded';
    font-weight: 700;
    src: url(wwwroot/fonts/EncodeSans_SemiExpanded-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'EncodeSans_Expanded';
    font-weight: 300;
    src: url(wwwroot/fonts/EncodeSans_Expanded-Light.ttf) format('truetype');
}

@font-face {
    font-family: 'EncodeSans_Expanded';
    font-weight: 400;
    src: url(wwwroot/fonts/EncodeSans_Expanded-Rgular.ttf) format('truetype');
}

@font-face {
    font-family: 'EncodeSans_Expanded';
    font-weight: 500;
    src: url(wwwroot/fonts/EncodeSans_Expanded-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'EncodeSans_Expanded';
    font-weight: 700;
    src: url(wwwroot/fonts/EncodeSans_Expanded-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'FiraCode';
    font-weight: 400;
    src: url(wwwroot/fonts/FiraCode-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'QuantaGroteskPro';
    font-weight: 400;
    src: url(wwwroot/fonts/QuantaGroteskPro-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'QuantaGroteskPro';
    font-weight: 500;
    src: url(wwwroot/fonts/QuantaGroteskPro-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'QuantaGroteskPro';
    font-weight: 700;
    src: url(wwwroot/fonts/QuantaGroteskPro-Bold.ttf) format('truetype');
}

@mixin landscape {
    @media screen and (min-width: 100vh) {
        @content;
    }
}