// Colors
:root {
    //Black & White
    --black: #000000;
    --white: #FFFFFF;
    //Backgrounds
    --background: #0E0E0E;
    --background-light: #1A1A1A;
    //Greys
    --dark-grey: #525151;
    --light-grey: #979797;
    //New Brand Colors
    --blue: #0B5FFF;
    --turquoise: #00C2FF;
    --pink: #FF29C3;
    --green: #34CE97;
    --green-300: #6EF8D7;
    //Old Brand Colors
    --yellow: #A3A60E;
    --orange: #FFB46E;
    --purple: #875BBF;
    //Primary Colors
    --primary-100: #B3CDFF;
    --primary-200: #C2D7FF;
    --primary-300: #80ACFF;
    --primary-500: #0B5FFF;
    --primary-700: #0053F0;
    --primary-900: #004AD7;
    //Secondary Colors
    --secondary-100: #E5F7F6;
    --secondary-300: #6DAEFF;
    --secondary-500: #00BFB2;
    --secondary-700: #2782F4;
    --secondary-900: #126FE4;
    //Tertiary Colors
    --tertiary-100: #FFDEC0;
    --tertiary-300: #FFCC9C;
    --tertiary-500: #FFB46E;
    --tertiary-700: #F89B45;
    --tertiary-900: #EB8629;
    //Greyscale
    --grey-50: #F2F2F2;
    --grey-100: #E5E5E5;
    --grey-200: #CCCCCC;
    --grey-300: #B2B2B2;
    --grey-400: #999999;
    --grey-500: #7F7F7F;
    --grey-600: #666666;
    --grey-700: #454545;
    --grey-800: #1E1E1E;
    --grey-900: #0E0E0E;
    //System Colors
    --error-500: #F96464;
    --warning-500: #FF8F39;
    --success-500: #5ACA75;
}

//Fonts
@font-face {
    font-family: 'EncodeSans';
    font-weight: 300;
    src: url(wwwroot/fonts/EncodeSans-Light.ttf) format('truetype');
}

@font-face {
    font-family: 'EncodeSans';
    font-weight: 400;
    src: url(wwwroot/fonts/EncodeSans-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'EncodeSans_Expanded';
    font-weight: 300;
    src: url(wwwroot/fonts/EncodeSans_Expanded-Light.ttf) format('truetype');
}

@font-face {
    font-family: 'FiraCode';
    font-weight: 400;
    src: url(wwwroot/fonts/FiraCode-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'QuantaGroteskPro';
    font-weight: 400;
    src: url(wwwroot/fonts/QuantaGroteskPro-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'QuantaGroteskPro';
    font-weight: 500;
    src: url(wwwroot/fonts/QuantaGroteskPro-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'QuantaGroteskPro';
    font-weight: 700;
    src: url(wwwroot/fonts/QuantaGroteskPro-Bold.ttf) format('truetype');
}

body {
    margin: 0;
    overflow-x: hidden;
    background: var(--background);
    font-family: 'EncodeSans', sans-serif;
    font-weight: 400;
    color: var(--white);
}

app {
    background: var(--background);
    padding: 40px 80px 100px 80px;

    @media screen and (max-width: 780px) {
        padding: 0 40px 100px 40px;
    }

    @media screen and (max-width: 500px) {
        padding: 0 25px 100px 25px;
    }
}

main {
    > header {
        border-bottom: 1px solid rgba(200, 200, 200, 0.3);
        padding-bottom: 100px;

        h1 {
            font-family: 'QuantaGroteskPro';
            font-weight: 400;
            font-size: 14px;
            line-height: 120%;
            color: #CCCCCC;
        }

        h2 {
            margin-bottom: 20px;
            font-family: 'QuantaGroteskPro';
            font-weight: 700;
            font-size: 40px;
            line-height: 120%;
            color: var(--white);
        }

        p {
            padding-top: 0px;
            font-family: 'EncodeSans';
            font-weight: 400;
            font-size: 18px;
            line-height: 160%;
            color: var(--grey-300);
        }
    }

    .subheader {
        font-family: 'EncodeSans';
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        color: var(--grey-300);
    }

    article {
        padding-bottom: 100px;
    }

    section {
        border-bottom: 1px solid rgba(200, 200, 200, 0.3);

        header {
            margin-bottom: 40px;
            color: var(--white);

            h3 {
                font-family: 'QuantaGroteskPro';
                font-weight: 500;
                font-size: 20px;
                line-height: 120%;
                color: var(--white);

                span {
                    margin-right: 6px;
                    vertical-align: middle;
                    font-size: 14px;
                    line-height: 100%;
                }
            }

            p {
                margin-top: 10px;
                font-family: 'EncodeSans';
                font-weight: 400;
                font-size: 16px;
                line-height: 160%;
                color: #F2F2F2;
            }
        }

        .inputs--wrapper {
            display: flex;
            gap: 20px;
            flex-wrap: wrap;
        }

        .preview-example {
            padding-bottom: 0px;

            label {
                font-family: 'EncodeSans_Expanded';
                font-weight: 300;
                font-size: 13px;
                line-height: 100%;
                color: rgba(255,255,255, 0.8);
                margin-bottom: 10px;
            }
        }

        h4 {
            margin-bottom: 10px;
            font-family: 'QuantaGroteskPro';
            font-weight: 500;
            font-size: 16px;
            line-height: 160%;
            color: var(--white);
        }
    }

    section, .subsection {
        width: 100%;
        margin-top: 40px;
        padding-bottom: 100px;

        &:last-of-type {
            border: none;
        }

        header {
            &.flex, .flex {
                display: flex;
                gap: 24px;

                span {
                    margin-right: 6px;
                    vertical-align: middle;
                    font-size: 14px;
                    line-height: 100%;
                }

                p {
                    margin-top: -2px;
                }
            }
        }

        &-container {
            display: block;
        }

        .preview {
            max-width: 496px;
            width: 100%;
            min-height: 87px;
        }
        /*.large {
        width: 486px;
    }

    .medium {
        width: 302px
    }

    .small {
        width: 142px;
    }*/
    }

    .button--save {
        color: var(--grey-900);
        font-size: 16px;
        padding: 8px 16px;
        background: transparent;
        border: 1px solid var(--grey-900);
        transition: transform 0.3s ease-in-out;

        img, svg {
            margin-left: 10px;
            vertical-align: middle;
            margin-top: -2px;
        }

        svg path {
            fill: var(--grey-900);
        }

        &:hover {
            transform: scale(1.05, 1.05);
        }
    }

    label {
        font-family: 'EncodeSans_Expanded';
        font-weight: 300;
        font-size: 13px;
    }

    input, select, textarea {
        padding: 5px 12px;
        border-radius: 4px;
        margin: 0;
        margin-bottom: 5px;
        background: #292929;
        border: none;
        font-family: 'EncodeSans';
        font-weight: 400;
        font-size: 14px;
        line-height: 160%;
        color: var(--white);

        &:focus {
            box-shadow: none;
        }
    }

    select {
        cursor: pointer;
    }

    textarea {
        min-height: 100px;
    }

    input {
        cursor: text;

        &.large {
            width: 100%;
        }
    }

    input[type=number] {
        max-width: 144px;
    }

    .preview-background {
        margin-top: 40px;

        label {
            display: block !important;
            width: 220px;

            span {
                display: inline-block;
                width: 26px;
                height: 14px;
                margin-left: 5px;
                border: 1px solid #FFFFFF;
                border-radius: 4px;
                vertical-align: middle;
                margin-bottom: 3px;

                &:hover {
                    cursor: pointer;
                }


                input {
                    visibility: hidden;
                    width: 26px;
                    height: 14px;
                    padding: 0;
                }

                .hex-value {
                    display: none;
                }
            }
        }
    }

    .preview-example-container {
        margin-top: 40px;

        .preview-example {
            padding: 44px;
            box-sizing: border-box;
            border: 1px solid rgba(255, 255, 255, 0.3);
            border-radius: 40px;
            color: var(--white);

            &-flex {
                display: flex;
                flex-wrap: wrap;

                > * {
                    margin: 0px 30px 30px 0;
                }
            }

            &--body {
                p {
                    width: 100%;
                }

                .large {
                    color: var(--white);
                    font-size: 20px;
                    line-height: 160%;
                }

                .medium {
                    color: var(--white);
                    font-size: 17px;
                    line-height: 160%;
                }

                .small {
                    color: var(--white);
                    font-size: 14px;
                    line-height: 160%;
                }
            }
        }

        .preview-info {
            margin-top: 40px;
            margin-bottom: 20px;
            font-family: 'EncodeSans';
            font-style: normal;
            font-weight: 200;
            font-size: 14px;
            line-height: 160%;
            color: var(--white);

            a {
                text-decoration: underline;
            }
        }

        pre {
            width: 100%;
            padding: 32px 0px 32px 44px;
            border: 1px solid rgba(255, 255, 255, 0.3);
            border-radius: 40px;
            overflow: hidden;
            background: #17171A;

            code {
                padding: 0px;
                padding-right: 44px;
                background: #17171A;
                max-height: 304px;
                overflow-x: hidden !important;
                overflow-y: auto;
                white-space: pre-wrap;
                font-family: 'FiraCode';
                font-weight: 400;
                font-size: 13px;
                line-height: 24px;
                color: #CA9100;
                /*&::-webkit-scrollbar {
            width: 0px;
        }*/

                .hljs-tag {
                    color: #979797;
                }

                .hljs-name {
                    color: #875BBF;
                }

                .hljs-attr {
                    color: #E46886;
                }

                .hljs-string {
                    color: #A3A60E;
                }
            }
        }
    }

    pre {
        width: 100%;
        padding: 32px 0px 32px 44px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 40px;
        overflow: hidden;
        background: #17171A;

        code {
            padding: 0px;
            padding-right: 44px;
            background: #17171A;
            max-height: 304px;
            overflow-x: hidden !important;
            overflow-y: auto;
            white-space: pre-wrap;
            font-family: 'FiraCode';
            font-weight: 400;
            font-size: 13px;
            line-height: 24px;
            color: #CA9100;
            /*&::-webkit-scrollbar {
            width: 0px;
        }*/

            .hljs-tag {
                color: #979797;
            }

            .hljs-name {
                color: #875BBF;
            }

            .hljs-attr {
                color: #E46886;
            }

            .hljs-string {
                color: #A3A60E;
            }
        }
    }

    .show-link {
        background: var(--white);
        padding: 8px 14px;
        border-radius: 6px;
        border: 1px solid var(--grey-300);
        display: block;
        margin-top: 16px;
        font-size: 14px;
    }

    .delete {
        cursor: pointer;
        margin: -4px 0 0 15px;
        font-size: 19px;
        vertical-align: middle;
    }
}

.loading {
    .wrapper {
        background: black;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        > div {
            background: black;
            width: 200px;
            height: 200px;
            position: relative;

            div:not(.middle) {
                width: 100px;
                height: 100px;
                position: absolute;
                bottom: 0;
                border-radius: 4px;
                left: 0;
                background: white;
            }

            .square1 {
                animation: moveOne 5s ease-in-out infinite;
            }

            .square2 {
                animation: moveTwo 5s ease-in-out infinite;
            }

            .middle {
                animation: middleRotate 5s ease-in-out infinite;

                svg {
                    position: absolute;
                }

                .middle1 {
                    top: 79px;
                    left: 79px;
                    animation: middle1 5s ease-in-out infinite;
                }

                .middle2 {
                    bottom: 79px;
                    right: 79px;
                    transform: rotate(180deg);
                    animation: middle2 5s ease-in-out infinite;
                }

                .middle3 {
                    top: 79px;
                    right: 79px;
                    transform: rotate(90deg);
                    animation: middle3 5s ease-in-out infinite;
                }

                .middle4 {
                    bottom: 79px;
                    left: 79px;
                    transform: rotate(270deg);
                    animation: middle4 5s ease-in-out infinite;
                }
            }
        }

        .percentage {
            width: 23px;
            height: 14px;
            margin-top: 30px;

            #loader {
                font-size: 13px;
                color: #B2B2B2;
            }
        }
    }
}

section.secondary {
    padding: 40px 32px;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 8px 8px 0px 0px;
    margin-bottom: -20px;
    color: #17171A;
    font-family: 'Roboto Mono', monospace;
}

.code-example {
    background: var(--grey-900);
    border-radius: 0px 0px 8px 8px;
    padding: 32px;
    color: var(--orange);
    margin-bottom: 40px;

    span {
        color: var(--purple);
    }

    .comment {
        color: var(--grey-300);
    }
}

.effects {
    section {
        padding-bottom: 40px;
    }
}

@keyframes moveOne {
    0% {
        transform: translate(0px, 0px);
    }

    20% {
        transform: translate(100px, -100px);
    }

    40% {
        transform: translate(0px, -100px);
    }

    60% {
        transform: translate(0px, 0px);
    }

    80% {
        transform: translate(100px, -100px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}

@keyframes moveTwo {
    0% {
        transform: translate(0px, 0px);
    }

    20% {
        transform: translate(0px, 0px);
    }

    40% {
        transform: translate(100px, 0px);
    }

    60% {
        transform: translate(100px, -100px);
    }

    80% {
        transform: translate(100px, -100px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}

@keyframes middleRotate {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    70% {
        opacity: 1;
    }

    71% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}


::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #E5E5E5;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-100px);
    }

    100% {
        transform: translateY(0);
    }
}

button {
    cursor: pointer;
}

.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
}

.sparc-authentication {
    justify-content: center;
    text-align: center;
    padding-top: 15%;
}

@import "_Imports";
