@import 'wwwroot/css/destyle';
@import '_Imports';
@import 'BlossomProgram';
@import 'Users/BlossomAuthenticator';

#blossomapp {
    position: relative;
    z-index: 500;
    cursor: none;
}

.blossom-authenticator {

}