body {
    position: relative;
    margin: 0;
    background: var(--background);
    font-family: var(--encode_semiexpanded);
    font-weight: 400;
    color: var(--white);
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: minmax(min-content, 150px) auto;
}

h1 {
    font-family: 'QuantaGroteskPro';
    font-weight: 500;
    font-size: 23px;
    line-height: 100%;
}

p {
    font-family: var(--encode_semiexpanded);
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
}

a, button, label, input, select, div, span, li {
    &:hover {
        cursor: none;
    }
}
