body {
    position: relative;
    margin: 0;
    background: var(--background);
    font-family: var(--encode_semiexpanded);
    font-weight: 400;
    color: var(--white);
    height: 100vh;
    overflow: hidden;
    width: 100vw;
    padding: 0 6vw;
    display: grid;
    grid-template-rows: minmax(min-content, 150px) auto;
}

h1 {
    font: 500 23px/100% 'QuantaGroteskPro';
}

h2 {
    font: 400 14px/120% 'QuantaGroteskPro';
    color: var(--grey-300);
}

h3 {
    font: 700 40px/120% 'QuantaGroteskPro';
    color: var(--white);
}

h4 {
    font: 500 20px/130% 'QuantaGroteskPro';
    margin-bottom: 1.25rem;
    margin-top: 2.5rem;
}

p {
    font-family: var(--encode_semiexpanded);
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    margin-bottom: 12px;
}

button, a.button {
    min-width: 220px;
    padding: 8px 12px;
    border: 1px solid transparent;
    border-radius: 4px;
    background: var(--grey-800);
    color: var(--white);
    font-size: 14px;
    line-height: 140%;
    text-align: center;
    transition: 250ms ease-in-out;

    &:hover {
        border: 1px solid var(--white);
    }

    &:active {
        background: var(--white);
        color: var(--background);
    }
}

a.button {
    display: inline-block;
}

.hljs {
    background: transparent;
}

/*a, button, label, input, select, div, span, li {
    &:hover {
        cursor: none;
    }
}
*/
.fadeInUp {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: fadeInUp;
    animation-delay: 0.3s;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    -webkit-animation-name: fadeInUp;
}

hr {
    border-color: rgba(200, 200, 200, 0.3);
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}
