::deep h1 {
  font-size: 3.4rem;
  line-height: 110%;
  letter-spacing: 0.045rem;
  margin-bottom: 1.25rem;
}
@media screen and (min-width: 100vh) {
  ::deep h1 {
    font-size: 4.5rem;
  }
}

::deep button {
  margin-top: 1rem;
}

a {
  text-decoration: underline;
}

::deep .preview {
  margin-bottom: 8.75rem;
}
::deep .preview > div {
  flex: 1;
}

aside {
  color: var(--grey-300);
}

h3 {
  margin-bottom: 1.25rem;
}

section > header {
  display: flex;
  gap: 0.39rem;
  padding: 1.5rem 0;
  align-items: center;
}
section > header span {
  font-size: 0.875rem;
}
section > header h4 {
  margin: 0;
}
section > header aside {
  margin-left: 1.5rem;
  font-size: 0.875rem;
}

section > div {
  display: grid;
  grid-template-columns: auto;
  gap: 1rem;
}
@media screen and (min-width: 100vh) {
  section > div {
    grid-template-columns: 1fr 1fr;
  }
}
