@import "../../_variables";

.colors {
    input {
        padding: 8px 16px 8px 44px;
    }


    .preview-example {
        box-sizing: border-box;
        border-radius: 8px;
        padding: 24px 16px 50px 16px;
        display: flex;
        flex-wrap: wrap;
        max-width: 1024px;
        width: 100%;

        label {
            padding: 8px 15px;
        }
    }

    section {
        padding-bottom: 40px;

        label {

            span {
                position: absolute;
                top: 34px;
                left: 8px;
                width: 24px;
                height: 24px;
                display: block;
                z-index: 10;
                border-radius: 4px;
            }
        }
    }

    .comment {
        color: $yellow;
    }

    section:last-of-type {
        section {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    .cta-card {
        width: 48%;
        background: $white;
        display: flex;

        div {
            padding: 33px 43px 35px 30px;

            .subtitle {
                color: #FFB46E;
            }

            h5 {
                margin-bottom: 15px;
            }

            button:last-child {
                margin-left: 20px;
            }
        }
    }
}
