@import "../../_variables";

.colors {

    .content {
        position: relative;
    }

    aside {
        box-sizing: border-box;
        border-radius: 8px;
        padding: 16px;
        background: $white;
        width: 150px;
        position: absolute;
        top: -150px;
        right: 0;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);

        .title {
            font-size: 10px;
            color: $gray400;
            margin: 0;
        }

        h3 {
            font-size: 24px;
            color: $gray900;
            margin: 2px 0 10px;
        }

        section {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 2px;

            label {
                font-size: 11px;
                color: $gray700;

                div {
                    cursor: pointer;
                }
            }

            .set-colors {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                width: 100%;
                font-size: 12px;

                div {
                    margin: 4px;
                    cursor: pointer;
                }
            }
        }
    }

    label {
        font-weight: normal;
        font-size: 14px;
        line-height: 180%;
        color: $gray700;
    }

    input {
        background: $white;
        border: 1px solid #E7E7ED;
        box-sizing: border-box;
        border-radius: 4px;
        padding: 4px 16px 4px 16px;
        display: block;
        margin: 0 30px 20px 0;
        font-size: 16px;
        line-height: 160%;
        color: $gray700;
        cursor: pointer;
        width: 100px;
    }

    .preview-example {
        box-sizing: border-box;
        border-radius: 8px;
        padding: 24px 16px 50px 16px;
        display: flex;
        flex-wrap: wrap;
        max-width: 1024px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
        padding: 24px 32px;

        label {
            padding: 0;
            margin-bottom: 8px;
            color: $gray700;
        }


        .color-display {
            width: auto;
            height: 142px;
            border-radius: 4px 4px 0 0;
            margin: 6px 0 0;
        }

        .subcolor-display {
            display: grid;
            grid-template-columns: repeat(10, 1fr);
            height: 28px;
        }

        &--greyscale {
            display: grid;
            grid-gap: 0;
            grid-template-columns: repeat(10, 1fr);
            padding: 24px 32px;

            .color-display {
                width: auto;
                height: 102px;
                margin: 0;
                border-radius: 0;
            }


            > div:first-child .color-display {
                border-radius: 4px 0px 0px 4px;
            }

            > div:last-child .color-display {
                border-radius: 0px 4px 4px 0px;
            }
        }

        &--noscale {
            .color-display {
                border-radius: 4px;
            }
        }
    }

    .section {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 40px;

        label {
            position: relative;
            margin-right: 32px;
        }
    }

    .comment {
        color: $yellow;
    }

    .preview-example--mockup {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 40px;

        @media screen and (max-width: 1000px) {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
        }

        h3 {
            margin-bottom: 20px;
        }

        > div {
            box-sizing: border-box;
            border-radius: 8px;
            background: $gray100;

            h4 {
                margin-bottom: 15px;
            }

            p {
                margin-bottom: 32px;
            }

            button.secondary {
                margin-left: 27px;
            }
        }
    }

    .card-with-image {
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 500px;
        padding: 0;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        > div {
            padding: 32px 40px;
        }
    }

    .card {
        padding: 32px 40px;
        display: block;
    }
}

.inputcolor {
    background: $white;
    padding: 6px 10px;
    width: 144px;
    height: 40px;
    border: 1px solid $gray300;
    box-sizing: border-box;
    border-radius: 4px;
    display: flex;
    font-size: 16px;
    line-height: 150%;
    cursor: pointer;

    input {
        border: none;
        border-radius: 4px;
        width: 23px;
        height: 26px;
        margin: 0 10px 0 0;
        padding: 0;
    }
}
