@import "../../_variables";

.colors {

    .content {
        position: relative;
    }

    aside {
        box-sizing: border-box;
        border-radius: 8px;
        padding: 16px;
        background: $white;
        width: 150px;
        position: absolute;
        top: -150px;
        right: 0;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);

        .title {
            font-size: 10px;
            color: $gray400;
            margin: 0;
        }

        h3 {
            font-size: 24px;
            color: $gray900;
            margin: 2px 0 10px;
        }

        section {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 2px;

            label {
                font-size: 11px;
                color: $gray700;

                div {
                    cursor: pointer;
                }
            }

            .set-colors {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                width: 100%;
                font-size: 12px;

                div {
                    margin: 4px;
                    cursor: pointer;
                }
            }
        }
    }

    label {
        font-weight: normal;
        font-size: 14px;
        line-height: 180%;
        color: $gray500;
    }

    input {
        background: $white;
        border: 1px solid #E7E7ED;
        box-sizing: border-box;
        border-radius: 4px;
        padding: 4px 16px 4px 16px;
        display: block;
        margin: 0 30px 20px 0;
        font-size: 16px;
        line-height: 160%;
        color: $gray500;
        cursor: pointer;
        width: 100px;
    }

    .preview-example {
        box-sizing: border-box;
        border-radius: 8px;
        padding: 24px 16px 50px 16px;
        display: flex;
        flex-wrap: wrap;
        max-width: 1024px;
        width: 100%;

        label {
            padding: 8px 15px;
        }

        .color-display {
            width: 293px;
            height: 142px;
            border-radius: 4px;
            margin: 6px 15px 0;
        }

        &--grayscale {

            .color-display {
                width: 106px;
                height: 102px;
                margin: 20px 0 0 0;
                border-radius: 0;

                &.first {
                    border-radius: 4px 0px 0px 4px;
                    margin: 20px 0 0 15px;
                }

                &.last {
                    border-radius: 0px 4px 4px 0px;
                    margin: 20px 15px 0 0;
                }
            }
        }
    }

    .section {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 40px;

        label {
            position: relative;
            margin-right: 32px;

            span {
                background: $white;
                padding: 6px 10px;
                width: 144px;
                height: 40px;
                border: 1px solid $gray300;
                box-sizing: border-box;
                border-radius: 4px;
                display: flex;
                font-size: 16px;
                line-height: 150%;
                cursor: pointer;

                input {
                    border: none;
                    border-radius: 4px;
                    width: 23px;
                    height: 26px;
                    margin: 0 10px 0 0;
                    padding: 0;
                }
            }
        }
    }

    .comment {
        color: $yellow;
    }

    .preview-mockup {

        section {
            width: 1080px;


            @media screen and (max-width: 780px) {
                width: unset;
            }

            > div {
                height: 227px;
                width: 496px;
                box-sizing: border-box;
                padding: 32px 40px;
                border-radius: 8px;
                background: $white;
                margin-right: 32px;


                @media screen and (max-width: 780px) {
                    margin: 10px auto;
                }

                img {
                    margin: -32px -40px;

                    @media screen and (max-width: 500px) {
                        width: 160px;
                    }
                }

                p {
                    font-size: 14px;
                    color: $gray500;

                    @media screen and (max-width: 500px) {
                        line-height: unset;
                    }
                }
            }
        }

        &--left {
            display: flex;

            > div {
                margin-left: 70px;
            }

            h5 {
                margin: 0 0 5px 0;
                color: $orange;
                font-size: 12px;
            }

            h4 {
                margin: 0;
                font-family: Inter;
                font-size: 18px;
                font-weight: 700;
                line-height: 22px;
                letter-spacing: 0.02em;
                color: $gray900
            }

            p {
                margin: 0;
                padding-top: 15px;
            }
        }

        &--right {
            display: block;

            h5 {
                margin: 0 0 5px 0;
                color: $orange;
                font-size: 14px;
            }

            h4 {
                margin: 0;
                font-family: Inter;
                font-size: 20px;
                font-weight: 700;
                line-height: 24px;
                letter-spacing: 0.02em;
                color: $gray900
            }


            p {
                margin: 0;
                padding-top: 20px;
            }
        }

        button {
            background: $primary500;
            color: $white;
            border-radius: 4px;
            border: none;
            font-size: 14px;
            padding: 3px 24px;
        }

        .button-secondary {
            background: none;
            color: $secondary500;
        }
    }
}
