@import "../../_variables";

.effects-page {

    .preview-example {
        display: flex;
        flex-wrap: wrap;
        padding: 10px 6px 60px 32px;

        > div {
            padding-top: 10px;
        }
    }

    .example-shadow {
        width: 222px;
        height: 160px;
        background: $white;
        margin: 8px 24px 0 0;
        border-radius: 8px;
    }
}