@import "../../_variables";

.global-page {
    section {
        header {
            h3 {
                margin-bottom: 40px;
            }
        }
    }

    .section-container {
        display: flex;
        margin: 20px 0;

        &:focus {
            border: none;
            box-shadow: none;
        }
    }

    .disabled {
        color: $white;

        input {
            &:checked + .slider {
                background-color: #1E1E1E;
                border: 1px solid $white;

                &:before {
                    -webkit-transform: translateX(33px);
                    -ms-transform: translateX(33px);
                    transform: translateX(33px);
                    background-color: $white;
                }

                &:focus {
                    border: none;
                    box-shadow: none;
                }
            }
        }
    }

    input[type="checkbox"]:disabled + .slider {
        opacity: 0.5;
    }
}