@import "../../_variables";

.global-page {
    .section-container {
        display: flex;
        margin: 20px 0;
        color: $gray700;
    }

    .disabled {
        color: $gray400;

        input {

            &:checked + .slider {
                background-color: $background;
                border: 2px solid $gray400;

                &:before {
                    -webkit-transform: translateX(12px);
                    -ms-transform: translateX(12px);
                    transform: translateX(12px);
                    background-color: $gray400;
                }

                &:focus {
                    border: 1px solid black;
                    box-shadow: 5px 5px 5px $primary500;
                }
            }
        }
    }

    input[type="checkbox"]:disabled + .slider {
        opacity: 0.5;
    }
}