@import "../../_variables";

.global-page {
    .section-container {
        display: flex;
        margin: 20px 0;
        color: $gray700;
    }

    h3 {
        margin: 80px 0 8px 0;
    }

    .disabled {
        color: $gray400;

        input {

            &:checked + .slider {
                background-color: $background;
                border: 2px solid $gray400;

                &:before {
                    -webkit-transform: translateX(12px);
                    -ms-transform: translateX(12px);
                    transform: translateX(12px);
                    background-color: $gray400;
                }
            }
        }
    }
}