@inherits HighlightPageBase<UpdateIconsModel>
@page  "/{kitId}/icons"

<div class="icons page">
    <div class="page__container">
        <header>
            <div class="title">Base Styles</div>
            <h2>Icons</h2>
            <p>
                Provide visual symbols and logos.
            </p>
        </header>
        <div class="content">
            <h3>Icon Sets</h3>
            <p class="subheader">
                There are several icon libraries available, each with a different style and syntax for use. The selected library will be automatically integrated into your stylesheet.
            </p>
            @if (kit != null && Model != null)
            {
                <EditForm EditContext="@Context">
                    <section>
                        <label>
                            Icon Set
                            <InputSelect @bind-Value="Model.Name">
                                <option>Select:</option>
                                <option value="Material">Material</option>
                                <option value="Remix">Remix</option>
                                <option value="CSS">CSS</option>
                                <option value="FontAwesome">FontAwesome</option>
                            </InputSelect>
                        </label>
                    </section>
                    <Preview Kit=kit>
                        @foreach (var icon in Model.IconsList)
                        {
                            <i class="@(Model.Name == "FontAwesome" ? "fas " + icon : icon)" title=".@icon"></i>
                        }
                    </Preview>
                </EditForm>
            }
        </div>
    </div>
</div>

@code {
    protected override async Task<UpdateIconsModel> GetAsync()
    {
        return await PublicApi().GetIconsAsync(kitId);
    }

    protected override async Task<Kit> UpdateAsync()
    {
        var result = await PublicApi().UpdateIconsAsync(Model);
        Model = await GetAsync();
        return result;

    }
}
