@page  "/icons"
@page  "/icons /{kitId}"

<div class="effects page">
    <div class="page__container">
        <header>
            <div class="title">Base Styles</div>
            <h2>Icons</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus.
            </p>
        </header>
        <div class="content">
            <h3>Icon Sets</h3>
            <p class="subheader">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus.
            </p>
            @if (kit != null)
            {
                <EditForm Model="@kit">
                    <section>
                        <label>
                            Icon Set
                            <span style="background-color: @kit.PrimaryColor"></span>
                            <select>
                                <option>Remix Icons</option>
                            </select>
                        </label>
                        <label>
                            Set Variation
                            <span style="background-color: @kit.SecondaryColor"></span>
                            <select>
                                <option>Outline</option>
                            </select>
                        </label>
                    </section>
                    <div class="preview-example">

                    </div>
                    <div class="code-example">
                        <code>

                        </code>
                    </div>
                    <button @onclick="Submit">
                        Save & Continue
                        <img src="/images/eyecon.svg" />
                    </button>
                </EditForm>
            }
        </div>
    </div>
</div>

@code {
    private Kit kit = new Kit();
    [Parameter] public string kitId { get; set; }

    protected override void OnInitialized()
    {

    }

    private async Task Submit()
    {
        //string newCss = new CreateCss().Execute(kit);

        //kit.Url = await new StorageContext().UploadString(newCss, kit.GUID.ToString() + ".css");
        //SaveColors();
        Nav.NavigateTo("/layout/" + kit.Id);
    }
}
