@import "../../_variables";

.icons { 

    section {
        padding-bottom: 15px;
    }

    .preview-example {
        min-height: 100px;
        padding: 32px;
        margin-bottom: -30px;
    }
}