@import "../../_variables";

.icons { 

    section {
        padding-bottom: 15px;
    }

    .preview-example {
        i {
            display: inline-block;
            margin: 5px;
        }
    }
}