@page  "/icons"
@page  "/icons/{kitId}"

<div class="effects page">
    <div class="page__container">
        <header>
            <div class="title">Base Styles</div>
            <h2>Icons</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus.
            </p>
        </header>
        <div class="content">
            <h3>Icon Sets</h3>
            <p class="subheader">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus.
            </p>
            @if (kit != null)
            {
                <EditForm Model="@kit">
                    <section>
                        <label>
                            Icon Set
                            <select>
                                <option>Remix Icons</option>
                            </select>
                        </label>
                        <label>
                            Set Variation
                            <select>
                                <option>Outline</option>
                            </select>
                        </label>
                    </section>
                    <div class="preview-example">

                    </div>
                    <div class="code-example">
                        <code>

                        </code>
                    </div>
                    <button @onclick="Submit">
                        Save & Continue
                        <img src="/images/eyecon.svg" />
                    </button>
                </EditForm>
            }
        </div>
    </div>
</div>

@code {
    private Kit kit = new Kit();
    [Parameter] public string kitId { get; set; }
    string currentKitId;

    protected override async Task OnInitializedAsync()
    {
        await GetKit();
    }

    private async Task GetKit()
    {
        //get from local storage
        string result = await localStorage.GetItemAsync<string>("kodekitId");
        currentKitId = result;

        if (kitId != null)
        {
            kit = await PublicApi().GetKitAsync(currentKitId);
        }
        else if (currentKitId != null)
        {
            kit = await PublicApi().GetKitAsync(currentKitId);
        }
    }

    private async Task Submit()
    {
        await PublicApi().UpdateKitAsync(kit);
        Nav.NavigateTo("/buttons/" + kit.KitId);
    }
}
