@page  "/layout"
@page  "/layout/{kitId}"

<div class="layout page">
    <div class="page__container">
        <header>
            <div class="title">Base Styles</div>
            <h2>Layout</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus.
            </p>
        </header>
        <div class="content">
            <h3>Container Width</h3>
            <p class="subheader">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus.
            </p>
            @if (kit != null)
            {
                <EditForm Model="@kit">
                    <section>
                        <label>
                            Presets
                            <select>
                                <option selected>Default (1000px)</option>
                            </select>
                            <label class="switch">
                                <input type="checkbox">
                                <span class="slider"></span>
                            </label>
                            Auto-center container to section
                        </label>
                    </section>
                    <div >
                        <code>

                        </code>
                    </div>
                    <button @onclick="Submit">
                        Save & Continue
                        <img src="/images/eyecon.svg" />
                    </button>
                </EditForm>
            }
        </div>
    </div>
</div>

@code {
    private Kit kit = new Kit();
    [Parameter] public string kitId { get; set; }

    protected override void OnInitialized()
    {

    }

    private async Task Submit()
    {
        //save
        Nav.NavigateTo("/global-settings/" + kit.Id);
    }
}
