@page  "/{kitId}/preview"

@if (ImportUrl != null)
{
    <style type="text/css">
        @@import url('@ImportUrl');
    </style>
}

<div class="preview page">
    <section class="hero">
        <div class="container">
            <div>
                <h1><strong>Preview your typography, colors & other settings.</strong></h1>
                <p class="medium">While creating your styleguide, you may want to preview your settings on something other than your live site. Use this page to preview your most recent changes & saves.</p>
                <div class="get-started">
                    <input type="email" name="email" value="" placeholder="Enter your email" />
                    <button>Get Started</button>
                </div>
            </div>
            <div class="img--container">
                <img src="/images/preview-hero-image.svg" alt="Preview Hero Image" />
            </div>
        </div>
    </section>
    <section>
        <header>
            <p class="subtitle">HOW TO</p>
            <h2><strong>Create a strong styleguide</strong></h2>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
        </header>
        <div class="features">
            <div class="feature">
                <img src="./images/attach-icon.svg" alt="Alternate Text" />
                <h5>Contrasting Colors</h5>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
            </div>

            <div class="feature">
                <img src="./images/attach-icon.svg" alt="Alternate Text" />
                <h5>Consistent Style</h5>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
            </div>

            <div class="feature">
                <img src="./images/attach-icon.svg" alt="Alternate Text" />
                <h5>Clear Hierarchy</h5>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
            </div>
        </div>
    </section>

    <section class="card-section">
        <header>
            <p class="subtitle">PRICING</p>
            <h2><strong>Preview Lists, Toggles & CTA</strong></h2>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
        </header>
        <div class="section-container">
            <p>Monthly</p>
            <label class="switch">
                <input type="checkbox">
                <span class="slider"></span>
            </label>
            <p>Annual</p>
        </div>
        <div>
            <div class="card card-primary">
                <p class="small">Individual</p>
                <h4>Professional</h4>
                <h5>$0<span>/month</span></h5>
                <div class="line"></div>
                <div>
                    <img src="./images/checkbox-circle-line.svg" alt="Alternate Text" />
                    <p>1 user</p>
                </div>
                <div>
                    <img src="./images/checkbox-circle-line.svg" alt="Alternate Text" />
                    <p>1 Styleguide</p>
                </div>
                <div>
                    <img src="./images/checkbox-circle-line.svg" alt="Alternate Text" />
                    <p>Version History</p>
                </div>
                <div>
                    <img src="./images/checkbox-line-through.svg" alt="Alternate Text" />
                    <p class="inactive">Theme Import</p>
                </div>
                <button>Get Started</button>
            </div>
            <div class="card card-secondary">
                <p class="small">Individual</p>
                <h4>Enterprise</h4>
                <h5>$19<span>/month</span></h5>
                <div class="line"></div>
                <div>
                    <img src="./images/checkbox-green-circle-line.svg" alt="Alternate Text" />
                    <p>1 user</p>
                </div>
                <div>
                    <img src="./images/checkbox-green-circle-line.svg" alt="Alternate Text" />
                    <p>1 Styleguide</p>
                </div>
                <div>
                    <img src="./images/checkbox-green-circle-line.svg" alt="Alternate Text" />
                    <p>Version History</p>
                </div>
                <div>
                    <img src="./images/checkbox-green-circle-line.svg" alt="Alternate Text" />
                    <p>Theme Import</p>
                </div>
                <button>Purchase Now</button>
            </div>
        </div>
    </section>
</div>

@inject IConfiguration Config
@code {
    [Parameter] public string kitId { get; set; }

    string ImportUrl;
    int version;

    protected override void OnParametersSet()
    {
        if (kitId != null)
        {
            ImportUrl = Config["ApiUrl"] + $"/{kitId}.css?v={version}";
            version++;
        }
        else
        {
            ImportUrl = null;
        }
    }
}