@import "../../_variables";
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.typography {
    .content {
        position: relative;

        .subsection {
            padding: 0;
            margin-bottom: 40px;

            .inputs--wrapper {
                display: flex;
                gap: 20px;
                flex-wrap: wrap;
            }

            .preview-text {
                width: 100%;
                margin-bottom: 20px;
            }

            select {
                background: url(images/expand-small.svg) no-repeat right #292929;
            }

            .edit-options {
                margin-top: 20px;
                padding: 6px 18px;
                border: 1px solid transparent;
                border-radius: 6px;
                font-family: 'EncodeSans';
                font-weight: 400;
                font-size: 14px;
                line-height: 160%;
                background: #1E1E1E;
                color: $white;
                text-align: center;
                transition: 250ms ease-in-out;

                i {
                    vertical-align: middle;
                    font-size: 20px;
                    margin-top: -6px;
                    margin-left: 10px;
                }

                &:hover {
                    border: 1px solid $white;
                }

                &:active {
                    background: $white;
                    color: #1E1E1E;
                }
            }

            .fontsize-overrides {
                display: flex;
                gap: 20px;
            }

            .toggle {
                &-hide {
                    display: none;
                }

                &-show {
                    display: flex;
                }
            }

            &.paragraph-settings {
                width: 100%;

                textarea {
                    width: 100%;
                    padding: 13px;
                    resize: none;
                }
            }
        }

        .preview-example {
            padding-bottom: 0px;

            label {
                font-family: 'EncodeSans_Expanded';
                font-weight: 300;
                font-size: 13px;
                line-height: 100%;
                color: rgba(255,255,255, 0.8);
                margin-bottom: 10px;
            }

            h1, h2, h3, h4, h5, h6, p {
                margin-bottom: 40px;
            }

            &:last-child {
                margin-bottom: 0px;
            }
        }
    }
}
