@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.typography {

    .preview-example {
        padding: 0 32px 40px 32px;

        h1, h2, h3, h4, h5, h6, p {
            margin-top: 40px;
        }
    }

    .large {
        @media screen and (max-width: 500px) {
            width: 314px !important;
        }
    }
}
