@using Kodekit.Web.Components.Colors;

<div class="color-blotch">
    <ColorSvg Hex=@Hex />
    <img class="color-blotch--shadow" src="/colors/Shadow.png" style="visibility: @(HideImages ? "hidden" : "visible")" />
    <img class="color-blotch--midtone" src="/colors/Midtone.png" style="visibility: @(HideImages ? "hidden" : "visible")" />
    <img class="color-blotch--highlight" src="/colors/Highlight.png" style="visibility: @(HideImages ? "hidden" : "visible")" />
</div>

@code {
    [Parameter]
    public string Hex { get; set; }

    [Parameter]
    public bool HideImages { get; set; }
}