.active {
  visibility: visible;
}

dialog {
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(23, 23, 26, 0.5);
  height: 100%;
  overflow-y: auto;
  visibility: hidden;
}
dialog .overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 50;
}
dialog--container {
  width: 100%;
  max-width: 752px;
  padding: 40px 80px;
  position: relative;
  z-index: 100;
  background: var(--background-light);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 19px;
  margin: 20% auto;
}
@media screen and (max-width: 780px) {
  dialog--container {
    width: 80%;
    margin: 40% auto;
  }
}
@media screen and (max-width: 500px) {
  dialog--container {
    width: 85%;
  }
}
dialog--container header {
  margin: 0;
  font-family: "EncodeSans";
  font-weight: 600;
  font-size: 20px;
  line-height: 160%;
  color: var(--white);
}
dialog--container p {
  padding: 0;
  margin-top: 20px;
  font-family: "EncodeSans";
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: var(--white);
}
dialog button {
  margin-top: 40px;
  padding: 6px 18px;
  border: 1px solid transparent;
  border-radius: 6px;
  font-family: "EncodeSans";
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  background: var(--grey-800);
  color: var(--white);
  text-align: center;
  transition: 250ms ease-in-out;
}
dialog button:hover {
  border: 1px solid var(--white);
}
dialog button:active {
  background: var(--white);
  color: var(--background);
}
dialog .button--confirm {
  border: 1px solid var(--error-500);
  color: var(--error-500);
  margin-right: 12px;
}
dialog .button--confirm:hover {
  border: 1px solid var(--white);
  color: white;
}
dialog .button--confirm:active {
  border: 1px solid var(--error-500);
  background: var(--error-500);
  color: var(--background);
}
dialog .button--close {
  position: absolute;
  font-size: 20px;
  top: 20px;
  right: 20px;
  color: var(--grey-700);
  cursor: pointer;
}
