.typography .content {
  position: relative;
}
.typography .content .subsection {
  padding: 0;
  margin-bottom: 40px;
}
.typography .content .subsection .inputs--wrapper {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.typography .content .subsection .preview-text {
  width: 100%;
  margin-bottom: 20px;
}
.typography .content .subsection select {
  background: url(images/expand-small.svg) no-repeat right #292929;
}
.typography .content .subsection .edit-options {
  margin-top: 20px;
  padding: 6px 18px;
  border: 1px solid transparent;
  border-radius: 6px;
  font-family: "EncodeSans";
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  background: var(--grey-800);
  color: var(--white);
  text-align: center;
  transition: 250ms ease-in-out;
}
.typography .content .subsection .edit-options i {
  vertical-align: middle;
  font-size: 20px;
  margin-top: -6px;
  margin-left: 10px;
}
.typography .content .subsection .edit-options:hover {
  border: 1px solid var(--white);
}
.typography .content .subsection .edit-options:active {
  background: var(--white);
  color: var(--background);
}
.typography .content .subsection .fontsize-overrides {
  display: flex;
  gap: 20px;
}
.typography .content .subsection .toggle-hide {
  display: none;
}
.typography .content .subsection .toggle-show {
  display: flex;
}
.typography .content .subsection.paragraph-settings {
  width: 100%;
}
.typography .content .subsection.paragraph-settings textarea {
  width: 100%;
  padding: 13px;
  resize: none;
}
.typography .content .preview-example {
  padding-bottom: 0px;
}
.typography .content .preview-example label {
  font-family: "EncodeSans_Expanded";
  font-weight: 300;
  font-size: 13px;
  line-height: 100%;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 10px;
}
.typography .content .preview-example h1, .typography .content .preview-example h2, .typography .content .preview-example h3, .typography .content .preview-example h4, .typography .content .preview-example h5, .typography .content .preview-example h6, .typography .content .preview-example p {
  margin-bottom: 40px;
}
.typography .content .preview-example:last-child {
  margin-bottom: 0px;
}
